.buttonWrap {
    width: auto;
    height: auto;
    border-radius: 4px;
    transition: .5s;
    max-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.red__border {
    border: 1px solid #ff7152;
    color: #fff;
}
.red__border:hover {
    background-color: #ff7152;
}
.red {
    border: 1px solid #ff7152;
    background-color: #ff7152;
    color: #fff;
}
.red:hover {
    background-color: transparent;
}
.blue__border {
    border: 1px solid #0500ff;
    color: #fff;
}
.blue__border:hover {
    background-color: #0500ff;
}
.blue {
    border: 1px solid #0500ff;
    background-color: #0500ff;
    color: #fff;
}
.blue:hover {
    background-color: transparent;
}
.gray {
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .3);
}
.gray:hover {
    border: 1px solid #0500ff !important;
    background-color: #0500ff !important;
    color: rgba(255, 255, 255, 1) !important;
}