.buttonWrap {
  width: auto;
  height: auto;
  border-radius: 30px;
  transition: 0.5s;
  max-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.red__border {
  border: 1px solid #162029;
  color: #162029;
}

.red__border:hover {
  background-color: #ff6969;
}

.red {
  border: 1px solid #ff6969;
  background-color: #ff6969;
  color: #162029;
}

.white {
  border: 1px solid #162029;
  background-color: #162029;
  color: #ff6969;
}

.red:hover {
  background-color: transparent;
}

.blue__border {
  border: 1px solid #0500ff;
  color: #162029;
}

.blue__border:hover {
  background-color: #0500ff;
}

.blue {
  border: 1px solid #0500ff;
  background-color: #0500ff;
  color: #162029;
}

.skyBlue {
  background-color: #a6d0dd;
  border: 1px solid #162029;
}

.skyBlue:hover {
  background-color: transparent;
}

.blue:hover {
  background-color: transparent;
}

.gray {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
.gray:hover {
  border: 1px solid #0500ff !important;
  background-color: #0500ff !important;
  color: rgba(255, 255, 255, 1) !important;
}
.transparent {
  border: 1px solid #0500ff;
  background-color: transparent;
  color: #162029;
}
.transparent:hover {
  border: 1px solid #0500ff !important;
  background-color: #0500ff !important;
  color: rgba(255, 255, 255, 1) !important;
}

.black__border__transparent {
  border: 1px solid #162029;
  background-color: transparent;
}

.black__border__transparent:hover {
  background: #a6d0dd;
  opacity: 0.6;
}

.white__border {
  border: 1px solid #162029;
}

.white__border:hover {
  border: 1px solid #ff6969;
  color: #ff6969;
}
