.itemWrapper{
  position: relative;
  width: 388px;
  height: 400px;
}

.sliderMainConteinerExpierd {
  position: relative;
  margin-top: 50px;
  /* opacity: 0.5; */
  width: 388px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.sliderMainConteinerExpierd:hover {
  opacity: 1;
}
.titleExpierd {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #1118269a;
}
.titleExpierdLater {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid #1118269a; 
}
.titleExpierdLater div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 50%;
  text-transform: capitalize;  
}
.titleExpierd div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 50%;
  text-transform: capitalize;
}
.expierdContent {
  opacity: 0.5;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.expierdContent:hover {
  opacity: 1;
}
.upPriceExpierd {
  margin: 50px 0 30px 0;
}
.upPriceExpierd div {
  display: flex;
  justify-content: center;
}

.priceUpSvg{
  transform: rotateZ(90deg);
  width: 13px;
  height: 13px;
  fill: #66bb6a;
  margin-right: 5px;;
}
.priceDownSvg {
  transform: rotateZ(-90deg);
  width: 13px;
  height: 13px;
  fill: #E94A4A;
  margin-left: 5px;; 
}
.up {
  font-size: 18px;
  color: #66BB6A;
}
.upPriceExpierd div  {
  display: flex;
  align-items: center;
}
.arrowSvg{
  stroke: #ffffff;
  transform: rotateZ(-90deg);
  /* height: 15px !important; */
  /* width: 15px; */
}
.payOut {
  text-align: center;
  font-size: 13px;
}
.lastPriceExpierd {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #e94a4a;
  border-radius: 4px;
}
.mainPriceExpierd {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.mainPriceExpierd h2 {
  font-size: 20px;
  line-height: 21px;
  color: #e94a4a;
}
.priceUpExpierd {
  display: flex;
  padding: 4.5px 10px;
  align-items: center;
  border: 0 solid #66bb6a;
  background: #e94a4a;
  border-radius: 4px;
}
.border {
  display: flex;
  justify-content: space-between;
}
.widtBorder h2 {
  margin: 25px 0;
  font-size: 20px;
  line-height: 21px;
  color: #66bb6a;
}
.widtBorder h3 {
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.7;
}
.leftSide h3 {
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  opacity: 0.7;
}
.priceDownContainer {
  margin: 30px 0 70px 0;
  text-align: center;
}
.priceDownContainer p {
  font-size: 18px;
  color: #7e7b7b;
}
.priceDownExpierd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.priceDownExpierd svg {
  opacity: 0.3;
}
.priceDownExpierd p {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #e94a4a;
  opacity: 0.3;
}
.wtf {
  box-shadow: 10px 10px 80px 20px red;
}
.lastPrice {
  position: relative;
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #66bb6a;
  border-radius: 4px;
}
.lastPrice h4 {
  font-size: 13px;
  line-height: 18px;
  opacity: 0.7;
}
.blur {
  position: absolute;
  top: -35%;
  left: -10%;
  width: 120%;
  padding-top: 120%;
  z-index: -1;
}
.mainPrice {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.mainPrice h2 {
  font-size: 20px;
  line-height: 21px;
  color: #66bb6a;
}
.priceUP {
  display: flex;
  padding: 7px 10px;
  align-items: center;
  border: 0 solid #66bb6a;
  background: #66bb6a;
  border-radius: 4px;
}
.UpBackground {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #66bb6a;
  box-shadow: 10px 10px 80px 20px rgb(40, 155, 75);
}
.buttonContent {
  padding: 18px 15px;
  margin: 0 20px;
  text-align: center;
  border: 1px solid #111826;
  border-radius: 4px;
}
.prizePool {
  display: flex;
  justify-content: space-between;
}
.enterUp {
  margin: 13px 0 12px 0;
  background-color: #66BB6A;
  padding: 10px 0;
  border-radius: 4px;
}
.enterDown {
  padding: 10px 0;
  background-color: #E94A4A;
  border-radius: 4px;
}
.laterIcone {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  font-size: 18px;
  color: #7e7b7b;
  margin: 50px 0;
}
.laterContainer {
  margin: 0 15px;
  height: 176px;
  border: 1px solid #111826;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.laterContainer p {
  opacity: 0.7;
  font-size: 15px;
}
.laterContainer span {
  margin-top: 3px;
  font-size: 20px;
}
.svgiconearrow {
  fill: #7e7b7b;
  transform: rotate(-90deg);
}

.borderDecor {
  display: flex;
  position: absolute;
  top: 150%;
  left: 50%;
  background: black;
  z-index: 50;
}
.positionBt {
  display: flex;
}
.positionBt svg {
  cursor: pointer;
  margin-right: 10px;
}
.bottomBorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.167);
}
.upButton {
  display: flex;
  -webkit-appearance: none;
  padding: 8px;
  border-radius: 4px;
  background: #66bb6a;
  align-items: center;
}
.wtpakk {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background: #e94a4a;
  align-items: center;
}
.wtpakk svg {
  margin-right: 10px;
  transform: rotateX(180deg);
}
.commitText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.commitSection {
  padding: 40px;
  text-align: center;
}
.cmcxPrice input {
  outline: none;
  background: none;
  padding-left: 260px;
  width: 100%;
  height: 42px;
  border: 1px solid #4f4793;
  border-radius: 4px;
}
.bottomSection {
  position: relative;
  display: flex;
  justify-content: space-between;

}
.bottomSection button {
  position: relative;
  border: 1px solid #cccccc30;
  color: #cccccc30;
  border-radius: 4px;
  padding: 5px;

}
.bottomSection button:hover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  background-color: #0500ff;
  color: white;
  border: none;
}
.range {
  margin: 25px 0 25px 0;
}
.btnsAction {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  transition: 0.150s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0;
  pointer-events: none;
}
.btnsActionActive {
  pointer-events: all;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
}
.containerOpacity {
  opacity: 0;
}
/* down bt */
.btnsActionDwn {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  transition: 0.150s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0;
  pointer-events: none;
}
.btnsActionActiveDwn {
  pointer-events: all;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
}
 .downButton {
  display: flex;
  -webkit-appearance: none;
  padding: 8px;
  border-radius: 4px;
  background: #e94a4a;
  align-items: center;
}
.wtpakk1 {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background: #66bb6a;
  align-items: center;
}
.wtpakk1 svg {
  margin-right: 10px;
  transform: rotateX(-180deg);
}
.inputRange {
  width: 305px;
  border-radius: 8px;
  background: #0500FF;
  height: 4px;
}
.connectWalletButon {
  margin: 42px 0 31px 0;
}
.text p {
  color: #808287;
  text-align: left;
}