.mane {
  width: calc(70% - 20px);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  padding: 20px 20px;
}

.boxmane {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column !important;
}

.containerOne {
  position: relative;
  background-color: #fff3e5;
  padding: 20px 20px;
  border-radius: 20px;
  display: flex;
}

.itemOne {
  display: flex;
  gap: 10px;
}

.svgg {
  display: flex;
  position: relative;
  height: 100%;
}

.svgImg {
  width: 100%;
}

.itemTwo {
  display: flex;
  margin-top: 30px;
  gap: 5px;
}

.containerTwo {
  background-color: #fff3e5;
  padding: 20px 20px;
  border-radius: 20px;
}

.boxOne {
  margin: 10px 0px;
}

.boxTwo {
  margin: 10px 0px;
}

.containerThree {
  background-color: #fff3e5;
  padding: 20px 20px;
  border-radius: 20px;
}

.bottomOne {
  display: flex;
  margin: 15px 0px;
}

.imageBox {
  margin: 0px 10px;
}

.img {
  display: flex;
  gap: 10px;
  margin: 15px 0px;
}

.botoomBox {
  display: flex;
  margin: 15px 0px;
}

.bottomImg {
  margin-right: 10px;
}

/* .botoomttl {
  border-bottom: 1px solid black;
} */

/*Ipad Pro 1024*/
@media (max-width: 1365px) {
  .mane {
    width: 100%;
  }
  .boxmane {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
}

/*Mobile 320*/
@media (max-width: 768px) {
  .mane {
    width: 100%;
  }

  .containerOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .svgImg {
    width: 80% !important;
    margin: 10px 0;
  }
}
