.wrapper{
  width: 30%;
  height: 66px;
  min-width: fit-content;
}

.wrapper h3{
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.wrapper h3 span{
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  color: #627EEA;
}

.wrapper p{
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #B2B4B7;
}

@media (max-width:1023px) {
  .wrapper h3{
    font-size: 28px;
    line-height: 42px;
  }
}

/* @media (max-width:800px) {
  .wrapper p{
    font-size: 12px;
    line-height: 19px;
  }
} */