.cloudSvg {
  position: absolute;
  top: 200px;
  right: 440px;
}
/* .blueSvg {
  position: absolute;
  top: 200px;
  right: 300px;
} */
.marqueeContainer {
  display: flex;
}
.whiteCircleSvg {
  position: absolute;
  top: 500px;
  right: 600px;
}
.voting__leftContainer {
  text-align: left;
  width: 100%;
}
.votingBtn__wrapper {
  display: flex;
  flex-direction: column;
}
.votingBtn__wrapper a {
  margin-right: auto;
}
.voting__leftContainer p {
  color: #b2b4b7;
}
.voting__leftContainer a:nth-child(1) {
  color: #ff7152;
  font-size: 20px;
}
.voting__leftContainer h1 {
  text-align: left;
  margin-bottom: 10px;
}
.voting__leftContainer p {
  margin-bottom: 100px;
}
.flex {
  display: flex;
}
.imgContainer {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}
.imgContainer img {
  width: 350px;
}
.voting__rightContainer {
  width: 100%;
}
.voting__inner {
  width: 100%;
  margin-top: 200px;
  justify-content: space-between;
  display: flex;
}
.mainContainerBg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .cloudSvg {
    top: 100px;
    right: 260px;
  }
  .whiteCircleSvg {
    left: 400px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
}
/*Mobile 320*/
@media (max-width: 767px) {
  .whiteCircleSvg {
    left: 20px;
  }
  .voting__inner {
    flex-direction: column-reverse;
  }
  .voting__leftContainer {
    margin: 50px 0 160px 0;
  }
}
