.leftContainer {
  text-align: left;
  padding-top: 89px;
}
.leftContainer p {
  color: #162029;
  margin-bottom: 55px;
  margin-top: 21px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.leftContainer a:nth-child(1) {
  color: #162029;
  text-transform: uppercase;
}
.leftContainer h1 {
  text-align: left;
  font-size: 100px;
  line-height: 120px;
  color: #162029;
}
.button:hover {
  background-color: transparent !important;
}
.inner {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.proposalSvg {
  margin-right: 10px;
}
.proposalButton {
  width: 220px;
  height: 56px;
  font-size: 16px;
  line-height: 22px;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .mainContainerBg {
    height: 918px;
    width: 1296px;
  }
  .leftContainer h1 {
    font-size: 60px;
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
}
/*Mobile 320*/
@media (max-width: 767px) {
  .leftContainer h1 {
    font-size: 34px;
    line-height: 66px;
  }

  .inner {
    flex-direction: column-reverse;
  }
  .leftContainer h1 {
    font-size: 40px;
  }

  .leftContainer {
    width: 100%;
  }
}
