.Activity {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}
.Activity__backBtn {
    display: flex;
    align-items: center;
    width: 165px;
    cursor: pointer;
}
.Activity__backBtn:hover svg path {
    fill: #0500FF;
    transition: 0.5s;
}
.Activity__backBtn:hover  svg {
    transform: translateX(-5px);
    transition: 0.5s;
    cursor: pointer;
}
.Activity__backBtn:hover p {
    color: #0500FF;
    transition: 0.5s;
}
.Activity__backBtn__txt {
    padding-left: 7px;
    color: #FF7152;
}
.Activity__categories {
    display: flex;
    flex-direction: column;
}
.Activity__listItems {
    display: flex;
    flex-direction: column;
    border: 1px solid #111826;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.nftActivityTable__categoriesTitles ul {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #111826;
    
}
.nftActivityTable__categoriesTitles li {
    color:#627EEA;
    padding-bottom: 20px;
}
.nftActivityTable__categoriesTitle1 {
    display: flex;
    align-items: center;
    width: 22%;
}
.nftActivityTable__categoriesTitle2 {
    display: flex;
    align-items: center;
    width: 10%;
}
.nftActivityTable__categoriesTitle3 {
    display: flex;
    width: 7%;
}
.nftActivityTable__categoriesTitle4 {
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nftActivityTable__categoriesTitle5 {
    width: 12%;
    display: flex;
    justify-content: flex-end;
}
.nftActivityTable__categoriesTitle6 {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 170px;
}
.nftActivityTable__categoriesItem {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #111826;
    align-items: center;
}

.nftActivityItemTitle {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
}
.nftActivity__categoriesItemEvent {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nftActivityTable__categoriesItemPrice {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nftActivityTable__categoriesItemPriceTitle span {
    color: #FF7152;
    padding-right: 5px;
}
.nftActivityTable__categoriesItemSubTitle {
    color: #FFFFFF;
    opacity: 0.3;
}
.nftActivityTable__categoriesItemPriceSubTitle {
    color: #FFFFFF;
    opacity: 0.3;
}
.nftActivityTable__categoriesItemFromBox {
    display: flex;
    align-items: center;
    width: 18%;
}
.nftActivityTable__categoriesItemFromTitles {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.nftActivityTable__itemToBox {
    display: flex;
    align-items: center;
    width: 18%;
}
.nftActivityTable__itemFromTitles {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-direction: column;
}
.nftActivityTable__itemDates {
    display: flex;
    padding-left: 70px;
}
.nftActivityTable__itemTime {
    padding-left: 10px;
}
.nftActivityTable__pages {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;
}
.nftActivityTable__pages ul {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.nftActivityTable__pages li {
    display: flex;
    border-radius: 4px;
    background-color:  rgba(255, 255, 255, 0.1); 
    padding: 7px 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
.nftActivityTable__pagesActived {
    background-color: #0500FF!important;
}
.nftActivityTable__itemIcon {
    margin-left: 10px;
    cursor: pointer;
}
.nftActivityTable__pagesFilter {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.nftActivityTable__pagesFilter ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;
    margin-left: auto;
    margin-right: auto;
}
.nftActivityTable__pagesFilter li {
    border: 1px solid #111826;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 7px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nftActivityTable__pagesFilter__actived {
    background-color: #0500FF;
}
.Activity__wrap {
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1200px) {
    .Activity__filterWrap {
        overflow-x: auto;
        -overflow-scrolling: touch;
    }
    .Activity__filterWrap__outer {
        position: relative;
    }
    .Activity__filterWrap::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 75px;
        pointer-events: none;
        width: 100px;
        background: rgb(0,5,15);
        background: linear-gradient(90deg, rgba(0,5,15,0) 0%, rgba(0,5,15,1) 100%);
    }
    .Activity__filterWrap::-webkit-scrollbar {
        display: none;
    }
}
/*Ipad 768*/
@media (max-width: 1023px) {

}
/*Mobile 320*/
@media (max-width: 767px) {
  
}