.terms {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 110px;
}

.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  max-width: 450px;
}

.terms p {

  word-wrap: break-word;
}

.boldText {
  font-weight: 700;
  word-wrap: break-word;
}
/*Ipad 768*/

@media (max-width: 1023px) {
  .content {
    width: 70%;
  }

  .title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .terms {
    flex-direction: column;
  }
  .title {
    margin-bottom: 30px;
  }
  .content {
    margin-right: 0;
    margin-left: auto;
    width: 100%;
  }
}
