.sliderContainer {
  display: flex;
  max-width: 100%;
  justify-content: center;
  width: 100%;
  position: relative;
}

.imageSlider {
  display: flex;
  align-items: center;
  position: relative;
}

.imageWrapper {
  flex: 1;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.sliderContainer button {
  background: transparent;
  transition: 0.4s;
  padding: 0;
}

.arrowButton svg {
  width: 40px;
  height: 40px;
}

.arrowButton svg path {
  transition: 0.4s;
}

.sliderContainer .button:hover svg path {
  fill: #ff6969;
}

.next {
  margin-left: 24px;
}

.prev {
  margin-right: 24px;
}

@media (max-width: 1665px) {
  .sliderContainer {
    margin-top: 40px;
  }
  .imageWrapper {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .sliderContainer {
    margin-top: 40px;
  }
  .imageWrapper {
    margin-top: 40px;
    width: 100%;
  }

  .next {
    position: absolute;
    right: 0;
  }

  .prev {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 767px) {
  .sliderContainer {
    margin-top: 30px;
  }
  .imageWrapper {
    margin-top: 30px;
  }

  .arrowButton svg {
    width: 30px;
    height: 30px;
  }
}
