.sliderContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.imageSlider {
  display: flex;
  align-items: center;
  position: relative;
}

.imageWrapper {
  flex: 1;
}

.image {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 60vh;
}

.mainSliderItemNav {
  display: flex;
  height: 44px;
  border-radius: 30px;
  border: 1px solid #162029;
  background: #a6d0dd;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.mainSliderItemNav:hover {
  background: #ff6969;
}
.mainSliderItemNav > div {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
}
.mainSliderItemNav > div:first-child:hover {
  transform: translateX(-5px);
}
.mainSliderItemNav > div:last-child:hover {
  transform: translateX(5px);
}

.next {
  margin-left: 24px;
}

.prev {
  margin-right: 24px;
}

@media (max-width: 1665px) {
  .sliderContainer {
    padding-top: 40px;
  }
  .imageWrapper {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .sliderContainer {
    padding-top: 40px;
  }
  .imageWrapper {
    width: 100%;
  }

  .next {
    position: absolute;
    right: 0;
  }

  .prev {
    position: absolute;
    left: 0;
  }
}

@media (max-width: 767px) {
  .sliderContainer {
    padding-top: 20px;
  }

  .mainSliderItemNav {
    height: 35px;
    width: 90px;
  }

  .arrowButton svg {
    width: 30px;
    height: 30px;
  }
}
