.moversTitle{
  margin-bottom: 20px;
}

.wrapper{
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topMoversWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}