.Arrivals {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 100%;
}
.Arrivals__item {
  padding-top: 5px;
  padding-bottom: 50px;
}
.Arrivals__btn {
  display: flex;
  gap: 18px;
  align-items: center;
  /* width: 78px; */
}
.Arrivals__btn svg {
  padding-top: 4px;
}
.Arrivals__btnTxt {
  padding-right: 5px;
  transition: 0.5s;
}

.Arrivals__btn:hover svg path {
  fill: #0500ff;
}
.Arrivals__btn svg {
  transition: 0.5s;
}
.Arrivals__btn:hover svg {
  transform: translateX(5px);
}
.Arrivals__btn:hover .Arrivals__btnTxt {
  color: #0500ff;
}
.Arrivals__itemsList {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  gap: 30px;
  padding-bottom: 89px;
}
.FAQSection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f5e9dc;
  padding: 89px 39px;
  gap: 30px;
}

.centerElement {
  width: fit-content;
  margin: auto;
}
.Arrivals__newWindow {
  display: flex;
  align-items: center;
}

.Arrivals__newWindow:hover svg path {
  fill: #ff7152;
  transition: 0.5s;
}
.Arrivals__newWindow p {
  color: #0500ff;
  padding-right: 5px;
  cursor: pointer;
}
.Arrivals__newWindow:hover p {
  color: #ff7152;
  transition: 0.5s;
}
.Arrivals__applyTo {
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 1023px) {
  .FAQSection {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .FAQSection {
    flex-direction: column;
  }
  .FAQWrapper {
    width: 100%;
  }
  .FAQSection {
    grid-template-columns: 1fr;
  }
}
