.container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.title {
  font-size: 100px;
  line-height: 120px;
  margin-bottom: 21px;
}

.title span {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 120px;
}

.titleTeaser {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 55px;
}

.titleTeaser span {
  text-transform: uppercase;
}

.Activity__btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 216px;
  border: 1px solid #162029;
  justify-content: space-between;
  transition: 0.5s;
  color: #162029;
  background-color: #a6d0dd;
  padding: 18px 34px;
  border-radius: 61px;
}
.Activity__btn:hover svg path {
  fill: #0500ff;
}
.Activity__btn svg {
  transition: 0.5s;
}

.Activity__btn svg path {
  fill: #162029;
}
.Activity__btn:hover svg {
  transform: translateX(5px);
  transition: 0.5s;
}
.Activity__btn:hover {
  color: #0500ff;
}

.imagesWrapper {
  position: relative;
  width: 100%;
  height: 573px;
}

.planet1 {
  position: absolute;
  right: 74px;
  top: -49px;
  width: 140px;
  height: 140px;
}
.planet2 {
  position: absolute;
  top: 55px;
  right: 205px;
  width: 74px;
  height: 60px;
}
.planet3 {
  position: absolute;
  right: 613px;
  top: 317.24px;
  z-index: -1;
}

.astronautFigureBg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  max-width: 400px;
  right: 148.1px;
}
.astronautFigure {
  position: absolute;
  top: 95px;
  right: 198.1px;
  max-width: 330px;
  width: 100%;
  height: 559px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.planet4 {
  position: absolute;
  right: 10px;
  top: 511px;
}
.planet5 {
  position: absolute;
  top: 641.17px;
  right: 139px;
}

@media (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .imagesWrapper {
    height: 400px;
  }

  .planet1 {
    position: absolute;
    right: calc(38% - 140px);
    top: -65px;
    width: 140px;
    height: 140px;
  }
  .planet2 {
    width: 44px;
    height: 30px;
    position: absolute;
    top: 44px;
    right: calc(50% - 44px);
  }

  .planet4 {
    position: absolute;
    right: calc(25% - 92px);
    top: 407px;
  }
  .planet3 {
    left: calc(25% - 133px);
  }

  .astronautFigureBg {
    max-width: 300px;
    right: calc(50% - 150px);
  }
  .astronautFigure {
    right: calc(50% - 124px);
    max-width: 260px;
    height: 350px;
  }

  .title {
    font-size: 50px;
    line-height: 55px;
  }

  .title span {
    font-size: 50px;
    line-height: 55px;
  }

  .titleTeaser,
  .titleTeaser span {
    font-size: 20px;
    line-height: 22px;
  }

  .Activity__btn {
    margin-top: 30px;
  }
}

@media (max-width: 350px) {
  .astronautFigureBg {
    right: -7px;
  }
  .planet1 {
    right: calc(38% - 120px);
    top: -25px;
  }
  .planet4 svg,
  .planet1,
  .planet3 svg {
    width: 50px;
    height: 50px;
  }
  .planet4 {
    right: 0;
  }
  .planet3 {
    left: -12%;
  }
}

/* 
@keyframes nftSec {
  0% {
    top: 0px;
    left: 100%;
  }
  100% {
    top: 0px;
    left: 0%;
  }
}
@keyframes nftFirst {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -100%;
  }
}
@keyframes nftSecS {
  0% {
    top: 0px;
    right: 0%;
  }
  100% {
    top: 0px;
    right: -100%;
  }
}
@keyframes nftSecF {
  0% {
    top: 0px;
    right: 100%;
  }
  100% {
    top: 0px;
    right: 0%;
  }
}  */
/*Laptop 1440*/
.marqueeContainer {
  width: 100%;
  overflow: hidden;
  margin-top: 130px;
}
