.Market {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Market__background {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 120vh;
}
.Market__containers {
  display: flex;
  height: 1050px;
}
.Market__searchBlock {
  position: relative;
  width: 50%;
  padding-top: 150px;
}
.Market__asstronaut {
  position: relative;
  width: 50%;
}
.Market__title {
  font-size: 100px;
  line-height: 120px;
  margin-bottom: 21px;
}
.Market__title span {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 120px;
}
.Market__searchBoxTitles {
  display: flex;
  flex-direction: column;
}
.Market__titleTeaser {
  margin-bottom: 55px;
}
.Market__titleTeaser span {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}
.Market__searchBar {
  padding-top: 100px;
  position: relative;
  height: 50px;
}
.Market__searchInput {
  width: 445px;
  height: 50px;
  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.04);
  padding-left: 20px;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-right: 120px;
}
.blueBtn {
  width: 96px;
  height: 40px;
  background: #0500ff !important;
  border-radius: 32px;
  position: absolute;
  top: 105px;
  left: 345px;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  padding: 8px;
}
.Market__searchBtn__disabled {
  width: 96px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 32px;
  position: absolute;
  pointer-events: none;
  top: 105px;
  left: 345px;
  transition: 0.5s;
  text-align: center;
  padding: 8px;
}
.Market__leftContainerBox__searchBarBtn:hover {
  border: 1px solid #0500ff;
  background-color: transparent;
  padding: 8px;
}
.Market__planet1 {
  position: absolute;
  right: 88px;
  top: 104px;
  width: 140px;
  height: 140px;
}
.Market__planet2 {
  position: absolute;
  top: 225px;
  right: 172px;
  width: 74px;
  height: 60px;
}
.Market__planet3 {
  position: absolute;
  right: 639px;
  top: 458.24px;
}
.imageWrapper {
  position: relative;
  top: 155px;
  height: 573px;
}
.Market__asstronautFigureBg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  max-width: 400px;
  right: 148.1px;
}
.Market__asstronautFigure {
  position: absolute;
  top: 95px;
  right: 198.1px;

  max-width: 330px;
  width: 100%;
  height: 559px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.Market__planet4 {
  position: absolute;
  right: 10px;
  top: 650px;
}
.Market__planet5 {
  position: absolute;
  top: 641.17px;
  right: 139px;
}
.Market__rock1 {
  position: absolute;
  right: 592px;
  top: 748px;
  width: 60px;
  height: 60px;
}
.Running__text {
  width: 100%;
  position: relative;
  display: flex;
  height: 100px;
  padding: 150px;
}
.Running__text__row {
  width: 100%;
  position: absolute;
  height: 50px;
  display: flex;
}
.Running__text__secRow {
  width: 100%;
  position: absolute;
  height: 50px;
  display: flex;
  margin-top: 40px;
}
.Activity__btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 216px;
  border: 1px solid #162029;
  justify-content: space-between;
  transition: 0.5s;
  background-color: #a6d0dd;
  padding: 18px 34px;
  border-radius: 61px;
}
.Activity__btn:hover svg path {
  fill: #0500ff;
}
.Activity__btn svg {
  transition: 0.5s;
}
.Activity__btn:hover svg {
  transform: translateX(5px);
  transition: 0.5s;
}
.Activity__btn:hover {
  color: #0500ff;
}
.Running__text__first {
  position: absolute;
  animation: nftFirst 10s infinite;
  top: 0;
  height: 100%;
  display: flex;
  width: 100%;
  left: 0;
  animation-timing-function: linear;
}
.Running__text__first svg {
  width: 15%;
}
.Running__secRow__first {
  position: absolute;
  animation: nftSecF 10s infinite;
  top: 0;
  height: 100%;
  display: flex;
  width: 100%;
  right: 0;
  animation-timing-function: linear;
}
.Running__secRow__first svg {
  width: 15%;
}
.Running__secRow__sec svg {
  width: 15%;
}
.Running__secRow__sec {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  display: flex;
  width: 100%;
  animation: nftSecS 10s infinite;
  animation-timing-function: linear;
}
.Running__text__second svg {
  width: 15%;
}
.Running__text__second {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: flex;
  width: 100%;
  animation: nftSec 10s infinite;
  animation-timing-function: linear;
}
.Running__text__secRow {
  width: 100%;
  position: absolute;
  /* animation: nftL 5s infinite; */
  top: 50px;
}
@media (max-width: 1365px) {
  /* .Market__containers {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  } */
  .Market__planet1 {
    right: -12px;
  }
  .Market__asstronautFigureBg {
    right: 48px;
  }
  .Market__asstronautFigure {
    right: 98px;
  }
  .Market__planet3 {
    right: 460px;
    z-index: -1;
  }
}

@media (max-width: 1023px) {
  .Market__title,
  .Market__title span {
    font-size: 50px;
    line-height: 55px;
  }
  .Market__titleTeaser,
  .Market__titleTeaser span {
    font-size: 20px;
    line-height: 22px;
  }
  .Market__titleTeaser {
    margin-bottom: 20px;
  }
  .Activity__btn {
    padding: 12px 20px;
    width: 175px;
  }
  .imageWrapper {
    width: 70%;
    height: 40%;
  }
  .Market__asstronautFigure {
    width: 58%;
    height: 74%;
  }
  .Market__asstronautFigureBg {
    width: 80%;
    height: 80%;
  }
}
@keyframes nftSec {
  0% {
    top: 0px;
    left: 100%;
  }
  100% {
    top: 0px;
    left: 0%;
  }
}
@keyframes nftFirst {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -100%;
  }
}
@keyframes nftSecS {
  0% {
    top: 0px;
    right: 0%;
  }
  100% {
    top: 0px;
    right: -100%;
  }
}
@keyframes nftSecF {
  0% {
    top: 0px;
    right: 100%;
  }
  100% {
    top: 0px;
    right: 0%;
  }
}
/*Laptop 1440*/
