.profileWrapper {
  width: 100%;
}
.profileImgWrapper {
  width: 100%;
  position: relative;
}

.bgImg {
  width: 100%;
  max-height: 215px;
  margin-top: 84px;
  border-radius: 20px;
  object-fit: cover;
}

.avatarImg {
  max-width: 120px;
  max-height: 120px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, #fff3e5 0%, rgba(255, 243, 229, 0) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -50px;
  left: calc(50% - 60px);
}

.textWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 73px;
  gap: 10px;
  margin-bottom: 34px;
}

.table {
  border: 1px solid #16202933;
  border-radius: 20px;
  margin-top: 22px;
}
.itemsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 34px;
  column-gap: 16px;
  width: 100%;
  padding: 20px;
  background: #f3e4d2;
}
.itemsList > div {
  width: 100%;
}
.notFoundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f3e4d2;
}
.noFound {
  position: relative;
  margin: 0 auto;
}
.noFound img {
  max-width: 216px;
  max-height: 140px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 50px 0;
}
.points {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.totoalPoints {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 35px;
}
.pointLogo {
  display: flex;
  /* gap: 10px; */
  justify-content: center;
  position: relative;
  margin-top: 34px;
}

.pointLogo img:first-child,
.pointLogo img:nth-child(3) {
  position: relative;
  top: 20px;
  height: 40px;
}

.pointLogo img:nth-child(2) {
  height: 49px;
}

.achivements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 1px solid #16202933;
  border-radius: 20px;
}

.tableHeader {
  border-bottom: 1px solid #16202933;
  background: #f0dec9;
  padding: 20px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.tableBody {
  background: #f3e4d2;
  width: 100%;
}

.achivementsItem {
  display: flex;
  padding: 30px 20px;
  gap: 20px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(22, 32, 41, 0.1);
}
.achivementsItem > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
.achivementsItem:last-child {
  border-bottom: none;
}
@media (max-width: 1365px) {
  .itemsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1023px) {
  .itemsList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .bgImg {
    height: 200px;
  }
  .itemsList {
    grid-template-columns: 1fr;
  }
  .itemsList {
    padding: 10px;
  }
  .avatarImg {
    max-width: 80px;
    max-height: 80px;
    bottom: -30px;
    left: calc(50% - 40px);
  }
}

@media (max-width: 400px) {
  .achivementsItem {
    flex-direction: column;
    justify-content: center;
  }
  .achivementsItem > div {
    text-align: center;
  }
}
