.main {
    display: flex;
    align-items: center;
}
.text {
    margin-bottom: 0px !important;
}

.title {
    /* border: 1px solid red;
    /* font-family: Lack; */
    /* font-size: 51px; */
    /* font-weight: 400;  */
    width: fit-content;
    margin-bottom: 0px !important;
    transform: rotate(-90deg);
}

/* @font-face {
    font-family: Lack;
    src: url(../../../../../public/fonts/Lack-Regular.ttf);
} */