.main {
    border: 1px solid black;
    border-radius: 20px;
    padding: 32px 116px;
    background: #F3E4D2;
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    font-family: Lack;
    font-size: 51px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    transform: rotate(-90deg);
}

@font-face {
    font-family: Noto Sans;
    src: url(../../../../../public/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Lack;
    src: url(../../../../../public/fonts/Lack-Regular.ttf);
}