.Faq {
    padding-top: 100px;
    display: flex;
    position: relative;
}
.Faq__item__question {
    color: #FFFFFF;
    opacity: 0.7;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: .8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.Faq__item__question__active {
    opacity: 1;
    transition: .8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.Faq__item__answer {
  opacity: 0.9;
  transition: 0.8s;
}
.Faq__item__arrow {
  position: absolute;
  right: 0;
  margin-top: 5px;
  transition: 0.8s;
  margin-left: 15px;
}
.Faq__item_arrowActive {
  transform: rotate(-3.142rad);
  transition: 0.8s;
  transform: 0.5s;
}
.Faq__item_arrowActive path {
  stroke: #ff7152;
}
.nftArrivals__innerAskedQuestionsContainerTitleActived {
  color: #ffffff;
}
.Faq__title {
  z-index: 9;
  transition: 0.8s;
  width: 100%;
}
.Faq__inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 135px;
}
.Faq__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #0a0f18;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-direction: column;
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  overflow: hidden;
}
.Faq__item__actived {
  padding-top: 30px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #0a0f18;
  padding-bottom: 30px;
  flex-direction: column;
  transition: 0.8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.Faq__item__questionWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Faq__item__answersWrap p {
  padding-top: 30px;
}
.Faq__item__answersWrap {
  transition: 0.6s;
  overflow: hidden;
  max-height: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #191b24;
}
.Faq__item__answersWrapActive {
  max-height: 800px !important;
}
.Faq__background {
  position: absolute;
  left: -150px;
  top: 150px;
  z-index: -1;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .Faq__item__question {
    font-size: 15px;
  }
  .Faq__inner {
    padding-left: 100px;
  }
  .Faq__item__answer {
    font-size: 13px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .Faq__inner {
    padding-left: 0px;
  }
  .Faq__item__answer {
    font-size: 10px;
  }
  .Faq {
    flex-direction: column;
  }
}
.auction__container {
  margin-top: 150px !important;
  display: flex;
  flex-direction: column;
}
.auction__inner {
  display: flex;
  position: relative;
  flex-direction: column;
}
.galaxy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.astro {
  position: absolute;
  top: 0px;
  right: 200px;
  z-index: -10;
}
.orbit {
  position: absolute;
  top: 0;
  left: 350px;
  z-index: -10;
  width: 145px;
  height: 110px;
}
.yellowStar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.ufo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.egg {
  position: absolute;
  bottom: 0;
  left: 500px;
  z-index: -10;
}
.communityAuctions p {
  color: #ff7152;
}
.communityAuctions {
  display: flex;
  margin-right: auto;
}
.communityAuctions svg {
  margin-right: 10px;
}
.communityAuctions a {
  display: flex;
  align-items: center;
}
.communityAuctions:hover .blueHover {
  color: #0500ff;
}
.communityAuctions p,
.svgHoverBlue path,
.svgHoverBlue,
.svgHoverOrange path,
.hover svg,
.hover a,
.orangeHover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.communityAuctions:hover .svgHoverBlue {
  transform: translateX(-5px);
}
.communityAuctions:hover .svgHoverBlue path {
  stroke: #0500ff;
}
.auction__head {
  display: flex;
  flex-direction: column;
}
.auction__title {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.auction__title p:first-of-type {
  margin: 50px 0;
  width: 55%;
}
.auction__title p:nth-child(3) {
  width: 55%;
  margin-bottom: 20px;
}
.auction__title p:nth-child(4) {
  width: 58%;
}
.auction__btn {
  border-radius: 4px;
  margin-top: 80px;
  width: 300px;
  height: 56px;
}
.auction__notice {
  width: 60%;
  padding: 30px;
  border: 1px solid rgba(234, 171, 77, 0.3);
  margin: auto;
  display: flex;
  margin-top: 220px;
  border-radius: 4px;
  background: rgba(234, 171, 77, 0.05);
}
.auction__notice p {
  width: 95%;
  margin-top: 20px;
  color: #7f8287;
}
.auction__notice svg {
  margin-right: 30px;
  width: 100%;
}
.auc .auction__notice h1 {
  margin-bottom: 20px;
}
.auction__tableContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
  position: relative;
}
.auction__leftPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 433px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.04);
  height: 100%;
}
.auction__nextDate {
  margin-bottom: 20px;
}
.auction__schedule {
  margin: 30px 0 20px 0;
  color: #627eea;
}
.auction__borderBottom {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.auction__leftPanelInner {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}
.auction__leftPanelInner > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.auction__leftPanelInner > div p {
  color: #b2b4b7;
}
.auction__panelQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.auction__panelQuestion svg {
  margin-left: 10px;
}
.auction__panelQuestion p {
  color: #b2b4b7;
}
.auction__details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.auction__details svg {
  margin-left: 10px;
}
.auction__table {
  width: calc(100% - 463px);
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .auction__tableInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  } */
.auction__tabInner {
  display: flex;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
}
.auction__tabInner p {
  border-radius: 4px;
  padding: 7px 12px;
}
.active {
  background-color: #1d2833;
}
.auction__tabContainer {
  display: flex;
  justify-content: center;
}
.auction__number {
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
}
.auction__finished {
  position: absolute;
  top: 0;
  right: 0;
}
.auction__innerTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auction__innerTable div:last-child {
  border: none;
}
.auctions__innerTableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auctions__tableHeader {
  width: 100%;
  display: flex;
  margin-bottom: 34px;
}
.auctions__tableHeader div:nth-child(1) {
  width: 25%;
  color: #627eea;
}
.auctions__tableHeader div:nth-child(2) {
  width: 60%;
  color: #627eea;
}
.auctions__tableHeader div:nth-child(3) {
  color: #627eea;
}
.auctions__tableItems {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #111826;
  border-top: 1px solid #111826;
  padding: 34px 0;
}
.auctions__tableItems div:first-of-type {
  width: 25%;
}
.auctions__tableItems div:nth-child(2) {
  width: 60%;
}
.auctions__tableItems div:nth-child(3) {
  width: 11%;
}
.auction__burnedContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 220px;
}
.auction__burnedInner span {
  color: #ff7152;
}
.auction__burnedInner {
  display: flex;
  position: relative;
}
.auction__burnedInner p:last-of-type {
  color: #7f8287;
  margin-top: 20px;
}
.auction__tableSubText {
  color: #7f8287;
}
.auction__burnedInner h2 {
  margin-bottom: 50px;
}
.auction__dotMenu svg {
  cursor: pointer;
}
.logo__stars {
  position: absolute;
  top: -280px;
  right: 0px;
  z-index: -1;
}
.auctions__FaqContainer {
  display: flex;
  width: 100%;
  margin-top: 250px;
  justify-content: space-between;
  position: relative;
}
.auctions__FaqTitle {
  width: 19%;
}
.auction__faqExpendContainer {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  margin-top: 200px;
}
.auctions__FaqExpendTitle {
  /* border-bottom: 1px solid #ffffff; */
  padding-bottom: 24px;
}
.auction__questions {
  width: 100%;
  /* margin-top: 35px; */
}
.auction__questionItems {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.auction__questionItems div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auction__questionItems span {
  color: #0500ff;
}
.auction__faqActive {
  color: #ffffff !important;
}
.auction__questionItems p {
  color: rgba(255, 255, 255, 0.7);
}
.auction__questionItems > div {
  color: rgba(255, 255, 255, 0.7);
}
.auctions__expendText {
  display: none;
}
.auction__activeExpendText {
  margin-top: 15px;
  display: block;
}
.auctions__FaqContainer > img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.auction__questionItems svg {
  cursor: pointer;
}

/* Expend Details */
.auction__expendDetails div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.auction__expendDetails p {
  color: #b2b4b7;
}
.auction__expendDetails div:last-child p:last-child {
  color: #0500ff;
  cursor: pointer;
}
.auction__expendDetails {
  width: 100%;
  padding-bottom: 20px;
}
.auction__expendDetails div:nth-child(2) {
  padding-top: 20px;
  margin-bottom: 20px;
}
.auction__details p:nth-child(2) {
  color: #ff7152;
  display: none;
}
.auction__details p:nth-child(1) {
  display: block;
}
.auction__expendDetails {
  display: none;
}
/* Expend Details */
/* Whitelist */
.auction__whitelisTableCont {
  position: absolute;
  /* display: flex; */
  display: none;
  background-color: #0a0f19;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 433px;
  padding: 20px;
  z-index: 1;
  height: 595px;
  border-radius: 4px;
  overflow-y: auto;
}
.auction__whitelistHead {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.auction__whitelistHead svg {
  margin-right: 60px;
}
.auction__whitelistSearch {
  margin-top: 30px;
  display: flex;
  position: relative;
}
.auction__whitelistSearch input {
  padding: 0 50px;
  width: 100%;
  background-color: #141922;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  height: 44px;
}
.auction__whitelistSearch svg {
  position: absolute;
  left: 20px;
  top: 16px;
}
.auction__whitelistTable {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.auction__whitelistTableitem0 {
  display: flex;
  flex-direction: column;
}
.auction__whitelistTableitem1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto 0;
}
.auction__whitelistTableitem0 p:nth-child(2) {
  color: #7f8287;
  margin-top: 5px;
}
.auction__whitelistTableitem1 svg {
  margin-left: 10px;
}
.mobileEgg,
.mobileUfo,
.mobileOrbit,
.mobileYellowStar,
.mobileAstro,
.mobileUfo {
  display: none;
}

/* Whitelist */

.auction__number span {
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.prevBtn,
.nextBtn,
.lastBtn,
.lastBtn {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.prev,
.next,
.last {
  margin: 0 20px;
  cursor: pointer;
}
.prev:hover .prevBtn path {
  fill: #ff7152;
}
.next:hover .nextBtn path {
  fill: #ff7152;
}
.last:hover .lastBtn path {
  fill: #ff7152;
}
.last:hover .lastBtn line {
  stroke: #ff7152;
}
.auction__number div {
  display: flex;
}
.archieveDate {
  margin-left: auto;
}
.askedQuestions {
  width: 30%;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .astro {
    right: 0px;
  }
  .yellowStar {
    bottom: 200px;
    top: inherit;
  }
  .egg {
    left: 350px;
    top: 340px;
  }
  .ufo {
    bottom: 50px;
    right: 200px;
  }
  .auction__title h1 {
    width: 50%;
  }
  .auction__container {
    overflow-x: hidden;
  }
  .auction__notice {
    margin-top: 140px;
    width: 100%;
  }
  /* .auction__notice p {
      width: 100%;
    } */
  .auction__tableContainer {
    flex-direction: column;
  }
  .auction__leftPanel {
    width: 100%;
    margin-bottom: 30px;
  }
  .auction__table {
    width: 100%;
  }
  /* .logo__stars {
      right: 0;
    } */
  .auction__burnedContainer {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
  .auction__burnedContainer div:first-child {
    margin-top: 200px;
    text-align: center;
  }
  .auction__faqExpendContainer {
    width: 58%;
  }
  .auctions__FaqTitle {
    width: 33%;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .auction__title {
    margin-top: 400px;
  }
  .egg,
  .yellowStar,
  .astro,
  .ufo,
  .orbit {
    display: none;
  }
  .mobileEgg {
    left: 0;
    top: 250px;
    display: block;
    position: absolute;
  }
  .mobileOrbit {
    top: 50px;
    left: 0;
    display: block;
    position: absolute;
  }
  .mobileYellowStar {
    top: 150px;
    right: 0;
    display: block;
    position: absolute;
  }
  .mobileUfo {
    top: 300px;
    right: 0;
    display: block;
    position: absolute;
  }
  .mobileAstro {
    position: absolute;
    display: block;
  }
  .auction__title h1 {
    width: 100%;
  }
  .auction__title p:first-of-type {
    width: 100%;
  }
  .auction__title p:nth-child(3) {
    width: 100%;
    margin-bottom: 20px;
  }
  .auction__title p:nth-child(4) {
    width: 100%;
  }
  .auction__btn {
    margin-top: 50px;
    width: 100%;
  }
  .auction__tableMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #111826;
    padding-top: 40px;
  }
  .auction__tableHeaderMobile p {
    padding-bottom: 55px;
  }
  .subText {
    color: #7f8287;
  }
  .auction__farmMobile {
    margin: 50px 0 25px 0;
  }
  .auction__tableHeaderMobile p {
    color: #627eea;
  }
  .auction__tableMobile svg {
    cursor: pointer;
  }
  .logo__stars {
    position: absolute;
    top: -200px;
    right: 0px;
    z-index: -1;
  }
  .auction__faqExpendContainer {
    width: 100%;
  }
  .auctions__FaqTitle {
    width: 100%;
    margin-bottom: 50px;
  }
  .auctions__FaqContainer {
    flex-direction: column;
  }
}
