.containerMargin {
    margin-top: 110px !important;
    position: relative;
    z-index: 10;
}
.dashboardFilter__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.dashboardFilter {
    width: 100%;
    position: relative;
}
.dashboardTop__searchFilter svg {
    margin-left: 5px;
}
.dashboardFilter input {
    width: 100%;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    padding-left: 45px;
    padding-right: 110px;
    height: 36px;
    display: flex;
    align-items: center;
    font-size: 13px;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dashboardFilter input:focus{
    border-color: #0500ff;
}
.dashboardFilter__searchBtn {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboardFilter__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 0px;
    cursor: pointer;
    height: calc(100% - 16px);
    padding: 0px 15px;
    border-left: 1px solid #181c25;
}
.dashboardFilter__btn p {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dashboardFilter__btn path {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dashboardFilter__btn:hover p,.dashboardFilter__btn.active p {
    color: #ff7152;
}
.dashboardFilter__btn:hover path,.dashboardFilter__btn.active path {
    fill: #ff7152;
}

.modalFilter {
    top: 40px;
    right: 0px;
    border-radius: 4px;
    position: absolute;
    display: flex;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.modalFilter.active {
    opacity: 1;
    visibility: inherit;
}
.filterArrow{
    margin-left: 8px;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.dashboardFilter__btn.active svg{
    transform: rotate(180deg);
}
.modalFilter p {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.modalFilter p:hover {
    background-color: #ff7152;
}
.dashboardTop__inner{
    width: 100%;
    position: relative;
    z-index: 10;
}
