/* Title */
.tltle_container {
  padding-bottom: 88px;
}

.transition {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.text {
  padding-top: 55px;
  width: 67%;
}

/* Title */

/* eligibility */
.eligibilityContainer {
  padding-bottom: 26px;
}

.eligibilitytext {
  padding-top: 34px;
  width: 67%;
}

/* eligibility */

/* list */
.numListContainer {
  padding-bottom: 28px;
}

.numList {
  padding: 8px 0;
  font-weight: bold !important;
  display: flex;
}

.listTitle {
  padding-bottom: 22px;
}

.listWrap svg {
  margin: 55px 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.listWrap:last-child svg {
  display: none;
}

.numListTitle {
  padding-bottom: 34px;
}

/* list */

/*Laptop 1440*/
/* @media (max-width: 1900px) {} */

/*Ipad Pro 1024*/
/* @media (max-width: 1365px) {} */

/*Ipad 768*/
/* @media (max-width: 1023px) {} */

/*Mobile 320*/
@media (max-width: 768px) {
  .listWrap svg {
    margin: 38px 0;
  }

  .text {
    width: 100%;
  }

  .eligibilitytext {
    width: 100%;
  }

  .tltle_container {
    padding-bottom: 38px;
  }
}

.rewardsStepsTtl {
  margin-bottom: 10px;
}

.rewardsContainer {
  padding-top: 88px;
  width: 100%;
}

.rewardsHead h2 {
  margin-bottom: 32px;
}

.rewardsStepsTtl {
  color: #ff6969;
  font-weight: bold;
}

.rewardsSteps {
  display: flex;
}

.rewardsStep:nth-child(odd) {
  width: 68.2%;
}

.rewardsStep:nth-child(even) {
  width: 31.8%;
}

.rewardsLine {
  position: relative;
  width: 100%;
  height: 1.5px;
  background-color: #a6d0dd;
  margin-top: 32px;
}

.lineCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #a6d0dd;
  border: 1px solid #162029;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.lineCircle:nth-child(2) {
  left: 68.2%;
}

.rewardsDesc {
  margin-top: 28px;
  font-weight: bold;
}

.rewardsDesc p {
  font-weight: bold;
}

.rewardsDesc span {
  display: block;
}

.rewardsDesc span:first-child {
  margin-bottom: 8px;
}

.rewardsRange {
  margin-top: 55px;
  margin-bottom: 88px;
}

.rangeTtl {
  margin-bottom: 22px;
}

.tr {
  display: flex;
}

.trHead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.trBody {
  padding-top: 8px;
}

.td {
  text-transform: uppercase;
}

.trHead .td {
  opacity: 0.6;
}

/* .trBody .td {

} */

.td:nth-child(1) {
  width: 18.28%;
}

.td:nth-child(2) {
  width: 21.22%;
}

.td:nth-child(3) {
  width: 23.21%;
}

.td:nth-child(4) {
  width: 37.29%;
}

@media (max-width: 1300px) {
  .rewardsContainer {
    padding-top: 70px;
  }
  .text {
    padding-bottom: 55px;
  }
}
@media (max-width: 1023px) {
  .text {
    padding-bottom: 55px;
  }

  .rewardsContainer {
    padding-top: 50px;
  }

  .rewardsDesc {
    line-height: 24px;
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .text {
    padding-bottom: 15px;
  }

  .listBg {
    padding: 33px;
  }

  .rewardsRange {
    margin-top: 50px;
  }

  .rangeTtl {
    margin-bottom: 20px;
  }

  .rewardsTable {
    display: flex;
  }

  .trHead,
  .trBody {
    flex-direction: column;
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .trHead {
    border-bottom: none;
  }

  .td {
    padding: 15px 0px;
  }

  .td:nth-child(1),
  .td:nth-child(2),
  .td:nth-child(3),
  .td:nth-child(4) {
    width: 100%;
  }

  /* .trHead .td {

  } */
}
