.wrapper{
  width: 1128px;
  height: 438px;
  max-width: 78%;
  height: inherit;
  position: relative;
}

.Activity__filterWrap {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 3px 1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-top: 25px;
}

.Activity__filter {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.Activity__filter__item {
  border-radius: 4px;
  padding: 6px 24px;
  cursor: pointer;
  margin:0 2px;
}

.Activity__filterActive {
  background-color: rgba(255, 255, 255, 0.1)!important;
}

@media (max-width: 768px) {
   .wrapper{
    max-width: 100%;
    width: 100%; 
    height: 438px;
    margin-top: 50px;
   }
}

@media (max-width: 460px) {
  .Activity__filter__item {
    padding: 6px 10px;

  }
}