.form button {
  width: 100%;
  justify-content: center;
}

.proposalSection{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 60%;
}
.vote {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  padding: 20px;
  margin-top: 10px;
}
.vote h3{
  font-size: 16px;
  line-height: 22px;

}
.seeMore {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.seeMore p {
  color: #0500ff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
}
.seeMore p:hover {
  color: #ffa800;
}
.inputWrapper input {
  width: 14px;
  color: #ffffff;
  height: 14px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.3;
  border: 2px solid #ffffff;
  margin-right: 16px;
}
.redWord {
  color: #e94a4a;
}

.voteButton{
  height: 42px;
}
.inputWrapper p{
  font-size: 12px;
  line-height: 17px;
  color: #B2B4B7;
}
.inputWrapper span {
  font-size: 12px;
}
.list ul li::after {
  position: absolute;
  top: 8px;
  left: 0px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #0500ff;
  content: "";
}
.list ul li {
  position: relative;
  padding-left: 15px;
}
.list span {
  color: #ffffff;
  opacity: 0.7;
}
.hotLink {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
  white-space: nowrap;
}
.blueHover{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  color:#FF7152;
}
.backBtn:hover .blueHover {
  color: #0500ff;
}
.svgHoverBlue path,
.svgHoverBlue,
.svgHoverOrange path,
.hover svg,
.hover a,
.orangeHover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.arrowSvg{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  fill: #FF7152;
  margin-right: 10px;
}
.backBtn:hover .arrowSvg {
  transform: translateX(-5px);
  fill: #0500ff;
}
.hover a:hover {
  color: #ff7152;
}
.hover a:hover .svgHoverOrange path {
  fill: #ff7152;
}
.ProposalInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  width: 100%;
}
.backBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.border {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  margin-top:18px;
  margin-bottom: 18px;
}
.details__wrapper {
  display: flex;
  flex-direction: column;
}
.details {
  width: 433px;
  height: 308px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  padding: 20px;
}
.result{
  width: 433px;
  height: 241px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  padding: 20px;
}
.item a {
  color: #0500ff;
}
.item {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.item p:first-child{
  font-size: 15px;
  line-height: 21px;
}

.itemInner svg {
  margin-left: 7px;
}
.itemInner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.details p {
  color: #b2b4b7;
}
.details > p {
  opacity: 1;
}
.fontColor {
  color: #ffffff !important;
  font-size: 16px;
  line-height: 22px;
}

.dateData{
  color: #ffffff !important;
  font-size: 13px;
  line-height: 18px;
}
.green {
  color: #66bb6a;
}
.detailsCont {
  display: flex;
  justify-content: space-between;
}
.itemInner > p {
  color: #ffffff;
}
.marginTop {
  margin-top: 10px;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
}
.current__wrapper {
  display: flex;
  flex-direction: column;
}
.green {
  color: #66bb6b;
}
.grey p:nth-child(1) {
  color: #b2b4b7;
}
.voteNow {
  padding: 4px 6px;
  border: 1px solid #ff7152;
  border-radius: 15px;
  color: #ff7152;
  font-size: 10px;
  line-height: 14px;
}
.leftContainerMargin {
  margin-top: 10px;
}
.title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  line-height: 42px;
}
.blockquote p:nth-child(2) {
  opacity: 0.7;
  margin-top: 10px;
}
.syrupPool p:nth-child(1) {
  margin-top: 10px;
}
.syrupPool {
  margin-top: 30px;
}
.syrupPool__item {
  opacity: 0.7;
}
.warning {
  display: flex;
  flex-direction: column;
}
.warning p:nth-child(3) {
  opacity: 0.7;
}
.syrupPool a {
  color: #ff7152;
  opacity: 0.7;
  border-bottom: 2px solid rgba(255, 113, 82, 0);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.syrupPool a:hover {
  border-bottom: 2px solid rgba(255, 113, 82, 1);
}
.warning svg {
  margin-right: 10px;
}
.warning__inner {
  margin: 0 15px 0 0;
  color: #ffa800;
}
.proposal__orangeLine1 {
  position: absolute;
  top: 34px;
  left: 0;
}
.grey p:nth-child(4) {
  opacity: 0.3;
}
.proposal__flexDiv {
  display: flex;
  justify-content: space-between;
}
.grey p:nth-child(5) {
  color: #b2b4b7;
  margin-top: 20px;
}
.proposal__orangeLine2 {
  position: absolute;
  top: 120px;
  left: 0;
}
.details__leftLontainer div:nth-child(15) {
  display: flex;
  justify-content: space-between;
}
.proposal__blackLine1,
.proposal__blackLine2 {
  width: 100%;
  background: #ffffff;
  opacity: 0.06;
  border-radius: 2px;
  height: 6px;
  margin: 10px 0 5px 0;
  position: relative;
}
.proposal__orangeLine1 {
  width: 98%;
  background: #ff7152;
  border-radius: 2px;
  height: 6px;
  margin: 10px 0 5px 0;
  position: absolute;
  top: 24px;
  left: 0;
}
.proposal__orangeLine2 {
  width: 3%;
  background: #ff7152;
  border-radius: 2px;
  height: 6px;
  margin: 10px 0 5px 0;
  position: absolute;
  top: 107px;
  left: 0;
}
.votes {
  display: flex;
  flex-direction: column;
}
.voteLength1 {
  width: 5%;
  border: 3px solid#FF7152;
  border-radius: 3px;
  position: absolute;
}
.red {
  color: #e94a4a;
}
.resultActive {
  opacity: 1;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.tagWrapper{
  display: flex;
  gap: 8px;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .ProposalInfo {
    display: block;
  }
  .border,
  .details,
  .proposal__current {
    width: 100%;
  }

  .title {
    width: 60%;
  }
  .blockquote {
    width: 80%;
  }
  /* .Info {
    justify-content: initial;
  } */
}
/*Mobile 320*/
@media (max-width: 767px) {
  .ProposalInfo {
    flex-direction: column;
    width: 100%;
  }
  .title {
    width: 100%;
  }
  .blockquote {
    width: 80%;
  }
  /* .proposal__column p {
    width: 50%;
  } */
  .syrupPool a {
    font-size: 13px;
  }
}
