.wrapper{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.Activity__filterWrap {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 5px;
  border-radius: 4px;
}

.Activity__filter {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.Activity__filter__item {
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin:0 2px;
  color: #162029;
  font-weight: 400;
}

.Activity__filterActive {
  background-color: #ff6969;

}
