.auction__container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 60px;
}

.auction__head {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.auction__notice {
  margin: 0 auto;
  width: 60%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background: rgba(234, 171, 77, 0.05);
  text-align: center;
  border: 1px solid rgba(22, 32, 41, .2);
  border-radius: 20px;
}

.auction__tableContainer {
  position: relative;
  display: flex;
  gap: 25px;
}

.auction__leftPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  border: 1px solid rgba(22, 32, 41, .2);
  background-color: #F3E4D2;
}

.auction__details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.auction__details svg {
  margin-left: 10px;
}

.active {
  background-color: #1d2833;
}

.tableContainer {
  width: 65%;
}

.auction__burnedContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.FAQSection {
  display: flex;
}

.FAQWrapper {
  width: 70%;
}

.centerElement {
  width: fit-content;
  margin: auto;
}
