.containerCatena {
  margin-top: 50px;
}

.CatTit {
  max-width: 40%;
  margin: 2px 0px 40px 0px;
}

.ulTxt {
  max-width: 90%;
}

/*Ipad 768*/
@media (max-width: 1023px) {
  .CatTit {
    max-width: 100%;
  }
}
