.footer,.navbar{
    display: none;
}
.bridge__section{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.bridge__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bridge__steps{
    width: 350px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.bridge__step{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    justify-content: center;
}
.bridge__step .ttl{
    color: rgba(255,255,255,.3);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__step i{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #1A1E26;
    margin-top: 6px;
    background: #00050F;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__step i svg{
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.bridge__steps-line{
    height: 1px;
    background: #1A1E26;
    position: absolute;
    bottom: 7px;
    left: 20px;
    z-index: 1;
    width: calc(100% - 40px);
}
.bridge__steps-line-active{
    background: #0500FF;
}
.bridge__step.active-step i svg{
    opacity: 1;
}
.bridge__step.active-step i{
    background: #0500FF;
    border-color: #0500FF;
}
.bridge__step.active-step .ttl{
    color: #0500FF;
}
.bridge__step.progress-step .ttl{
    color: #fff;
}
.bridge__step.progress-step i{
    border-color: #0500FF;
}
.bridge__steps-line.bridge__steps-line-active{
    background: #0500FF;
    z-index: 2;
    width: 0px;
}
.step2.progress-step ~ .bridge__steps-line-active{
    width: 45%;
}
.step3.progress-step ~ .bridge__steps-line-active{
    width: 88%;
}
.bridge__box{
    padding: 20px;
    border: 1px solid transparent;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#00050f),to(#00050f)),-webkit-gradient(linear,left bottom,left top,from(#7464d7),to(rgba(116,100,215,.6))),-webkit-gradient(linear,left bottom,left top,from(#7464d7),to(rgba(116,100,215,.6))),-webkit-gradient(linear,left bottom,left top,from(#7464d7),to(rgba(116,100,215,.6))),-webkit-gradient(linear,left bottom,left top,from(#7464d7),to(rgba(116,100,215,.6)));
    background-image: linear-gradient(0deg,#00050f,#00050f),linear-gradient(0deg,#7464d7,rgba(116,100,215,.6)),linear-gradient(0deg,#7464d7,rgba(116,100,215,.6)),linear-gradient(0deg,#7464d7,rgba(116,100,215,.6)),linear-gradient(0deg,#7464d7,rgba(116,100,215,.6));
    background-origin: padding-box,border-box,border-box,border-box,border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%,20px 20px,20px 20px,20px 20px,20px 20px;
    background-position: 0 0,0 0,100% 0,0 100%,100% 100%;
}
.bridge__box-ttl{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #1A1E26;
}
.bridge__box-ttl h2{
    color: #BABBBE;
    text-align: center;
}
.bridge__box-sub-ttl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    border-bottom: 1px solid #1A1E26;
}
.bridge__box-sub-ttl p{
    color: #BABBBE;
    margin-bottom: 10px;
}
.bridge__box-sub-ttl div span{
    font-size: inherit;
    color: #FF7152;
}
.bridge__box-selects{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bridge__box-select-options{
    display: flex;
    width: 100%;
    background: #00050F;
    max-height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__box-select-inner.active .bridge__box-select-options{
    max-height: 150px;
}
.bridge__box-select-options::-webkit-scrollbar {
    width: 2px;
}
.bridge__box-select-out{
    display: flex;
    flex-direction: column;
    width: calc(50% - 35px);
}
.bridge__box-select-ttl{
    color: #969799;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.bridge__box-select{
    width: 100%;
    height: 83px;
    position: relative;
}
.bridge__box-select-main{
    background: #191E27;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 13px 10px;
    cursor: pointer;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__box-select-main:hover{
    background: #15191f;
}
.bridge__box-select-main > span{
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
    color: #BABBBE;
}
.bridge__box-select-inner{
    padding: 5px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: #00050F;
}
.bridge__box-select-main p{
    display: flex;
    width: 100%;
    align-items: center;
}
.bridge__box-select-main p img{
    height: 24px;
    width: 24px;
    margin-right: 6px;
}
.bridge__box-select-main p svg{
    margin-left: auto;
}
.bridge__swap-btn{
    background: #0500FF;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.bridge__swap-btn:hover{
    background: #FF7152;
}
.bridge__box-sec-floor{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.bridge__box-assets{
    width: calc(44% - 15px);
}
.bridge__box-amount{
    width: calc(56% - 15px);
    position: relative;
}
.bridge__box-amount input{
    height: 56px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    width: 100%;
    background: transparent;
}
.bridge__box-amount-max{
    color: #0500FF;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__box-amount-max:hover{
    color: #FF7152;
}
.bridge__box-assets-btn{
    height: 56px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__box-destination{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.bridge__box-destination-inner{
    display: flex;
    width: 100%;
    height: 56px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}
.bridge__box-destination-inner input{
    width: calc(50% - 30px);
    background: transparent;
    color: #fff;
    border: 0px;
    padding-left: 10px;
    height: 100%;
    font-size: 13px;
}
.bridge__box-destination-inner span{
    font-size: 13px;
}
.bridge__box-destination-btn{
    margin-right: 10px;
    height: 36px;
    border: 1px solid #0500FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: calc(50% - 30px);
    font-size: 11px;
    justify-content: center;
    color: #0500FF;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
}
.bridge__box-destination-btn:hover{
    color: #ffffff;
    background: #0500FF;
}
.bridge__box-connect-btn{
    width: 100%;
    border-radius: 4px;
    background: #0500FF;
    cursor: pointer;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    height: 56px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.bridge__box-connect-btn:hover{
    background: #FF7152;
}
/*.bridge__section-step1,.bridge__section-step2{*/
/*    display: none;*/
/*}*/
.bridge__box-checked-selects{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #1A1E26;
}
.bridge__box-checked-select-inner{
    display: flex;
    align-items: center;
}
.bridge__box-checked-select-inner img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.bridge__box-checked-select-descr p{
    color: #BABBBE;
}
.bridge__box-checked-selects svg{
    margin-top: auto;
    margin-bottom: 15px;
}
.bridge__box-about{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #1A1E26;
}
.bridge__box-about div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.bridge__box-about div p:nth-child(1){
    color: #969799;
}
.bridge__box-sub-ttl.bridge__box-sub-ttl-down{
    border-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.bridge__box-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}
.bridge__box-info{
    background: rgba(255,255,255,.1);
    width: 100%;
    display: flex;
    margin-top: 20px;
    padding: 10px;
}
.bridge__box-info i{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0500FF;
    border-radius: 50%;
    margin-right: 10px;
}
.bridge__box-info a{
    color: #0500FF;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    font-size: inherit;
}
.bridge__box-info a:hover{
    color: #FF7152;
}
.bridge__box-select-option{
    display: flex;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.bridge__box-select-options-inner{
    background: #0A0F18;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
}
.bridge__box-select-option{
    width: 100%;
    display: flex;
    font-size: 13px;
    height: 39px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    padding: 0px 5px;
    color: rgba(255,255,255,.7);
}
.bridge__box-select-option img{
    height: 24px;
    width: 24px;
    margin-right: 5px;
}
.bridge__box-select-option:hover{
    background: rgba(255,255,255,.04);
    color: rgba(255,255,255,1);
}
.bridge__box-select-option.active{
    color: #0500FF;
    pointer-events: none;
}
