.box { 
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 35px;
}

.TiTle { 
    margin: 50px 0px 50px 0px;
}

.boxHover { 
    cursor: pointer;
}   

.container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxTwo { 
    display: flex;
}

.aaa { 
    margin: 0px 10px 5px 10px;
}

.paragrah { 
    margin-bottom: 80px;
}

.boder { 
    border: 1px solid red;
    margin-top: 5px;
    width: 100%;
}


.BoxTitle:hover { 
    color: red;
}

.BoxTitle:hover  .boder { 
    transition: .90s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    transform: scale(0.04);
}

.span { 
    display: flex;
    margin-left: 10%;
}

/*Ipad 768*/
@media (max-width: 1023px) { 
    .mane { 
        width: 100%;
    }

    .container { 
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 10px;
    }
}

/*Mobile 320*/
@media (max-width: 768px) { 
    .mane { 
        width: 100%;
    }

    .container { 
        display: grid;
        grid-template-columns: 1fr;
    }
}




  