.testBtn {
    position: absolute;
    top: 150px;
    left: 200px;
    background: red;
    z-index: 5;
}
.mainSliderLogo {
    display: flex;
    padding: 30px 50px;
    border-radius: 200px;
    border: 2px solid rgba(255,255,255,.0);
    margin-right: auto;
    transition: .8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    margin-bottom: 40px;
}
.mainSlider {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
}
.mainSliderActive .mainSliderLogo {
    border-color: #FF6969;
    transition-delay: .6s;
}
.mainSliderLogo > div {
    display: flex;
    overflow: hidden;
}
.mainSliderLogo svg {
    transition: .8s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.mainSliderItem {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.mainSliderActive.mainSliderItem {
    pointer-events: all;
}
.mainSliderItemDescription {
    display: flex;
    flex-direction: column;
    padding-top: 180px;
}
.mainSliderLogo > div:nth-child(1) {
    margin-right: 6px;
}
.mainSliderLogo > div:nth-child(3) {
    margin-right: 10px;
}
.mainSliderLogo > div:nth-child(4) {
    margin-right: 14px;
}
.mainSliderLogo > div:nth-child(5) {
    margin-right: 9px;
}
.mainSliderLogo > div:nth-child(1) svg{
    transform: translateX(-120%);
}
.mainSliderLogo > div:nth-child(2) svg{
    transform: translateY(120%);
    transition-delay: .1s;
}
.mainSliderLogo > div:nth-child(3) svg{
    transform: translateY(-120%);
    transition-delay: .2s;
}
.mainSliderLogo > div:nth-child(4) svg{
    transform: translateX(-120%);
    transition-delay: .3s;
}
.mainSliderLogo > div:nth-child(5) svg{
    transform: translateY(-120%);
    transition-delay: .4s;
}
.mainSliderLogo > div:nth-child(6) svg{
    transform: translateY(120%);
    transition-delay: .5s;
}
.mainSliderActive .mainSliderLogo > div svg {
    transform: translateY(0px) translateX(0px);
}
.mainSliderItemBtn {
    border-radius: 61px;
    border: 1px solid #162029;
    background: #A6D0DD;
    backdrop-filter: blur(8px);
    height: 74px;
    display: flex;
    align-items: center;
    padding: 0px 60px;
    margin-right: auto;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    margin-top: 40px;
}
.mainSliderItemBtn:hover {
    background: #ff6969;
}
.mainSliderItemDescription h1 {
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    transform: translateY(10px);
    opacity: 0;
    width: 80%;
}
.mainSliderActive .mainSliderItemDescription h1 {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .4s;
}
.mainSliderItemBtnOut {
    display: flex;
    margin-right: auto;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    transform: translateY(10px);
    opacity: 0;
}
.mainSliderActive .mainSliderItemBtnOut {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: .5s;
}
.mainSliderItemHalf {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.mainSliderItemReverse .mainSliderItemHalf{
    margin-left: auto;
}
.mainSliderItemHalf h2 {
    margin-bottom: 10px;
    transform: translateY(10px);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.mainSliderActive .mainSliderItemHalf h2 {
    opacity: 1;
    transition-delay: .1s;
    transform: translateY(0px);
}
.mainSliderItemHalfDesc1 {
    transform: translateY(10px);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.mainSliderActive .mainSliderItemHalfDesc1 {
    transition-delay: .2s;
    transform: translateY(0px);
    opacity: 1;
}
.mainSliderItemHalfDesc2 {
    transform: translateY(10px);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.mainSliderActive .mainSliderItemHalfDesc2 {
    transition-delay: .3s;
    transform: translateY(0px);
    opacity: 1;
}
.mainSliderItemTask {
    position: relative;
    margin-right: auto;
    transform: scale(.8);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.mainSliderActive .mainSliderItemTask {
    opacity: 1;
    transform: scale(1);
}
.mainSliderItemSolution {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    transform: scale(.8);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
}
.mainSliderActive .mainSliderItemSolution {
    transition-delay: .3s;
    opacity: 1;
    transform: scale(1);
}
.mainSliderItemTaskTxt {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6969;
    z-index: 2;
    font-size: 12px;
    padding-bottom: 8px;
}
.mainSliderItemSolutionTxt {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #162029;
    z-index: 2;
    font-size: 16px;
    padding-bottom: 2px;
}
.sliderContainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000000;
}
.swiperItem {
    width: 100vw;
    height: 100vh;
}
.scrollMore {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.mainSliderActive .scrollMore {
    pointer-events: all;
}
.scrollMore > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translateY(10px);
    opacity: 0;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.mainSliderActive .scrollMore > div {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: 4s;
}
.scrollMore svg {
    transform: rotate(-90deg);
    margin-top: 5px;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.scrollMore div:hover svg {
    transform: rotate(-90deg) translateX(-5px);
}
.scrollMore p {
    padding: 0px 10px;
    margin-bottom: 5px;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid rgba(22, 32, 41, 0.10);
    background: #F2E1CE;
}
.scrollMore div:hover p {
    background: #ff6969;
}
@media (max-width: 1300px) {
    .mainSliderLogo {
        transform: scale(0.8);
        transform-origin: left bottom;
    }
    .mainSliderItemBtn {
        height: 61px;
        padding: 0px 30px;
    }
}
@media (max-width: 767px) {
    .mainSliderItemBtnOut {
        margin-left: auto;
    }
    .mainSliderItemDescription h1{
        text-align: center;
        width: 100%;
    }
    .mainSliderLogo {
        transform: scale(1);
        margin: 20px auto;
        padding: 5px 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mainSliderItemHalf {
        width: 100%;
    }
    .mainSliderItemHalfDesc2,.mainSliderItemHalfDesc1 {
        font-size: 14px;
    }
    .mainSliderItemSolution {
        margin-top: 15px;
    }
    .scrollMore p {
        font-size: 12px;
    }
}
