.dashboardTable {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.thead{
  display: flex;
  height: 58px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.dashboardTable .td span {
  color: #ff7152;
  font-size: inherit;
}
.th span{
  color: inherit;
  font-size: inherit;
}
.dashboardTable__items a {
  color: #0500ff;
}

.resultColor {
  color: #66bb6a;
}
.marginBottom {
  margin-bottom: 100px;
}

.table-section .rounded-tbl .th,

.th {
  color: #627eea;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
}
.th:last-child {
  text-align: right;
}
.td:last-child {
  text-align: right;
  padding-right: 0px!important;
}
.td:first-child{
  color: #0500ff;
}
.td{
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tr{
  display: flex;
  width: 100%;
  align-items: center;
}
.tr > *:nth-child(1) {
  width: 30%;
}
.tr > *:nth-child(2) {
  width: 20%;
}
.tr > *:nth-child(3) {
  width: 20%;
}
.tr > *:nth-child(4) {
  width: 15%;
}
.tr > *:nth-child(5) {
  width: 7%;
}
.tr > *:nth-child(6) {
  width: 8%;
  padding-right: 0px;
  text-align: right;
}
.mobTtl{
  display: none;
}
.plusIcon{
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  position: relative;
  margin-left: auto;
}
.plusIcon span {
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}
.plusIcon span:first-child {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.mobileRow{
  display: none;
}
/* tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.03);
} */
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .plusIcon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .plusIcon.activePlusIcon span:first-child {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .tr{
    flex-wrap: wrap;
  }
  .mobileRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    overflow: hidden;
    max-height: 0px;
  }
  .mobileRow.activeMobileRow{
    max-height: 800px;
  }
  .mobileRowTtl{
    font-size: 13px;
    color: rgba(98, 126, 234, 1);
    line-height: 18px;
  }
  .mobileRowContent{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mobTtl{
    display: flex;
  }
  .deskTtl{
    display: none;
  }
  .tr > *:nth-child(2),.tr > *:nth-child(3),.tr > *:nth-child(5) {
    display: none;
  }
  .td{
    padding-right: 10px;
  }
  .tr > *:nth-child(1) {
    width: 30%;
  }
  .tr > *:nth-child(4) {
    width: 34%;
  }
  .tr > *:nth-child(6) {
    width: 27%;
    text-align: right;
  }
}
.dashboardTable__title p {
  width: auto !important;
}
.dashboardTable__items {
  display: flex;
}
/*Ipad 768*/
@media (max-width: 1023px) {
}
/*Mobile 320*/
@media (max-width: 767px) {
  /* table thead {
    display: none;
  } */
}
