.mainContainer {
  width: 100%;
  position: relative;
}
.titleContainer {
  width: 570px;
  display: flex;
  gap: 50px;
}

.titlePartyOne {
  color: #ff6969;
  font-size: 90px;
  font-family: 'Lack', sans-serif;
  font-weight: 400;
}

.titlePartyTwo {
  font-size: 90px;
  color: #162029;
  font-family: 'Lack', sans-serif;
  font-weight: 400;
}

.titleDesc {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.imgBackgr {
  width: 72px;
  height: 72px;
}

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.mapContainer > div:nth-child(1) {
  flex-basis: 100%;
}

.mapContainer > div:nth-child(n + 2) {
  flex-basis: calc(50% - 25px);
}
.joinCommunity {
  margin-top: 128px;
}
@media (max-width: 1223px) {
  .titleContainer {
    width: auto;
    /* display: flex; */
    gap: 20px;
    font-size: 40px;
  }

  .titleContainer p {
    width: auto;
    gap: 20px;
    font-size: 40px;
  }
  .titleDesc p {
    font-size: 25px;
  }
}

@media (max-width: 1023px) {
  .joinCommunity {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  .titleDesc {
    width: 100%;
    .titleDesc p {
      font-size: 20px;
    }
    .mapContainer {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
