.boxTitle { 
    width: 90%;
    padding: 40px;
    height: auto;
    background-color: #A6D0DD;
    border-radius: 10px;
    border: 1px solid #162029;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.aa { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
}

.h1 { 
    font-size: 40px;
    cursor: pointer;
}

.p { 
    font-size: 20px;
    max-width: 1000px;
    cursor: pointer;
}

.a { 
    color: #FF6969;
    border-bottom: 1px solid #FF6969;
    max-width: 330px;
    cursor: pointer;
}