.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 150px;
}
.footerRight {
  display: flex;
}
.footerNav {
  margin-right: 85px;
}
.footerNav a {
  margin-left: 25px;
  font-size: 12px;
  line-height: 16px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0.5;
}
.footerNav a:hover {
  opacity: 1;
}
.footer p {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5;
}
.footerFollow {
  display: flex;
  align-items: center;
}
.footerFollow a {
  display: flex;
  margin-left: 16px;
  opacity: 0.5;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.footerFollow a:hover {
  opacity: 1;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footerRight {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .footerNav {
    margin-right: 0px;
    display: flex;
    margin-bottom: 30px;
  }
  .footerNav a {
    margin: 0px 7px;
  }
  .footerFollow a {
    margin: 0px 7px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .footerRight {
    margin-top: 15px;
  }
  .footerNav {
    margin-bottom: 15px;
  }
}
