.header{
  width: 100%;
  display: flex;
  height: 105px;
  align-items: center;
  position: absolute!important;
  top: 0px;
  left: 0px;
  z-index: 100!important;
}
.headerLogo{
  display: flex;
  align-items: center;
  margin-right: 60px;
  position: relative;
  z-index: 10;
}
.headerLogo span{
  font-size: 18px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transition-delay: .4s;
}
.headerLogo span.headerLogoTxtHidden{
  transform: translateX(-100%);
  transition-delay: 0s;
}
.headerLogoLine{
  height: 40px;
  width: 2px;
  background: rgba(255,255,255,.1);
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transition-delay: .4s;
}
.headerLogoLineActive{
  transform: scaleY(0);
  transition-delay: 0s;
}
.headerLogoTxtOuter{
  display: flex;
  margin-left: 16px;
  overflow: hidden;
}
.headerLine{
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #ff7152;
  width: 100%;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: scaleX(0);
  transform-origin: left;
}
.headerLineActive{
  transform: scaleX(1);
}
.headerBg{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 5, 15, .7);
  z-index: 90;
  opacity: 0;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  pointer-events: none;
}
.headerBgActive{
  opacity: 1;
  pointer-events: all;
}
.headerInner{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;
}
.headerNav{
  display: flex;
  position: absolute;
  top: 40px;
  left: 0px;
  justify-content: center;
  width: calc(100% - 420px);
  padding-left: 50px;
}
.headerNavLinkSubTtl{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  max-width: 0px;
  max-height: 0px;
  pointer-events: none;
  overflow: hidden;
  transition: .5s linear;
  padding: 0px 17px;
  padding-bottom: 10px;
  transition-delay: .4s;
}
.activeMenuSub{
  max-width: 200px!important;
  max-height: 400px;
  transition-delay: 0s;
  pointer-events: all;
}
.headerNavLinkSubTtl > i{
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ff7152;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerNavLinkSubTtl > i.activeBg{
  transform: scaleY(1);
  transition-delay: .8s;
}
.headerNavLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 17px;
  position: relative;
  margin-bottom: auto;
}
.headerNavLink > i{
  position: absolute;
  height: 106px;
  left: 0px;
  top: -40px;
  background: #ff7152;
  width: 100%;
  transform: scaleX(0);
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transition-delay: .6s;
}
.headerNavLinkTtl{
  position: relative;
  z-index: 4;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  padding-top: 2px;
  padding-bottom: 40px;
}
.activeMenu > i{
  transform: scaleX(1)!important;
  transition-delay: .4s;
}
.headerNavOpacity .headerNavLinkTtl:not(.activeTtl) {
  color: #969BA6;
}
.headerNavLinkSubTtl a{
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
.headerNavLinkSubTtl a:last-child{
  margin-bottom: auto;
}
.headerNavLinkSubTtl span{
  font-size: 14px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: .5;
}
.headerNavLinkSubTtl a > div{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateY(-100%);
}
.activeMenuSub.headerNavLinkSubTtl a > div{
  transform: translateY(0%);
}
.headerNavLinkSubTtl a:hover > div > span{
  opacity: 1;
}
.headerRight{
  display: flex;
  align-items: center;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transition-delay: .4s;
}
.headerRightHideToRight.headerRight{
  transform: translateX(100%);
  transition-delay: 0s;
  opacity: 0;
}
.headerRightHideToLeft.headerRight{
  transform: translateX(-100%);
  transition-delay: 0s;
  opacity: 0;
}
.headerRightOuter{
  display: flex;
  height: 100%;
}
.headerBalance{
  display: flex;
  align-items: center;
  margin-right: 15px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-left: auto;
}
.headerBalance svg{
  margin-right: 5px;
}
.headerLangs{
  display: flex;
  margin: 0px 15px;
  position: relative;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  height: 100%;
}
.headerLangNow{
  display: flex;
  align-items: center;
  position: relative;
  min-width: 60px;
  height: 100%;
  justify-content: center;
}
.headerLangNowMainTtl{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.headerLangNowActive .headerLangNowMainTtl{
  pointer-events: none;
}
.headerLangNowMainTtl svg{
  margin-right: 5px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerLangNowMainTtl path{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerLangNowMainTtl:hover path{
  fill: #ff7152;
}
.headerLangNowMainTtl span{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerLangNowMainTtl:hover span{
  color: #ff7152;
}
.headerLangNowSvg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLangNow > i {
  position: relative;
  z-index: 1;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  background: #ff7152;
  height: 100%;
  min-width: 0px;
  transition-delay: .4s;
}
.headerLangsModalTtl{
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateY(-10px);
  opacity: 0;
}
.headerLangsModalLink {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px dashed rgba(255,255,255,.2);
  color: rgba(255,255,255,.7);
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
}
.headerLangsModalLink:hover,.headerLangsModalLinkActive {
  color: rgba(255,255,255,1);
}
.headerLangsModalLinkActive{
  cursor: default;
}
.headerLangsModalLink div{
  margin: 0px 5px;
  color: inherit;
  font-size: inherit;
}
.headerLangsModalLink:last-child{
  border: none;
}
.headerSettingsBtn{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  min-width: 20px;
  height: 100%;
  justify-content: center;
}
.headerSettingsBtn svg{
  cursor: pointer;
}
.headerSettingsBtnSvg{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.headerSettingsBtn > i {
  position: relative;
  z-index: 1;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  background: #ff7152;
  height: 100%;
  min-width: 0px;
  transition-delay: .4s;
}
.headerSettingsBtnActive > i,.headerLangNowActive > i{
  min-width: 80px;
  transition-delay: 0s;
}
.headerSettingsBtn path{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerSettingsBtn:not(.headerSettingsBtnActive) svg:hover path{
  fill: #ff7152;
}
.headerLangOptionParent{
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  margin-left: 30px;
  cursor: pointer;
}

.headerConnectBtnContainer{
  position: relative;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-left: 15px;
}
.headerCornerModal{
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  z-index: 10;
  height: 100%;
  padding: 0px 15px;
  pointer-events: none;
}
.headerCornerModal.connectWalletActive{
  pointer-events: all;
}
.headerCornerModal > i{
  position: absolute;
  background: #ff7152;
  height: calc(100% + 40px);
  top: -40px;
  left: 0px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition-delay: .4s;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.connectWalletActive > i{
  transform: scaleX(1);
  transition-delay: 0s;
}
.connectWalletItems{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
  align-items: center;
}
.connectWalletItem{
  display: flex;
  border: 1px solid #fff;
  align-items: center;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.connectWalletItem:hover{
  background: #fff;
}
.connectWalletItem div{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.connectWalletItem:hover div{
  color: #ff7152;
}
.connectWalletItemImg{
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 2px solid #fff;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.connectWalletItem:hover .connectWalletItemImg{
  border-color: #ff7152;
}
.connectWalletItem img{
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.connectWalletItemOuter{
  transform: translateY(-5px);
  opacity: 0;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.connectWalletItemsActive .connectWalletItemOuter{
  transform: translateY(0px);
  opacity: 1;
}
.headerConnectBtnContainer div{
  padding: 0px 15px;
}
.burger{
  display: none;
}
/*.headerConnectBtnContainer{*/
/*  display: none;*/
/*}*/
.headerConnected{
  display: flex;
  position: relative;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedBtn{
  display: flex;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
}
.headerConnectedBtn:after{
  content: '';
  position: absolute;
  left: 0px;
  height: 20px;
  width: 1px;
  background: rgba(255, 255, 255, .2);
  top: 10px;
}
.headerConnectedBtnImg{
  position: relative;
  height: 42px;
  width: 42px;
  background: #fff;
  border-radius: 50%;
  margin-right: 12px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedBtnImg img{
  height: 40px;
  width: 40px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedBtn:hover .headerConnectedBtnImg img,.headerConnectedBtn.headerConnectedBtnActive .headerConnectedBtnImg img{
  transform: scale(.9);
}
.headerConnectedBtn:hover .headerConnectedBtnImg,.headerConnectedBtn.headerConnectedBtnActive .headerConnectedBtnImg{
  background: #ff7152;
}
.headerConnectedBtn span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85px;
  margin-right: 12px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedBtn:hover span,.headerConnectedBtn.headerConnectedBtnActive span{
  opacity: .7;
}
.headerConnectedBtn svg{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedBtn.headerConnectedBtnActive svg{
  transform: rotate(180deg);
}
.headerConnectedModal{
  position: absolute;
  top: 90px;
  right: 40px;
  background: rgba(10, 15, 24, 0);
  border-radius: 4px;
  border: 1px solid rgba(22, 27, 36, 0);
  width: 260px;
  padding: 20px;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  z-index: 10;
}
.headerConnectedModal.headerConnectedModalActive{
  background: rgba(10, 15, 24, 1);
  border: 1px solid rgba(22, 27, 36, 1);
  pointer-events: all;
}
.headerConnectedModalInner{
  display: flex;
  width: 100%;
  flex-direction: column;
  transform: translateY(10px);
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0;
}
.headerConnectedModalActive .headerConnectedModalInner{
  opacity: 1;
  transform: translateX(0px);
}
.headerConnectedModalAddress{
  width: 100%;
  border-radius: 4px;
  background: rgba(5, 8, 13, 1);
  display: flex;
  padding: 10px 16px;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  margin-bottom: 4px;
}
.headerConnectedModalAddress > div{
  display: flex;
  flex-direction: column;
}
.headerConnectedModalAddress > div span:nth-child(1){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 105px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedModalAddress:hover > div span:nth-child(1){
  color: #ff7152;
}
.headerConnectedModalAddress > div span:nth-child(2){
  font-size: 13px;
  line-height: 16px;
  opacity: .3;
  text-transform: capitalize;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedModalAddress:hover > div span:nth-child(2){
  opacity: .4;
}
.headerConnectedModalAddress path{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedModalAddress:hover path{
  fill: #ff7152;
}
.headerConnectedModalLink{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}
.headerConnectedModalLink span {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  color: rgba(255, 255, 255, .5);
}
.headerConnectedModalLink svg{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedModalLink:hover svg {
  transform: translateX(5px);
}
.headerConnectedModalLink:hover span {
  color: #ff7152;
}
.headerConnectedModalLink path{
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.headerConnectedModalLink:hover path {
  fill: #ff7152;
}
.headerConnectedModalInner > i {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, .1);
  margin-top: 16px;
}
.settingsModal,.headerLangsModal {
  position: absolute;
  right: 0px;
  padding: 30px 15px 30px 30px;
  width: 433px;
  top: 104px;
  pointer-events: none;
}
.settingsModal > i,.headerLangsModal > i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ff7152;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform-origin: top;
  transform: scaleY(0);
}
.headerSettingsBtnActive .settingsModal > i,.headerLangNowActive .headerLangsModal > i{
  transform: scaleY(1);
  transition-delay: .4s;
}
.headerSettingsBtnActive .settingsModal,.headerLangNowActive .headerLangsModal {
  pointer-events: all;
}
.settingsModalInner,.headerLangsModalInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 3;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  transform: translateY(-10px);
  opacity: 0;
  overflow: auto;
  max-height: calc(100vh - 150px);
  padding-right: 15px;
}
.settingsModalInner::-webkit-scrollbar,.headerLangsModalInner::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.settingsModalInner::-webkit-scrollbar-track,.headerLangsModalInner::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.settingsModalInner::-webkit-scrollbar-thumb,.headerLangsModalInner::-webkit-scrollbar-thumb {
  background: #fff;
}

.headerSettingsBtnActive .settingsModalInner,.headerLangNowActive .headerLangsModalInner,.headerLangNowActive .headerLangsModalTtl {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .6s;
}
.settingsModalBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}
.settingsModalBtn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  margin-right: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.settingsModalBtn:last-child {
  margin-right: 0px;
}
.settingsModalBtn:hover {
  background: #fff;
  border-color: #fff;
  color: #ff7152;
}
.settingsModalFloor {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.settingsModalBtnslFloor{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.settingsCheckboxContainer {
  display: flex;
  position: relative;
}
.settingsCheckboxContainer input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
}
.settingsCheckbox {
  display: flex;
  width: 36px;
  height: 22px;
  background: rgba(255,255,255,.2);
  border-radius: 12px;
  position: relative;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.settingsCheckbox i {
  height: 16px;
  width: 16px;
  position: absolute;
  left: 3px;
  top: 3px;
  background: #fff;
  border-radius: 50%;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.settingsCheckboxContainer input:checked ~ .settingsCheckbox i {
  transform: translateX(15px);
  background: #ff7152;
}
.settingsCheckboxContainer input:checked ~ .settingsCheckbox {
  background: #fff;
}
.settingsModalTtl {
  opacity: .7;
}
.settingsModalInput {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  height: 34px;
  padding-left: 10px;
  padding-right: 20px;
}
.settingsModalInput::placeholder {
  color: #fff;
  font-size: 13px;
}
.settingsModalInputOuter {
  position: relative;
  display: flex;
  width: 100%;
}
.settingsModalInputOuter span {
  position: absolute;
  right: 6px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.settingsModalLtlInput {
  width: 52px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgba(255,255,255,.3);
  background: transparent;
  text-align: center;
}
.settingsModalLine {
  background: rgba(255, 255, 255, .3);
  height: 1px;
  width: 100%;
  margin: 30px 0px;
}
.settingsModalBtnslFloorTtl{
  position: relative;
  width: 100%;
}
.settingsModalTitle{
  position: relative;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1350px) {
  .headerConnectedModal{
    right: 25px;
  }
  .headerNav{
    padding-left: 100px;
  }
  .headerLogoTxt,.headerLogoLine{
    display: none;
  }
  /*.headerLogo path{*/
  /*  display: none;*/
  /*}*/
  .headerLogo path:first-child{
    display: flex;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .headerConnectedModal{
    right: 68px;
  }
  .headerNavLinkSubTtl span{
    font-size: 18px;
    line-height: 25px;
  }
  .headerNavLinkTtl{
    font-size: 20px;
    line-height: 25px;
  }
  .burger{
    display: flex;
    flex-direction: column;
    width: 18px;
    height: 10px;
    justify-content: space-between;
    margin-left: 25px;
    z-index: 10;
  }
  .burger span{
    height: 1.5px;
    width: 100%;
    background: #fff;
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  }
  .activeBurger span:nth-child(2){
    transform-origin: right;
  }
  .activeBurger span:nth-child(1){
    transform: translateY(4.5px) rotate(-45deg);
    transition-delay: .2s;
  }
  .activeBurger span:nth-child(2){
    transform: scaleX(0);
  }
  .activeBurger span:nth-child(3){
    transform: translateY(-4px) rotate(45deg);
    transition-delay: .2s;
  }
  .headerRightOuter{
    margin-left: auto;
  }
  .headerNav{
    background: #ff7152;
    position: fixed;
    left: auto;
    right: 0px;
    height: 100vh;
    top: 0px;
    flex-direction: column;
    width: 300px;
    padding-left: 0px;
    transform: translateX(110%);
    transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    z-index: 5;
  }
  .activeHeaderNav.headerNav{
    transform: translateX(0%);
  }
  .headerNavLink{
    margin-bottom: 15px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .headerBalance,.headerLangs{
    display: none;
  }
  .headerLogo{
    margin-right: 0px;
  }
  .headerLogo svg{
    height: 36px;
    width: 86px;
  }
}
