.frontInfo {
  width: 60%;
  padding: 20px 100px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoTitleSenior {
  margin: 20px 0 20px 0;
  color: #162029;
}

.otherTitle {
  font-size: 51px;
  line-height: 66px;
  color: #162029;
  padding-bottom: 20px;
  font-family: 'Lack-Regular' !important;
}

.textDescription {
  font-size: 20px;
  line-height: 30px;
  color: #162029;
}

.textDescription1 {
  font-size: 20px;
  line-height: 30px;
  color: #162029;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .frontInfo {
    width: 100%;
  }
}