.Creator__categories {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.dropDownLabel {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 13px;
}

.dropdownContent {
  position: absolute;
  top: 48px;
  z-index: 999;
}
