.openPositionsListItem:hover > div span {
  color: #ff6969;
}

.popup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  z-index: 999;
  font-size: 14px;
  color: #162029;
  display: flex;
  align-items: center;
  transition: .1s;
}

/* .popup::before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
} */

.featuredJobs__btnContainer {
  height: 68px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0px 57px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  cursor: pointer;
  background-color: #ff6969;
  font-size: 18px;
  color: #162029;
  z-index: 77;
  border: 1px solid #162029;
  border-radius: 30px;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0px 135px;
  margin: 0px auto;
  display: flex;
}

.contmain {
  background-color: #f3e4d2;
  margin: 0 30px;
  border-radius: 20px;
  border: 1px solid gray;
}

.font__51 {
  padding-left: 115px;
  margin: 25px 0 30px 0;
  color: #162029;
}

.openPositionsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.openPositionsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
  background-color: #f3e4d2;
}

.openPositionsListItem {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid white;
  cursor: pointer;
  position: relative;
}

.openPositionsListItem > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.openPositionsListItem > p {
  opacity: 0.5;
  font-size: 15px;
  line-height: 24px;
}

.openPositionsListItem > div span {
  font-size: 20px;
  line-height: 30px;
  border-bottom: 1px solid #a6d0dd;
  width: 240px;
  padding-bottom: 4px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.openPositionsListItem > div span:hover {
  border-bottom: 1px solid #16bdf0;
}

.openPositionsListItemSvg {
  position: absolute;
  top: 36px;
  right: 0px;
  cursor: pointer;
  z-index: 5;
}

.openPositionsListItemSvg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.openPositionsListItemSvg:hover path {
  fill: #ff7152;
}


@media (max-width: 1700px) {
  .font__51 {
    padding-left: 25px;
  }
}

@media (max-width: 1300px) {
  .openPositionsList {
    padding-right: 0px;
  }

  .font__51 {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
}
