

.container{
    width: 100%;
    max-width: 1920px;
    padding: 0px 80px;
    margin: 0px auto;
    display: flex;
    position: relative;
    z-index: 5;
}

.font__51{
    margin-top: 60px;
    font-size: 51px;
    line-height: 66px;
}

.careerHow{
    padding-right: 350px;
}
.careerHow h2{
    margin-bottom: 30px;
}
.careerHow p{
    font-size: 20px;
    line-height: 30px;
    opacity: .5;
    padding: 20px 0;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {

.careerHow{
    padding-right: 0px;
}

.careerHow {
    text-align: center;
}

.font__51 {
    text-align: center;
}
}
