.workStyle {
  margin-top: 40px;
  color: #162029;
}

.careerHow h2 {
  margin-bottom: 30px;
}
.careerHow p {
  font-size: 20px;
  padding: 20px 0;
  width: 60%;
  line-height: 30px;
  color: #162029;
  text-align: start;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {

  .careerHow p {
    width: 70%;
  }

  .font__51 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .careerHow p {
    width: 100%;
    font-size: 16px;
  }

  .workStyle {
    line-height: 66px;
    font-size: 40px;
  }
}
