.workStyle {
  margin-top: 40px;
  font-size: 51px;
  line-height: 30px;
  color: #162029;
  font-family: 'Lack-Regular' !important;
}

.careerHow {
  padding-right: 350px;
}
.careerHow h2 {
  margin-bottom: 30px;
}
.careerHow p {
  font-size: 20px;
  padding: 20px 0;
  width: 750px;
  line-height: 30px;
  color: #162029;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .careerHow {
    padding-right: 0px;
  }

  .careerHow {
    text-align: center;
  }

  .font__51 {
    text-align: center;
  }
}
