.container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 90px;
    gap: 20px;
    width: 100%;
    border: 1px solid black;
}

.card {
    position: relative;
}

.button {
    left: 5%;
    position: absolute;
    z-index: 100;
    bottom: 10%;
    cursor: pointer;
}

.title {
    position: absolute;
    z-index: 100;
    top: 15%;
    font-family: Lack;
    color: #FFFFFF;
    left: 5%;
    /* font-size: 44px; */
    /* font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left; */
}

@media (max-width: 740px) {
    .title {
        position: absolute;
        z-index: 100;
        font-family: Lack;
        color: #FFFFFF;
        left: 5%;
        font-size: 20px; 
    }
}