.CPUStats {
  position: absolute;
  left: 0;
  top: 0;
  translate: -15px;
  width: 200px;
  height: 200px;
}

.borderRound {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #141821;
  /* background-color: red; */
  width: 90px;
  height: 90px;
  z-index: 1000;
  left: 56px;
  top: 43px;
}
