.Activity__filterWrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid rgba(22, 32, 41, .2);
  border-radius: 20px;
  margin: auto;
  background-color: #F3E4D2;
}

.routeContainer {
  display: flex;
  align-items: center;
}

.favCount {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FF7152;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 12px;
  pointer-events: none;
  /* pointer-events: none; */
}

.Activity__filter {
  display: flex;
  flex-direction: row;
}

.Activity__filter__item {
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
  margin: 0 2px;
  color: #162029;
}

.Activity__filterActive {
  background-color: #ff6969 !important;
  border: 1px solid #162029;
}

.routesWrapperMain {
  width: fit-content;
  margin: auto;
}