.mapContainer {
    width: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
  }
  
.arrContents {
    width: calc(50% - 30px);
    padding: 35px;
}


.pressImage {
    width: 522px;
    height: 222px;
    position: relative;
    cursor: pointer;
}
.icon {
    position: relative;
    margin-left: 25px;
    width: 72px;
    height: 72px;
    z-index: 2;
    object-fit: cover;
    bottom: 245px;
}


.arrContents h2 {
    cursor: pointer;
} 


.arrContents p {
    font-size: 16px;
    cursor: pointer;
} 