.mapCont {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.pressImageCont {
  width: 100%;
  position: relative;
  padding-top: 55%;
  overflow: hidden;
  margin-bottom: 10px;
}

.pressImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  /* min-height: 600px; */
}

.mapCont:hover .pressImage{
  transform: scale(1.05);
}

.category {
  position: absolute;
  object-fit: cover;
  z-index: 50;
  bottom: 10px;
  left: 15px;
  font-size: 20px;
  color: white;
  border: 1px solid #fff3e5;
}

.icon {
  position: absolute;
  z-index: 22;
  object-fit: cover;
  padding: 5px;
  height: 80px;
  width: 80px;
  top: -22px;
  left: 15px;
}

.imgPartBack {
  width: 105px;
  height: 90px;
  position: absolute;
  z-index: 39;
  top: -22px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1900px) {

}

@media (max-width: 700px) {
  .digital {
    width: auto;
  }
}
