.mapContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  
 .item {
    width: 100% ; 
    position: relative;
}

.pressImage {
    width: 100%;
    height: 400px;  
    position: relative;  
    gap: 50px;
    object-fit: cover;
}
.icon {
    position: absolute;
    width: 72px;
    height: 72px;
    z-index: 22;
    object-fit: cover;
    top: -26px;
    left: 15px;
}


.mapContainer p {
    font-size: 16px;
} 