.Creator__categoriesOuter {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 30px;
}
.Creator__switcher {
    display: flex;
    align-items: center;
    border: 1px solid #111826;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.Creator__actived__switcher {
    background-color: #545963;
    padding: 1px 9px;
    display: flex;
    padding: 1px 9px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}
.Creator__deactived__switcher {
    padding: 1px 9px;
    display: flex;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    color: #FF7152;
}
.DropDownFilter {
    display: flex;
    width: 100%;
    align-items: center;
}
.Creator__categories__inner {
    display: flex;
    align-items: center;
    border-left: 1px solid #111826;
    padding-left: 16px;
    margin-left: 16px;
    width: 50%;
    justify-content: space-evenly;
}
.Creator__categories__item {
    align-items: center;
    border: 1px solid #111826;
    padding: 4px 12px;
    display: flex;
    border-radius: 4px;
    margin-left: auto;
    cursor: pointer;
}
.Creator__categories__item p {
    padding-right: 10px;
}
.Creator__categories {
    display: flex;
    align-items: center;
    width: 100%;
}   