.Activity__filter {
  display: flex;
}

.Rank__filterWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px solid rgba(22, 32, 41, 0.2);
  border-radius: 20px;
  background-color: #fff3e5;
  width: min-content;
}
.Rank__filter__item {
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
  margin: 0 2px;
  color: #162029;
}
/* here */
.Rank__filterActive {
  background-color: #ff6969 !important;
  border: 1px solid #162029;
}
.Collections__filterWrap {
  display: flex;
}
.Collections__filter {
  display: flex;
  border: 1px solid #16202933;
  padding: 13px 26px;
  background-color: #f3e4d2;
}
.Collections__filter__item svg path {
  opacity: 0.6;
}

.Collections__filterActive svg path {
  fill: #162029;
  opacity: 1;
}

.Collections__filterActive {
  padding: 4px 12px;
  background-color: #ff6969;
  width: 64px;
  border: 1px solid #162029;
  border-radius: 45px;
}

.Collections__filter__item {
  width: 64px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Prediction__filterWrap {
  display: flex;
  gap: 50px;
}
.Prediction__filterActive {
  background-color: #ffff;
}
/* here */
.Competition__filterWrap {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
  padding: 4px 0;
}
.Competition__filterActive {
  background-color: rgba(255, 255, 255, 0.1);
}
.Competition__filter__item {
  border-radius: 4px;
  /* padding: 4px 12px; */
  cursor: pointer;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .Competition__filter__item {
    font-size: 13px;
  }
}
/* End Competition styles */

/* Prediction styles */
.Prediction__filterWrap {
  display: flex;
  gap: 50px;
  margin-bottom: 0;
  padding: 4px 0;
}
.Prediction__filterActive {
  background-color: rgba(255, 255, 255, 0.1);
}
.Prediction__filter__item {
  border-radius: 4px;
  /* padding: 4px 12px; */
  cursor: pointer;
  margin: 0 5px;
}
@media (max-width: 767px) {
  .Prediction__filter__item {
    font-size: 13px;
  }
}
@media (max-width: 1023px) {
}
/* End Rank styles */

/* Prizes styles */
.Prizes__filterWrap {
  padding: 4px 0;
  margin: 20px 0;
}
/* End Prizes styles */

/* FinishedRounds styles */
.FinishedRounds__filter__item {
  border-radius: 4px;
  /* padding: 4px 12px; */
  cursor: pointer;
  margin: 0 5px;
  font-size: 13px;
}
