.customSelect {
  position: relative;
  width: 200px;
}

.selected {
  border: 1px solid #ccc;
  background-color: #00050f;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  border: 1px solid #ccc;
  background-color: #00050f;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options li {
  padding: 5px 10px;
  cursor: pointer;
}

.options li:hover {
  background-color: #eee;
}
