.main {
  display: flex;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.bottomBox {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.retTitle {
  color: #ff6969;
}

.img {
  width: 100%;
}

.Title {
  max-width: 70%;
}

.hederBox {
  background-color: #f3e4d2;
  border: 1px solid #16202933;
  border-radius: 40px;
  padding: 50px;
}

.from {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.submitNotification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .btnBlu {
  width: 100% !important;
  border: 1px solid #162029 !important;
  background-color: #a6d0dd !important;
  margin-top: 30px !important;
} */
/*Laptop*/
@media (max-width: 1900px) {
  .hederBox {
    padding: 25px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .hederBox {
    padding: 15px;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .box {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .Title {
    width: 100%;
    margin-bottom: 30px;
  }

  .bottomBox {
    width: 100%;
  }

  .img {
    width: 80%;
  }
}

/*Mobile 320*/
@media (max-width: 768px) {
  .main {
    width: 100%;
  }

  .box {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .Title {
    width: 100%;
    max-width: 100%;
  }
}
