@keyframes marqueeScroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marqueeWrapper {
  overflow: hidden;
  width: 100%;
}

.marquee {
  display: flex;
  animation: marqueeScroll 20s linear infinite;
  gap: 50px;
}
