.svgHoverOrange path,
.hover svg,
.hover a,
.orangeHover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.hover a:hover {
  color: #ff7152;
}
.hover:hover .svgHoverOrange path {
  fill: #ff7152;
}
.arrowHover:hover .svgHoverOrange path {
  stroke: #ff7152;
}
.arrowHover:hover .orangeHover {
  color: #ff7152;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.votingNow__navigation svg {
  margin: 0 5px;
}
.votingNow__navigation {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: flex;
}
.votingNow__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.votingNow__navigation > .flex {
  padding: 6px 15px;
  cursor: pointer;
  margin: 0 5px;
}
.votingNow__flex {
  display: flex;
  flex-direction: column;
}
.active {
  background: #ffffff1c;
  border-radius: 4px;
  color: #ffffff;
  transition: 0.3s;
}
/* .container {
  margin-bottom: 150px;
  flex-direction: column;
} */
.votingNow__mainContainer {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.votingNow__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.votingNow__head p:nth-child(2) {
  margin: 0 30px;
}
.votingNow__head span {
  border-bottom: 1px solid #111826;
  width: 80%;
}
.border {
  border-top: 1px solid #111826;
}
.votingNow__bar {
  padding: 30px 20px 20px 20px;
}
.votingNow__category {
  margin-top: 10px;
}
.votingNow__category span {
  border-radius: 10px;
  padding: 2px 6px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.votingNow__category span:nth-child(2) {
  margin: 0 10px;
}
.carrot {
  color: #ff7152;
  border-color: #ff7152;
  border: #ff7152 1px solid;
}
.red {
  color: #e91e63;
  border-color: #e91e63;
  border: #e91e63 1px solid;
}
.votingNow__bar p:nth-child(2) {
  opacity: 0.3;
}
.votingNow__category svg {
  margin: 0px 5px -1px 0;
}
.display {
  display: flex;
  justify-content: space-between;
}
.readMore {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.readMore svg {
  margin-left: 10px;
}
.focus {
  border-bottom: 2px solid #ffffff !important;
  transition: 0.3s;
}
.votingNow__head p {
  cursor: pointer;
  border-bottom: 2px solid #ffffff00;
}
.focused {
  background: #ffffff07;
}
.readMore p,
.readMore svg {
  opacity: 0.7;
  transition: 0.3s;
}
.readMore:hover p,
.readMore:hover svg {
  opacity: 1;
}
.transparent {
  opacity: 0.3;
}
.filled p,
.filled svg {
  opacity: 1 !important;
}
.seeMore p {
  color: #0500ff;
  margin-right: 5px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.seeMore {
  display: flex;
}
.seeMore div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 10px auto;
  cursor: pointer;
}
.seeMoreSvg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.seeMore div:hover .seeMoreSvg path {
  stroke: #ff7152;
}
.seeMore div:hover p {
  color: #ff7152;
}
.seeMoreContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .marqueeContainer svg {
  margin-right: 50px;
}
.marqueeContainer {
  margin: 100px 0;
}*/
.filterWrap {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 261px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.filter {
  display: flex;
  justify-content: space-between;
  width:100%;
}
.filter__item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 22px;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 14px;
  margin: 0 3px;
  height: 34px;
  width: fit-content;
  gap: 2px;
}
.filterActive {
  background-color: rgba(255, 255, 255, 0.1)!important;
}
.frame__filterWrap{
  margin: 10px auto;
  padding: 0 10px;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 261px;
  height: 44px;
}
.frame__filter__item{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 2px;
  margin: 0 3px;
  height: 34px;
  width: fit-content;
  color:rgba(255, 255, 255, 0.7);
}
.frame__filterActive {
  border-bottom: 2px solid #FFF;
  color: #FFF;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
}
/*Mobile 320*/
@media (max-width: 767px) {
  .votingNow__bar {
    height: 160px;
  }
  .display {
    position: relative;
  }
  .readMore {
    position: absolute;
    top: 70px;
  }
}
