.container {
    padding: 40px;
}
.CompetitionFinished__background {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;    
}
.backBt {
    margin: 155px 0 80px 0;
}
.mainBox {
    position: relative;
    height: 120px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    z-index: 10;
}
.imgBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bgText {
    position: relative;
    z-index: 2;
}
.dimond {
    position: absolute;
    top: 80%;
    right: 5%;
}
.gold {
    position: absolute;
    top: 76%;
    left: 5%;
}
.planetBlur {
    position: absolute;
    top: 55%;
    left: 45%;
}
.sun {
    position: absolute;
    top: 78%;
    right: 20%;
}
.cosmosBlur {
    position: absolute;
    top: 90%;
    left: 20%;
    z-index: -1;
}
.vector {
    position: absolute;
    top: 100%;
    left: 97%; 
    width: 25px;
    height: 25px;
}
.shine {
    position: absolute;
    top: 35%;
    left: 87%; 
    width: 40px;
    height: 40px;
}
.star {
    position: absolute;
    top: 50%;
    left: 93%; 
    width: 50px;
    height: 50px;
}
.smalShine {
    position: absolute;
    top: 40%;
    left: 3%; 
    width: 50px;
    height: 50px;
}
.smallStar {
    position: absolute;
    top: 58%;
    left: 14%; 
    width: 40px;
    height: 40px;
}
.small {
    position: absolute;
    top: 100%;
    left: 12%; 
    width: 40px;
    height: 40px;    
}