.mainContent {
    position: relative;
    text-align: center;
    margin-top: 350px;
}
.text {
    margin-bottom: 32px;
}
.text p {
    font-size: 20px;
    line-height: 38px;
}
.star {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 59%;
    top: -51%;
}
.starSmal {
    position: absolute;
    width: 25px;
    height: 24px;
    top: -70%;
    left: 60%;
}
.ConnectWalletBg {
    position: absolute;
    top: -75%;
    left: 0;
    z-index: -1;

    /* position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 100%; 
    top:-390%;
    left: 0;
    z-index: -1;  */
}
.tickets {
    position: absolute;
    left: 25%;
    top: 70%;
    transform: rotateZ(-45deg);
    width: 80px;
    height: 70px;
}
.ticket {
    position: absolute;
    left: 66%;
    top: 70%;
    width: 65px;
    height: 65px;
}
.buttonWrapper{
    width: fit-content;
    margin: auto;
}
@media (max-width: 1023px) {
    .mainContent {
        position: relative;
        text-align: center;
        margin-top: 250px;
    }
    .ConnectWalletBg {
        position: absolute;
        top: -15%;
        left: 0;
        z-index: -1;
    }
}