.blur {
  position: relative;
  margin: 280px auto 150px auto;
  text-align: center;
  width: 50%;
}
.Finished__background {
  position: absolute;
  width: 100%;
  height: 185%;
  top: -170%;
  left: 0;
  z-index: -1;
}
.mainContent {
  position: relative;
  top: -150px;
  display: flex;
  flex-direction: column;
}
.blurContent {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.blurTitle h3 {
  margin: 0 20px 20px 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}
.connectWallet {
  /* position: absolute; */
  width: 160px;
  margin: auto;
}
.Rules__background {
  position: absolute;
  bottom: -30%;
  left: 0;
  z-index: -1;
}
.rulesIcones {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.rulesIcones img {
  margin: 0 10px;
}
.rulesTitle h3 {
  margin-bottom: 80px;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}
.rulesDescription {
  display: flex;
  gap: 100px;
  padding: 0 40px;
}
.rulesDescription div {
  margin-top: 3%;
  width: 100%;
}
.rulesDescription h4 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #ff7152;
}
.rulesDescription p {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.7;
}
/* Finished Rules Styless  */
.finishedRules {
  margin-top: 200px;
  position: relative;
}
.planetFinish {
  position: absolute;
  margin-bottom: 3%;
  left: 65%;
  top: -45%;
}
.asteroidFinish {
  position: absolute;
  left: 24%;
  top: 10%;
}
.spaceShipMeteorFinish {
  position: absolute;
  left: 35%;
  margin-top: -5%;
}

/* responsive */
@media (max-width: 1300px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 550px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .blur {
    margin-top: 250px;
    width: 90%;
  }
}
