.background {
    position: absolute;
    left: 0;
    top: -105%;
    z-index: -10;
    width: 100%;
    padding-top: 100%;
}
.marginTop {
    margin-top: 400px;
    position: relative;
}
.ballBlue {
    position: relative;
    width: 8%;
    padding-top: 8%;
}
.title h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
}
.border {
    display: flex;
    justify-content: center;
    margin: 32px 0 20px 0;

}
.paddingDec {
    padding: 20px;
    width: 700px;
}
.tab {
    border: 1px solid #ffffff10;
    border-radius: 4px;
}
.borderDecor {
    display: flex;
    justify-content: center;
}
.tabDecor {
    position: relative;
}
.titleRules {
    display: flex;
    gap: 390px;
    border-bottom: 1px solid #ffffff10;
    padding-bottom: 20px;
}
.titleDesc h2 {
    font-size: 16px;
}
.titleDesc p {
    font-size: 13px;
    opacity: 0.7;
}
.arrowNext {
    margin: 0 20px;
    cursor: pointer;
}
.arrowNext:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.arrow {
    cursor: pointer;
}
.arrow:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.winNumber {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 15px 0;
}
.ball {
    display: flex;
    justify-content: space-between;
}
.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}
.details button {
    color: blue;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 295px;
}
.history p {
    margin-bottom: 40px;
    text-transform: capitalize;
}
.connectWallet {
    width: 160px;
}
.latest {
    display: none;
    color: red;
}
.latestActive {
    display: block;
    background-color: yellow;
}
@media (max-width: 1023px) {
    .background {
        position: absolute;
        left: 0;
        top: -15%;
        z-index: -10;
    }
    .marginTop {
        margin-top: 300px;
        position: relative;
    }
    .tabDecor {
        margin: 0 20px;
    }
}
@media (max-width: 767px) {
    .marginTop {
        margin-top: 200px;
        position: relative;
    }
    .tabDecor {
        margin: 0 20px;
    }
    .paddingDec {
        width: 380px;
    }
    .titleDesc h2 {
        font-size: 14px;
    }
    .titleDesc p {
        font-size: 13px;
        opacity: 0.7;
    }
    .titleRules {
        gap: 71px;
    }
}