.blur {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  text-align: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
  z-index: 999999;
}

.img {
  position: absolute;
  background-color: black;
}

.marqueeContainer {
  margin-top: 150px;
  overflow: hidden;
  width: 100%;
}

.marqe {
  width: 100%;
  position: relative;
  display: flex;
}

.ttl {
  color: white;
}

.btnBlu {
  background: #a6d0dd !important;
}

/* responsive */
@media (max-width: 1300px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 550px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .Finished__background {
    height: 150px;
  }
  .blur {
    margin-top: 250px;
    width: 80%;
  }
}
