.blur {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

/* responsive */
@media (max-width: 1300px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .blur {
    margin: auto;
    margin-top: 200px;
    width: 550px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .Finished__background {
    height: 150px;
  }
  .blur {
    margin-top: 250px;
    width: 80%;
  }
}
