.Container__background {
  position: absolute;
  top: 8%;
  left: 0;
  z-index: -10;
  width: 100%;
  padding-top: 100%;
}
.tab {
  display: flex;
}
.container {
  position: relative;
  margin: 160px auto;
}
.title {
  font-size: 100px;
  line-height: 66px;
  text-align: center;
  margin-bottom: 40px;
}
.title span {
    color: #FF7152;
}
.titleDesc {
    text-align: center;
    font-size: 70px;
}
.prizesContainer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}
.ellipse {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -130%;
}
.lotteryNumber {
  display: flex;
  position: relative;
  align-items: center;
  background:rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 10px;

  border-top: none;
  border-bottom: none;
}
.wtf {
  position: absolute;
  left: -7px;
}
.blurLine {
  position: absolute;
  left: 315px;
}
.lotteryNumber span {
  font-size: 51px;
  margin: 15px;

}
.imgPosition {
  position: relative;
  height: 80px;
  width: 100%;
}
.pinkTicket{
  position: absolute;
  left: 15%;
  top: 43%;
  width: 53px;
  height: 53px;
}
.smallStar{
  position: absolute;
  right: 20%;
  top: 70%;
  width: 18px;
  height: 18px;
}
.star {
  position: absolute;
  right: 15%;
  top: 20%;
  width: 48px;
  height: 45px;
}
.pictureContainer {
    position: relative;
    height: 80px;
    margin-bottom: 150px;
}
.littleStar {
  position: absolute;
  top: 170%;
  left: 25%;
  width: 26px;
  height: 25px;
}

.ticket{
  position: absolute;
  top: 170%;
  left: 70%;
  width:76px;
  height:55px;
}
.buttonStyle {
  text-align: center;
  margin: auto;
}
.buyTicket {
    margin-bottom: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #A09EFF 0%, #4A46FF 100%);
    border-radius: 4px;
    font-size: 20px;
    box-shadow: 0px 12px 50px rgba(90, 87, 255, 0.4);
}
.tickets {
    position: absolute;
    left: 16%;
    top: 50%;
    width: 79px;
    height: 60px;
}
.starr {
    position: absolute;
    left: 80%;
    top: 150%;
    width: 18px;
    height: 17px;
}
@media (max-width: 1300px) {
  .pictureContainer {
    height: 0px;
  }
}
@media (max-width: 1023px) {
  .Container__background {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -10;
  }
  .container {
    position: relative;
    margin: 160px auto 80px auto;
  }
  .title {
    font-size: 64px;
  }
  .titleDesc {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .container {
    position: relative;
    margin: 160px auto 40px auto;
  }
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .titleDesc {
    font-size: 35px;
  }
  .pictureContainer {
    position: relative;
    height: 20px;
    margin-bottom: 100px;
  }
  .star {
    left: 80%;
    width: 7%;
    padding-top: 7%;
}
  .pinkTicket {
    width: 7%;
    padding-top: 7%;
  }
  .smallStar {
    width: 2.5%;
    padding-top: 2.5%;
}
  .littleStar {
    padding-top: 4%;
    width: 4%;
}
.ticket {
    padding-top: 7%;
    width: 7%;
}
  .tickets {
    padding-top: 7%;
    width: 7%;
  }
  .starr {
    padding-top: 2.5%;
    width: 2.5%;
  }
}