.mainContainer {
    display: flex;  
    justify-content: space-between;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 40px;
}
.blackHoule {
    position: absolute;
    z-index: -1;
}
.star {
    position: absolute;
    top: -5%;
    left: 50%;
}
.littleStar {
    position: absolute;
    top: 5%;
    left: 47%;    
}
.title h1 {
    font-size: 20px;
    margin: 20px 0;
}
.title p {
    opacity: 0.7;
}
.desTitle {
    margin: 20px 0 10px 0;
    opacity: 1;
    color: white;
}
.description {
    opacity: 0.7;
}
.description svg {
    opacity: 1;
    margin-right: 10px;
}
.statistics {
    display: flex;
    margin-bottom: 50px;
}
.border {
    position: relative;
    padding: 30px 20px;
    width: 320px;
    margin: 30px 0 0 20px;
}
.smallSvg {
    width: 20px;
    height: 6px;
    border-radius: 8px;
}
.boll {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: darkcyan;
    margin: auto;
}
.static {
    display: flex;
    gap: 20px;
    margin: 30px 0 10px 0;
}
.static p {
    font-size: 14px;
    color: #0500FF;
}
.percentStatistics {
    display: flex;
    align-items: center;
}
.percentStatistics p {
    margin-left: 10px;
}
.bollStatistics {
    display: flex;
    justify-content: space-between;
}
.links {
    color: #FF7152;
    opacity: 1;
    border-bottom: 1px solid #FF7152;
}
.links:hover {
    color: #0500FF;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    border-bottom: 1px solid #0500FF;
    cursor: pointer;
}
.question {
    margin: 40px;
}
.question h2 {
    font-size: 20px;
}
.question p {
    opacity: 0.7;
}
/* responsive */
@media (max-width: 767px) {
    .mainContainer {
        flex-direction: column;
    }
}