.prizesBkPosition {
  position: relative;
}
.Prizes__background {
  position: absolute;
  top: -15%;
  left: 0%;
  z-index: -11;
  width: 100%;
  height: 100%;
  padding-top: 100%;
}
.spaceBoySection {
  max-width: 24%;
}
.backgrounPrizes {
  position: relative;
  display: flex;
  padding: 80px 100px 0 100px;
  justify-content: center;
}
.prizesMedal {
  position: relative;
  padding-top: 6%;
  width: 6%;
}
.prizes {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: baseline;
}
.prizes svg {
  margin-left: 20px;
  margin-right: 20px;
}
.prizes img {
  margin: 0 10px;
}
.prizesTitle h3 {
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}
.sky {
  position: absolute;
  left: 60%;
  bottom: 0%;
  z-index: -10;
  padding-top: 30%;
  width: 30%;
}
.prizesDescription p {
  font-size: 15px;
  line-height: 24px;
  opacity: 0.7;
}
.prizesDescription h5 {
  margin: 16px 0;
  font-size: 20px;
  line-height: 28px;
}
.cosmonavtPrizes {
  position: absolute;
  width: 30%;
  left: 10%;
  padding-top: 50%;
}
.prizesBorder {
  position: relative;
  width: 100%;
  padding: 0px 0px;
}

.prizesTeam {
  padding: 10px;
  border-bottom: 1px solid rgba(22, 32, 41, 0.2);
}
.prizesTeam h6 {
  font-size: 16px;
  line-height: 24px;
}
.prizesTeam p {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
}
.tabFilterBorder {
  padding: 20px 20px;
  border-bottom: 1px solid rgba(22, 32, 41, 0.2);
}
.teamDescription {
  padding: 20px 0;
  display: flex;
  padding: 10px 10px;
}
.teamDescription p:nth-child(1) {
  width: 24%;
}
.teamDescription p:nth-child(2) {
  width: 20%;
}
.teamDescription p:nth-child(3) {
  width: 25%;
}
.teamDescription p:nth-child(4) {
  width: 26%;
}
.teamDescription p:nth-child(5) {
  width: 5%;
}
.teamDescription p {
  font-size: 13px;
  line-height: 22px;
}
.descriptionP {
  margin-top: 50px;
  font-size: 15px;
  line-height: 24px;
  margin: 50px 20px 10px 20px;
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .spaceBoySection {
    margin-right: 10%;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .spaceBoySection {
    width: 60%;
  }
  .prizesBorder {
    position: relative;
    padding: 20px;
  }
  .teamDescription p {
    font-size: 11px;
  }
  .sky {
    display: none;
  }
  .Prizes__background {
    position: absolute;
    top: -15%;
    left: -2%;
    z-index: -10;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .backgrounPrizes {
    position: relative;
    display: flex;
  }
  .Prizes__background {
    position: absolute;
    top: 0%;
    left: 5%;
    z-index: -11;
    height: 100%;
  }
  .backgrounPrizes {
    display: block;
  }
  .slider {
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    margin-top: 55px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .cosmonavtPrizes {
    position: absolute;
    left: 55%;
    top: 3%;
    width: 45%;
  }
  .spaceBoySection {
    display: flex;
    margin-bottom: 10%;
  }
  .teamDescription {
    width: 600px;
  }
  .teamDescription p {
    font-size: 13px;
  }
  .teamPrizesRank {
    width: 600px;
  }
  .prizesMedal {
    position: relative;
    padding-top: 10%;
    width: 10%;
  }
}
