.rankBkPosition {
  position: relative;
  margin-top: 300px;
}
.Rank__background {
  position: absolute;
  top: -60%;
  left: 0;
  z-index: -10;
  padding-top: 100% ;
  width: 100%;
  height: 100%;
}
.rank {
  text-align: center;
}
.rankCup {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.cup {
  padding-top: 6%;
}
.svgImg {
  margin-right: 80px;
}
.rankTitle p {
  font-size: 30px;
  line-height: 42px;
}
.rankPosition {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50px 0 10px 0;
  padding-top: 15%;
}
.rankVolume {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.volume {
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #627eea;
  margin-bottom: 30px;
}
.rankBorder {
  position: relative;
  margin: auto;
  width: 55%;
  padding: 20px;
 
}
.content {
  max-height: 440px;
  overflow: hidden;
}
.contentActve {
  max-width: 800px;
}
.rankTrades {
  border-bottom: 1px solid #ffffff10;
}
.rankTrades h5 {
  font-size: 16px;
  line-height: 24px;
}
.rankTrades p {
  font-size: 13px;
  line-height: 18px;
  color: #babbbe;
  margin-bottom: 20px;
}
.borderCorner {
  position: relative;
}
.tradesTab { 
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #ffffff10;

}
.tradesTab div:nth-child(1) {
  width: 40%;
}
.tradesTab div:nth-child(2) {
  width: 58%;
}
.tradesTab div:nth-child(3) {
  width: 60%;
}
.tradesTab div:nth-child(4) {
  width: 15%;
}
.tradesTab:nth-last-child(1) {
  border-bottom: none;
}
.tradesTab:nth-last-child(5) {
  border-top: 1px solid #ffffff10;
}
.numbering {
  white-space: nowrap; 
  width: 50px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  color: #0500ff;
}
.price {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.nickName {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
}
.icone  {
  position: relative;
  padding-top: 12%;
  width: 20%;
  border-radius: 50%;
  opacity: 0.5;
}
.buttonShowMore {
  text-align: center;
}
.buttonShowMore button {
  font-size: 15px;
  line-height: 20px;
  margin-right: 5px;
  color: #0500ff;
}
.rotate {
  transform: rotateZ(180deg);
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .rankPosition {
    padding-top: 20%;
  } 
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .cup {
    padding-top: 7%;
  }
  .rankPosition {
    padding-top: 20%;
  }
  .rankBorder {
    position: relative;
    margin: auto;
    width: 80%;
    padding: 20px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .cup {
    padding-top: 10%;
  }
  .svgImg {
    margin-right: 50px;
  }
  .rankPosition {
    padding-top: 25%;
  }
  .rankBorder {
    position: relative;
    margin: auto;
    width: 90%;
    padding: 20px;
  }
  .sliderWidth {
    width: 1000px;
  }
}
