.score {
  position: relative;
  text-align: center;
  margin-top: 150px;
}
.scoreContent {
  position: absolute;
  width: 100%;
  padding-top: 2%;
  top: -25%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.scoreContent svg {
  margin: 0 40px;
}
.scoreBorder {
  position: relative;
  width: 665px;
  height: 240px;
  margin: auto;
}

.buttonWrapper {
  width: fit-content;
  margin: auto;
}

.scoreTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.ttle {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
  margin-bottom: 15px;
}

.TiTle {
  color: #162029;
}

.btn {
  background: #a6d0dd;
  padding: 15px 50px !important;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .dimond {
    position: absolute;
    right: 22%;
    top: 15%;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .spaceShip {
    position: absolute;
    top: 70%;
    left: 5%;
  }
  .dimond {
    position: absolute;
    bottom: -63%;
    right: 14%;
  }
  .planet {
    position: absolute;
    bottom: -89%;
    right: 5%;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .scoreContent {
    position: absolute;
    width: 100%;
    padding-top: 3%;
    top: -25%;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .scoreBorder {
    width: 100%;
    height: 250px;
    margin: auto;
  }
  .spaceShip {
    position: absolute;
    top: 90%;
    left: -2%;
    width: 80px;
  }
  .dimond {
    position: absolute;
    bottom: -63%;
    right: 2%;
  }
}
