.teamPrizesRank {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(22, 32, 41, 0.2);
}

.teamPrizesRank div:nth-child(1) {
  margin-left: 15px;
  width: 23%;
}
.teamPrizesRank div:nth-child(2) {
  width: 19%;
}
.teamPrizesRank div:nth-child(3) {
  width: 24%;
}
.teamPrizesRank div:nth-child(4) {
  width: 24%;
}
.teamPrizesRank div:nth-child(5) {
  width: 5%;
  margin-right: 15px;
}
.medal {
  position: relative;
  left: -8%;
  padding-top: 5%;
  width: 2%;
}
.check {
  position: relative;
  left: -0.5%;
  padding-top: 3%;
  width: 2%;
}

@media (max-width: 767px) {
  .teamPrizesRank {
    width: 600px;
  }
  .medal {
    padding-top: 6%;
  }
}
