.contHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contStep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contStep p {
  color: #162029;
}

.Line {
  background-color: #162029;
  height: 1px;
  width: 100%;
  margin: 40px 0;
}

.contHead h2 {
  padding-bottom: 15px;
  color: #162029;
}

.contHead p {
  color: #162029;
  text-align: center;
}

.tabHead {
  width: 100%;
  background-color: #F0DEC9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 35px;
}

.tabHead h3 {
  color: #162029;
}

.tabHead p {
  color: #162029;
  width: 60%;
}

.makeProfileWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 20px 35px 25px 35px;
}

.formSelectDateWrap input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  width: 255px;
  height: 44px;
  padding: 16px 0 16px 14px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
}

.loadingElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  position: absolute;
  top: 100px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  padding: 8px 14px;
}

.avatarCard {
  align-items: center;
  background-color: #FFF3E5;
  transition: .5s;
  border-radius: 20px;
  cursor: pointer;
  padding: 25px 35px;
  width: 300px;
  margin-top: 20px;
}

.avatarCard:hover {
  background-color: #A6D0DD;
}

.avatarImg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.avatarImg p {
  text-align: center;
}

.flex {
  display: flex;
}

.buttonInner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.avatarImg img {
  width: 50px;
  height: 50px;
}

.confirmBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 35px;
}

.table {
  border: 1px solid #162029;
  border-radius: 20px;
  background-color: #F3E4D2;
}

/* .radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff6969;
} */

.board {
  width: 80%;
  height: 80px;
  margin-top: 40px;
  border-radius: 57px;
  border: 1px solid #162029;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
}

.boardLine {
  height: 1px;
  width: 100%;
  background-color: #162029;
  position: absolute;
}

.steps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  position: relative;
  border-radius: 50%;
  border: 1px solid #162029;
  background-color: #A6D0DD;
  width: 25px;
  height: 25px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circleTitle {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stepChart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1023px) {
  .makeProfileWrapper {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}