.section {
  margin-top: 40px;
}

.titleRow {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid #162029;
  padding: 0 15px;
  gap: 8px;
}

.name span {
  color: #162029;
}

.name1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  margin-right: 20px;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid #162029;
  padding: 5px 8px;
}

.name:hover {
  text-decoration: underline;
  text-decoration-color: #162029;
}

.name p {
  font-size: 16px;
  line-height: 13px;
  color: #0500FF;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: 15px;
}

.view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.name p {
  margin-bottom: 8px;
  margin-right: 5px;
}

.logo {
  width: 50px;
}

.titleTopRow {
  display: flex;
  align-items: center;
  gap: 10px;

}

.titleTopRow p {
  font-size: 30px;
  line-height: 13px;
}

.titleBottomRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBottomRow div p {
  margin-left: 5px;
  border-right: 1px solid #162029;
  font-size: 12px;
}

.titleBottomRow div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSm {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.displayPoolsSection {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

.tableName {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 13px;
}

.goBackWrapper {
  width: 27%;
  align-self: center;
}

.goBackText:hover {
  text-decoration: underline;
  /* text-decoration-color: #FF7152; */
}

.goBackText {
  cursor: pointer;
  width: fit-content;
  align-items: center;
  display: flex;
}

.goBackText p {
  font-size: 15px;
  line-height: 21px;
  color: #162029;
  margin-left: 5px;
}

.starSVG {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.starWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 27%;
}

.favCount {
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FF7152;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 12px;
  pointer-events: none;
}

.topSectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 896px) {
  .displayPoolsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .titleBottomRow div p {
    border-right: none;
  }

  .buttons div:nth-child(1) {
    margin-right: 10px;
    flex-direction: column;
  }

  .view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: flex-start; */
    width: 100%;
    gap: 30px;
  }

  .titleBottomRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .name {
    padding: 0;
    border: none;
  }
}

@media (max-width: 768px) {
  .dataBlockWrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width:600px) {
  .topSectionWrapper {
    flex-wrap: wrap;
  }

  .goBackWrapper {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

  .starWrapper {
    width: fit-content;
  }
}