.fonts {
  display: flex;
  flex-direction: column;
  gap: 69px;
  padding-bottom: 140px;
}

.line {
  display: flex;
  width: 100%;
  color: rgba(22, 32, 41, 1);
  gap: 5px;
  border-bottom: 1px solid rgba(0, 5, 15, 0.1);
  padding-bottom: 6px;
}
.line span {
  color: rgba(255, 105, 105, 1);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 55px;
  align-items: center;
  padding: 20px;
}

.content img {
  max-width: 100%;
}

.definition {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.definition h3 {
  margin-bottom: 3px;
  max-width: 440px;
  width: 100%;
}
.definition .font {
  line-height: 40px;
  /* max-width: 440px; */
  width: 100%;
}
.definition .num {
  max-width: 440px;
  width: 100%;
}
@media (max-width: 1900px) {
  .fonts {
    padding-bottom: 100px;
  }
}
@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .fonts {
    padding-bottom: 50px;
  }
  .content {
    padding: 20px 0px;
  }
  .content img {
    max-width: 300px;
  }
  .fonts {
    gap: 40px;
  }
}
