.left h1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.left h1 span {
  font-size: 90px;
  line-height: 108px;
  color: #fff;
  text-transform: capitalize;
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 1900px;
}

.mainContainerDescription {
  padding: 160px 155px 250px 155px;
  position: relative;
  background-image: url('/images/guidelines/bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 1920px;
  margin: 0 auto;
}

.left {
  display: inline-block;
}

.mainContainerDownload {
  margin-top: 55px;
}

.mainContainerDownload:hover {
  opacity: 0.6;
}

.mainContainerDownloadBtn {
  display: inline-block;
  padding: 18px 34px;
  background-color: #ff6969;
  color: #fff;
  text-decoration: none;
  border-radius: 61px;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 24px;
}

.mainContainerDownloadText {
  line-height: 22px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-left: 43px;
}

@media (max-width: 1023px) {
  .left h1 span {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .left h1 span {
    font-size: 40px;
  }
  .left h1 {
    gap: 0px;
    line-height: 65px;
  }
  .mainContainerDescription {
    padding: 160px 30px 250px 30px;
  }
  .mainContainerDownloadBtn {
    padding: 10px 26px;
  }
  .mainContainerDownload {
    margin-top: 25px;
  }
}
