.logoVariantsContainer {
  background: #010918;
  padding-top: 160px;
}

.guidlineFlex {
  display: flex;
  width: 100%;
  position: relative;
}
.guidlineHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.guidlineHalf {
  width: 100%;
}

.logoVariantsInner {
  align-items: center;
}
.dCenter {
  justify-content: center;
}
.guidlineParagraph {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 100px;
}

.guidlineParagraph {
  padding-right: 0px;
}
.paragraphMt {
  margin-top: 30px;
}
.paragraphMt br,
.guidlineParagraph br {
  display: none !important;
}
.logoVar {
  height: 52px;
  display: flex;
  align-items: center;
  border: 2px solid #0500ff;
  color: #fff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-right: auto;
  padding: 0px 32px;
  margin-top: 60px;
}
.logoVar:hover {
  background: #0500ff;
}
.borderBottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.font51 {
  font-size: 51px;
  line-height: 66px;
}
@media (max-width: 1300px) {
  .logoVariantsInner {
    transform: scale(0.5);
  }
}
@media (max-width: 1023px) {
  .logoVariantsContainer .guidlineParagraph {
    padding-right: 15px;
  }
}
