.guidlineFlex {
  display: flex;
  width: 100%;
  position: relative;
}
.wdth340 .guidlineHalfLtlDscr,
.wdth340 .guidlineHalfLtlTtl,
.guidlineHalfLtlDscr {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 20px;
}

.guidlineHalfLtlDscr {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.guidlineHalfLtlTtl {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 10px;
}
.guidlineHalfLtlDscr,
.guidlineHalfLtlTtl {
  width: 340px;
}
.wdth340 .guidlineHalfLtlDscr,
.wdth340 .guidlineHalfLtlTtl {
  width: 340px;
  margin-left: auto;
  margin-right: 80px;
}
.guidlineHalf {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
.guidlineLrgTtl span:last-child {
  margin-left: 100px;
}
.guidlineLrgTtl span {
  font-size: inherit;
}
.guidlineLrgTtl {
  display: flex;
  flex-direction: column;
}
.guidlineParagraphWhite {
  font-size: 30px;
  line-height: 40px;
}
.guidlineParagraphHalfImg {
  margin-top: 120px;
}
.guidlineParagraph {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 100px;
}
.paragraphMt {
  margin-top: 30px;
}
.guidlinePartnersTxt {
  font-size: 30px;
  line-height: 40px;
}
.guidlinePartners .line {
  height: 70px;
  width: 2px;
  background: #fff;
  opacity: 0.05;
  margin: 0px 30px;
}
.guidlinePartners {
  display: flex;
  align-items: center;
  margin: 80px 0px;
}
.guidlinePartners .line {
  height: 70px;
  width: 2px;
  background: #fff;
  opacity: 0.05;
  margin: 0px 30px;
}
@media (max-width: 1023px) {
  .wdth340 .guidlineHalfLtlDscr,
  .wdth340 .guidlineHalfLtlTtl,
  .guidlineHalfLtlDscr {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
  }
  .guidlineLrgTtl span:last-child {
    margin-left: 30px;
  }
  .guidlineParagraphHalfImg[data-v-53bd836a] {
    margin-top: 60px;
  }
  .guidlineParagraphHalfImg img {
    height: 120px;
  }
  .guidlineParagraph {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .guidlineHalf {
    width: 100%;
  }
  .paragraphMt br {
    display: none !important;
  }
  .guidlinePartnersTxt {
    font-size: 25px;
    line-height: 35px;
  }
  .guidlinePartners img {
    height: 70px;
  }
}
