.auction__table {
  width: calc(100% - 463px);
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auction__finished {
  position: absolute;
  top: 0;
  right: 0;
}

.auction__tabInner {
  display: flex;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
}
.Activity__filterWrap {
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.Activity__filter {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.Activity__filter__item {
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin:0 2px;
}

.Activity__filterActive {
  background-color: rgba(255, 255, 255, 0.1)!important;
}
.auction__tabInner {
  display: flex;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
}
.auction__tabInner p {
  border-radius: 4px;
  padding: 7px 12px;
}
.number{
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;

}
.auction__number {
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
}

.prevBtn,
.nextBtn,
.lastBtn,
.lastBtn {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.prev,
.next,
.last {
  margin: 0 20px;
  cursor: pointer;
}
.prev:hover .prevBtn path {
  fill: #ff7152;
}
.next:hover .nextBtn path {
  fill: #ff7152;
}
.last:hover .lastBtn path {
  fill: #ff7152;
}
.last:hover .lastBtn line {
  stroke: #ff7152;
}
.archieveDate {
  margin-left: auto;
}
.auction__innerTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auction__innerTable div:last-child {
  border: none;
}
.auctions__innerTableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.auctions__tableHeader {
  width: 100%;
  display: flex;
  margin-bottom: 34px;
}
.auctions__tableHeader div:nth-child(1) {
  width: 25%;
  color: #627eea;
}
.auctions__tableHeader div:nth-child(2) {
  width: 60%;
  color: #627eea;
}
.auctions__tableHeader div:nth-child(3) {
  color: #627eea;
}
.auctions__tableItems {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #111826;
  border-top: 1px solid #111826;
  padding: 34px 0;
}
.auctions__tableItems div:first-of-type {
  width: 25%;
}
.auctions__tableItems div:nth-child(2) {
  width: 60%;
}
.auctions__tableItems div:nth-child(3) {
  width: 11%;
}
.auction__tableSubText {
  color: #7f8287;
}
.auction__dotMenu svg {
  cursor: pointer;
}

@media (max-width: 1110px) {
  .auction__table{
    width: 100%;
  }
}