.container{
  position: relative;
  height: calc(100vw * 0.543);
  min-height: 783px;
  display: flex;
  align-items: center;
}

.BlackHoleBg{
  position: absolute;
  width: 1168px;
  height: 783px;
  left: -40px;
  z-index: -3;
}

.clouds{
  position: absolute;
  width: 100vw;
  min-height: 783px;
  height: calc(100vw * 0.543);
  top:0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1900px;
  z-index: -1;
}

.rocketmanSection{
  width: fit-content;
  padding-left: 100px;
}

.tradeSection{
  width: 50%;
}
.rocketmanSection{
  width: 50%;
}

.rocketman{
  position: relative;
  width: 414.7px;
  height:580px;
  justify-self: center;
  margin-top: -80px;
}

.tradeNow{
  width: 200px;
  height: 42px;
}

.buttonWrapper{
  display: flex;
  gap: 50px;
  font-size: 16px;
  line-height: 22px;
}

.buttonWrapper a{
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.tradeSection{
  height: fit-content;
  width: 680px;
  height: 208px;
  align-self: center;
  margin-left: auto;
}

.tradeSection p{
  margin-top: 32px;
  margin-bottom: 50px;
}

.tradeSection h2{
  font-size: 51px;
  line-height: 66px;
}

.tradeSection h2 span{
  font-size: inherit;
  line-height: inherit;
  color: #FF7152;
}
@media (max-width: 1440px) {
}

@media (max-width: 1100px) {
  .rocketmanSection{
    padding-left: 60px;
  }
}
@media (max-width: 1023px) {
  .rocketman{
    width: 316.05px;
    height: calc(100vw * 0.57 );
  }
  .rocketmanSection{
    padding-left: 5%;
  }
  .BlackHoleBg{
    width: 100vw;
    height: calc(100vw * 0.67);
    min-width: 600px;
  }
  .tradeSection h2{
    font-size: 34px;
    line-height: 54px;
  }
  .tradeSection{
    width: 462px;
  }
}

@media (max-width: 876px) {
  .tradeSection{
    margin-left: auto;
  }
  .rocketmanSection{
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .container{
    flex-direction: column;
  }
  .BlackHoleBg{
    width: calc(100vw + 400px);
    /* left: 10px; */
    height: 800px;
  }
  .rocketmanSection{
    padding-top: 100px;
  }
}
