.expandWrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom:1px solid #0A0F18;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: column;
    transition: .4s ease-in-out;
    overflow: hidden;
}
.expand__title {
    color: #FFFFFF;
    opacity: 0.7;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.Faq__item__question__active {
    opacity: 1;
}
.Faq {
    padding-top: 250px;
    display: flex;
    position: relative;
}
.Faq__item__question {
    color: #FFFFFF;
    opacity: 0.7;
    position: relative;
    width: 100%;
    cursor: pointer;

    padding-top: 30px;
}
.Faq__item__question__active {
    opacity: 1;
}
.Faq__item__answer {
    opacity: 0.9;
}
.Faq__item__arrow {
    position: absolute;
    right: 0;
    margin-top: 5px;
    transition: 0.5s;
    margin-left: 15px;
}
.Faq__item_arrowActive {
    transform: rotate(-3.142rad);
    transition: 0.5s;
    transform: 0.5s;
}
.Faq__item_arrowActive path {
    stroke: #FF7152;
}
.nftArrivals__innerAskedQuestionsContainerTitleActived {
    color: #FFFFFF;
}
.Faq__title {
    z-index: 9;
    width: 30%;
}
.Faq__inner {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 135px;
}
.Faq__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom:1px solid #0A0F18;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: column;
    transition: .4s ease-in-out;
    overflow: hidden;
}
.Faq__item__actived {
    padding-top: 30px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #0A0F18 ;
    padding-bottom: 30px;
    flex-direction: column;
}
.Faq__item__questionWrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Faq__item__answersWrap p{
    padding-top: 30px;
}
.Faq__item__answersWrap{
    transition: .6s;
    overflow: hidden;
    max-height: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #191B24;
}
.Faq__item__answersWrapActive{
    max-height: 800px!important;
}
.Faq__background {
    position: absolute;
    left: -150px;
    top: 150px;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {

}
/*Ipad 768*/
@media (max-width: 1023px) {
    .Faq__item__question {
        font-size: 15px;
    }
    .Faq__inner {
        padding-left: 100px;
    }
    .Faq__item__answer {
        font-size: 13px;
    }
}
/*Mobile 320*/
@media (max-width: 767px) {
    .Faq__inner {
        padding-left: 0px;
    }
    .Faq__item__answer {
        font-size: 10px;
    }
    .Faq {
        flex-direction: column;
    }
}
