.container{
  position: relative;
  width: 100%;
  height: calc(100% * 0.558);
  min-height: 804px;
  max-width: 1920px; 
}

.mainBg{
  position: absolute;
  width: 100vw;
  max-width: 1920px;
  height: calc(100vw * 0.362);
  min-height: 521px;
  max-height: 695px;
  bottom:30px ;
  left: -40px;
  z-index: -3;
}

.coreLogo{
  position: absolute;
  z-index: -1;
  top:30px;
  right: 0px;
  width: 773px;
  height: 556px;
}

.gradient{
  position: absolute;
  width: 100vw;
  height: calc(100% * 0.558);
  min-height: 804px;
  top: 0;
  left: -40px;
  z-index: -2;
  background: radial-gradient(50% 50% at 50% 50%, #000F2E 0%, rgba(0, 15, 46, 0) 100%);
  mix-blend-mode: normal;
  max-width: 1920px;
}

.infoSection{
  width: 60%;
  padding-top: 90px;
  height: 590px;
}

.button{
  width: 150px;
  height: 42px;
}

.button a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 42px;
  font-size: 16px;
  line-height: 22px;
}

.buttonWrapper{
  display: flex;
  gap: 50px;
  font-size: 16px;
  line-height: 22px;
  width: fit-content;
}

.buttonWrapper a:nth-child(2){
  display: flex;
  align-items: center;
  text-decoration: underline;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.buttonWrapper a:nth-child(2):hover{
  color: #FF7152;
}

.title{
  font-size: 51px;
  line-height: 66px;
}

.title span{
  font-size: inherit;
  line-height: inherit;
  color: #FF7152;
}

.info{
  font-size: 15px;
  line-height: 24px;
  color: #B2B4B7;
  margin-top: 32px;
  margin-bottom: 100px;
}

.stats{
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.stats div{
  width: fit-content;
}

.stats h3{
  font-size: 34px;
  line-height: 48px;
  color: #FF7152;
}

.stats p{
  font-size: 15px;
  line-height: 24px;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}

@media (min-width:1900px) {
  .mainBg{
    left: -200px;
  }

  .gradient{
    left: -200px;
  }
  
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .container{
    min-height: 603px;
  }

  .gradient{
    left:50%;
    transform: translateX(-50%);
    min-width: 768px;
    min-height: 603px;
  }

  .mainBg{
    left:50%;
    transform: translateX(-50%);
    min-width: 768px;
    min-height: 390px;
  }
  
  .coreLogo{
    top:30px;
    right: -80px;
    width: 75%;
    height: calc(75% * 0.71);
    min-width: 641px;
    min-height: 461px;
  }

  .cmcxStars {
    top: 50px;
  }

  .infoSection{
    width: 50%;
    height: 525px;
  }

  .title{
    font-size: 34px;
    line-height: 54px;
  }

  .stats h3{
    font-size: 25px;
    line-height: 48px;
  }
  
  .stats p{
    font-size: 13px;
    line-height: 21px;
  }

  .info{
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 76px;
  }

}
/*Mobile 320*/
@media (max-width: 767px) {
  .stats{
    flex-wrap: wrap;
    height: fit-content;
    padding-bottom: 50px;
  }

  .stats div{
    width: 50%;
  }

  .container{
    height: fit-content;
    min-height: 700px;
    max-width: 1920px; 
  }

  .coreLogo{
    top: 0px;
    left: 50%;
    transform: translateX(-61%);
    width: 100%;
    height: calc(75% * 0.71);
    min-width: 641px;
    min-height: 461px;
  }

  .mainContent{
    padding-top: 100%;
  }

  .infoSection{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .info{
    margin-bottom: 50px;
  }

  .infoSection{
    padding-top: 0;
    height: fit-content;
    padding-bottom: 50px;
  }

  .mainBg{
    bottom: -50px;
    min-height: 521px;
    min-width: 1024px;
  }

  .gradient{
    min-width: inherit;
    min-height: inherit;
    width: 100vw;
    height: 100vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-35%);
    z-index: -3;
  }
}

@media (max-width:430px) {
  .coreLogo{
    transform: translateX(-59%);
  }
}
