.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}

.content {
  width: 60%;
}
.title {
  display: flex;
  flex-direction: column;
}

.title span {
  font-size: 90px;
  line-height: 108px;
}

@media (max-width: 1023px) {
  .content {
    width: 70%;
  }
  .title span {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
    margin-left: auto;
    width: 100%;
  }
  .title {
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
  }
  .title {
    font-size: 50px;
  }
}
