.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}

.content {
  width: 60%;
}
.title {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .content {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    margin-right: 0;
    margin-left: auto;
    width: 100%;
  }
  .title {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}
