.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
  padding-top: 130px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title span {
  font-size: 90px;
  line-height: 108px;
}

.content {
  display: flex;
}
.content p {
  font-size: 16px;
  line-height: 24px;
}

.content p span {
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .title span {
    font-size: 60px;
  }
  .intro {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .intro {
    width: 100%;
  }
  .title {
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
  }
}
