.walletModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.walletModalActive {
  display: block;
}

.walletModalContent {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.walletOption {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}

.walletOptionImg img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
