.main {
  padding-top: 153px;
}

.proposalWrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.proposalIntro {
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: left;
}

.proposalIntro h1 {
  font-size: 100px;
  line-height: 120px;
}

.bottomBox {
  background: #f3e4d2;
  border: 1px solid #16202933;
  border-radius: 40px 0px 0px 40px;
  padding: 40px;
}

.bottomBox .form {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.form > div > p:first-child {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.form > div > p:first-child span {
  margin: 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.content > .subLabel {
  color: rgba(22, 32, 41, 0.6);
  margin-bottom: 6px;
}

.inputContainer > label:nth-child(2) {
  color: #162029;
  margin-bottom: 6px;
}
.content > .label,
.inputContainer > label:first-child {
  color: #162029;
  font-size: 20px;
  margin-bottom: 13px;
  font-weight: 500;
}
.input,
.datePicker {
  background-color: #fff3e5;
  border: 1px solid rgba(22, 32, 41, 0.2);
  border-radius: 20px;
  color: #162029;
  height: 44px;
  padding: 11.5px 16px;
  width: 100%;
}
.input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
}
.input[type='time']:not(:valid):before {
  content: '00:00';
  margin-right: 0.6em;
  color: #9d9d9d;
}
.content {
  display: flex;
  flex-direction: column;
}
.contentTextarea {
  border: 1px solid #16202933;
  border-radius: 20px;
  width: 100%;
}
.contentTextarea > div:first-child {
  background: #f0dec9;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 14px !important;
}
.contentTextarea > div::after {
  margin: 0 !important;
}
.contentTextarea > div:last-child {
  background: #fff3e5;
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 14px !important;
}
.contentTextarea > div > span:nth-child(2),
.contentTextarea > div > span:nth-child(3) {
  border-right: 1px solid rgba(22, 32, 41, 0.3);
  padding-right: 10px;
}

.choices {
  border-top: 1px solid rgba(22, 32, 41, 0.2);
  border-bottom: 1px solid rgba(22, 32, 41, 0.2);
  padding: 34px 0;
}
.btn {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  padding: 11px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border: 1px solid #162029;
  border-radius: 61px;
  margin-top: 21px;
}
.btn svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.btn:hover {
  color: #ff6969;
  border: 1px solid #ff6969;
}

.btn:hover svg path {
  stroke: #ff6969;
}

.snapshot {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 34px 0;
}

.snapshot p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 7px;
}
@media (max-width: 1300px) {
  .proposalIntro h1 {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .proposalIntro h1 {
    font-size: 40px;
  }
}
