.imgTextItem {
  display: flex;
  align-items: center;
}
.imgTextItem p {
  padding-left: 10px;
  color: #162029;
}
.imgTextItem img {
  width: 25px;
  height: 25px;
}
.imgTextItem p:last-child {
  font-size: 12px;
  color: #162029;
}
.darkened{
  opacity: 0.3;
  color: #162029;
}
