.contSTyle {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}

.font__51 {
  color: #162029;
  padding-left: 115px;
  margin-bottom: 50px;
}

.careerQualities__openingTxt::after {
  height: 8px;
  width: 8px;
  background: #a6d0dd;
  border-radius: 50%;
  position: absolute;
  left: 0;
  content: '';
  top: 5px;
  border: 1px solid rgb(87, 86, 86);
}

.careerQualities__openingTxt {
  margin-bottom: 8px;
  padding-left: 24px;
  position: relative;
  color: #162029;
}

.careerQualities__openingTtl {
  color: #ff6969;
  margin-bottom: 10px;
  width: 430px;
  font-size: 20px;
  font-family: 'Lack-Regular' !important;
}

.careerQualities__opening {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.careerQualities h2 {
  margin-bottom: 30px;
}

.careerQualities {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 1700px) {
  .font__51 {
    padding-left: 25px;
  }
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .careerQualities__opening:first-child {
    width: 50%;
  }

  .careerQualities__opening:last-child {
    width: 50%;
  }

  .careerQualities {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .career_item {
    padding-right: 100px;
    margin-bottom: 70px;
  }

  .career_item img {
    max-width: 100px;
    max-height: 100px;
  }

  .career_item .item_ttl {
    margin-top: 30px;
  }

  .careerQualities__openingTtl {
    width: 350px;
  }

  .font__51 {
    padding-left: 15px;
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
  .career_description {
    padding-top: 10px;
  }
}

/*Mobile 320*/
@media (max-width: 767px) {
  .careerQualities__openings {
    flex-direction: column;
  }

  .careerQualities__opening:first-child {
    width: 100%;
  }

  .careerQualities__opening:last-child {
    width: 100%;
  }

  .careerQualities__openingTtl {
    width: 100%;
  }

  .contSTyle {
    display: grid;
    grid-template-columns: 1fr;
  }

}