.svgHoverOrange path,
.hover svg,
.hover a,
.orangeHover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.hover a:hover {
  color: #ff7152;
}
.hover:hover .svgHoverOrange path {
  fill: #ff7152;
}

.proposalBottom__vote {
  padding: 20px;
  width: 50%;
}
.inner {
  position: relative;
  padding-top: 20px;
  width: 50%;
}
.proposalBottom__input input {
  width: 10px;
  color: #ffffff;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.3;
  border: 2px solid #ffffff;
  margin-right: 16px;
}
.redWord {
  color: #e94a4a;
}
.proposalBottom__input {
  /* border: 1px solid #ffffff17; */
  border-radius: 4px;
  padding: 15px;
  /* width: 625px; */
}
.proposalBottom__input span {
  font-size: 12px;
}
.bottomBorder {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 20px auto 0 auto;
  display: flex;
  width: 92%;
}
.dataTitle {
  color: #b2b4b7;
}
.datasubTitle {
  color: #e94a4a;
}
.proposalBottom__vote button {
  margin-top: 20px;
}
.header {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.list__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.header p:nth-child(2) {
  opacity: 0.3;
  margin-left: 5px;
}
.list__inner div {
  display: flex;
  align-items: center;
}
.list__inner a {
  color: #0500ff;
  margin-left: 5px;
}
.list svg {
  margin-left: 5px;
}
.list__inner:last-child {
  margin: 0;
}
.seeMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.seeMore p {
  color: #0500ff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.VectorSvg{
  stroke: #0500ff;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.seeMore:hover > p{
  color: #ff7152;
}

.seeMore:hover > .VectorSvg{
  stroke: #ff7152;
}

@media (min-width:601px) {
  .list::before{
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: calc(100% - 40px);
    display: block;
    margin: 0 auto;
  }
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .ProposalVoting {
    display: block;
  }
  .proposalBottom__vote {
    width: 100%;
  }
  .inner {
    width: 100%;
    margin-bottom: 150px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .list__inner {
    flex-direction: column;
  }
  .list__inner > div {
    margin: 0 0 10px 0;
  }
}
