.font__51 {
  font-size: 51px;
  line-height: 66px;
  padding-left: 115px;
  margin: 60px 0 30px 0;
  color: #162029;
  font-family: 'Lack-Regular' !important;
  padding-top: 50px;
  border-top: 1px solid #a6d0dd;
}

.infoImport {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1700px) {
  .font__51 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .font__51 {
    font-size: 40px;
  }
}