.farms__container {
  margin-top: 150px !important;
  display: flex;
  flex-direction: column;
}
.farmsBorder {
  border: 1px solid #111826;
}
.routesWrapper{
  margin: auto;
  margin-bottom: 32px;
}
.communityAuctions {
  display: flex;
  margin-right: auto;
  align-items: center;
  cursor: pointer;
}
.communityAuctions svg {
  margin-left: 10px;
}
.communityAuctions p {
  color: #ff7152;
}
.communityAuctions a {
  display: flex;
  align-items: center;
}
.communityAuctions:hover .blueHover {
  color: #0500ff;
}
.communityAuctions p,
.svgHoverBlue path,
.svgHoverBlue,
.svgHoverOrange path,
.hover svg,
.hover a,
.orangeHover {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.communityAuctions:hover .svgHoverBlue {
  transform: translateX(5px);
}
.communityAuctions:hover .svgHoverBlue path {
  stroke: #0500ff;
}
.farms__filter {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
}
/* border-bottom: 1px solid rgba(255, 255, 255, .1); */
.Farms__filterRightPanel select {
  background-color: #000000;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  outline: none;
}
.Farms__filterRightPanel select:focus {
  border-color: #0500ff;
}
.farms__filterInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Farms__filterLeftPanel {
  display: flex;
  align-items: center;
}
.Farms__filterRightPanel {
  display: flex;
  align-items: center;
}
.Farms__filterLeftPanel svg {
  cursor: pointer;
}
.Farms__filterLeftPanel svg:nth-child(1) {
  margin-right: 10px;
}
.farms__radioBtn {
  margin: 0 30px;
}
.Farms__filterRightPanel [type="search"] {
  background-color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  width: 250px;
  margin-left: 30px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.Farms__filterRightPanel [type="search"]:focus {
  border-color: #0500ff;
}
.farms__tableContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.farms__tableInner {
  display: flex;
  padding: 20px;
  width: 100%;
  flex-direction: column;
}
.farms__tableHeader {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 80px 20px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.farms__tableHeader div {
  color: #627eea;
  display: flex;
  align-items: center;
}
.farms__tableHeader svg {
  margin-left: 5px;
}
.farms__tableHeader div {
  width: 20%;
}
/* .farms__tableHeader div:nth-child(2) {
  width: 20%;
}
.farms__tableHeader div:nth-child(3) {
  width: 20%;
}
.farms__tableHeader div:nth-child(4) {
  width: 20%;
} */
.farms__table {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}
.farms__tableArrow {
  position: absolute;
  right: 0;
  top: 15px;
  cursor: pointer;
  z-index: 1;
}
.farms__coloredItem {
  color: #ff7152;
  margin-left: 10px;
}
.farms__tableItem {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.farms__tableItems {
  width: 20%;
}
.farms__tableItems svg {
  margin-left: 5px;
}
.item {
  width: 17%;
}
.item1 {
  width: 18%;
}
.item2 {
  width: 18%;
}
.item3 {
  width: 23%;
}
.farms__tableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.farms__subTable {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: 0.6s;
}
.expend {
  max-height: 100%;
  overflow: auto;
  transition: 0.6s;
}
.flex {
  display: flex;
  width: 100%;
}
.width {
  width: 23%;
}
.farms__subTableInner {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.farms__subTableInner button:nth-child(1) {
  height: 42px;
  width: 250px;
  border-radius: 4px;
}
.farms__subTableInner button:nth-child(3) {
  height: 42px;
  width: 90px;
  border-radius: 4px;
}
.disabledBtn {
  opacity: 0.3;
  background-color: #000000 !important;
  border-color: #ffffff !important;
  cursor: not-allowed;
}
.farms__subTableInner p {
  margin-left: 60px;
  width: 17.3%;
}
.farms__tableEnd {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.farms__tableEndInner svg {
  margin-left: 7px;
  cursor: pointer;
}
.farms__tableEndInner svg path {
  stroke: #b3b4b7;
}
.farms__tableEndInner {
  display: flex;
  align-items: center;
}
.farms__tableEndInner p {
  color: #b3b4b7;
  cursor: pointer;
}
.margin0 {
  margin-left: 0;
}
.farms__tableArrow path:hover {
  stroke: #ff7152;
}
.pointer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .farms__filterInner{
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin: auto;
  }
  .Farms__filterRightPanel{
    margin-top: 10px;
    align-self: center;
  }
  .Farms__filterLeftPanel{
    justify-content: space-between;
  }
}
@media (max-width: 883px) {
  .farms__filterInner{
    width: 60%;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .farms__filterInner{
    width: 70%;
  }
}

@media (max-width: 710px) {
  .farms__filterInner{
    width: 100%;
  }
  .Farms__filterLeftPanel{
    justify-content: flex-start;
  }
  .Farms__filterRightPanel{
    align-self:flex-start;
  }
}
