.mainContainer {
    width: 100%;
    position: relative;
    margin-top: 145px;
}

.titleContainer {
    width: 550px;
    display: flex;
    position: relative;
    margin-left: 155px;
    justify-content: space-between;
}

.titlePartyOne {
    color: #FF6969;
    font-size: 90px;
    font-family: 'Lack', sans-serif;
    font-weight: 400;
}

.titlePartyTwo {
    font-size: 90px;
    color: #162029;
    font-family: 'Lack', sans-serif;
    font-weight: 400;
}

.bodyContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 40px 157px 26px 160px;
}

.mapContainer {
    width: calc(40% - 30px);
    display: flex;
    flex-direction: column;
    gap: 60px; 
}

.mapContainer h2 {
    font-size: 20px;
}

.mapContainer p {
    font-size: 13px;
}

.pressImage {
    width: 100px;
    height: 260px;
    position: relative;
}

.PressImagePart {
    position: absolute;
}

.mapContainerTwo {
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    position: relative;
    width: 100%;
    max-height: 500px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.item p {
    font-size: 16px;
    font-weight: 400;
}

.itemSmall {
    position: relative;
    width: 100%;
    max-height: 500px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.pressImage {
    width: 100%;
    z-index: 1;
    object-fit: cover;
    padding: 5px;
}

.icon {
    position: absolute;
    left: 16px;
    width: 72px;
    height: 72px;
    z-index: 2;
    object-fit: cover;
}

.sourcesContainer {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;  
    justify-content: center;
    top: 60px;
    z-index: 6;
    border-radius: 5px;
}

.sourcesContainer p {
    font-size: 55px;
    font-weight: 400;
    position: absolute;
    left: 145px;
    color: #162029;
}

.logoContainer {
    width: 1362px;
    height: 70%;
    display: flex;
    /* position: relative; */
    background-color: #F3E4D2;
    border-radius: 10px;
    top: 80px;
    left: 50px;
    border: 1px solid #F3E4D2;
    position: absolute;
}

.imageLogo {
    width: 100%;
}

.infoContainer {
    width: 80%;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid #A6D0DD;
    position: relative;
    left: 140px;
    margin-top: 70px;

}

.yearsStats {
    width: 330px;
    height: 100%;
    display: flex;
    z-index: 10;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
}

.infoContainer p {
    font-size: 30px;
    line-height: 42px;
}

.statisticContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: relative;
    margin-left: 140px;
    padding: 20px;
    background-color: #F3E4D2;
    margin-top: 20px;
}

.iconsContainer {
    width: 72px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}


.iconsTxt {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding: 20px;
}

.button {
    text-align: center;
    align-items: center;
    padding: 2px;
    width: 152px;
    height: 34px;
    background-color: #A6D0DD;
    position: relative;
    margin-left: 140px;
    top: 40px;
    z-index: 77;
}

.iconsTxt p {
    border-bottom: 1px solid #a3d1df;
}

.itemOne {
    border-bottom: 3px solid #FF6969;
}