.containerOne {
  margin: 0px 0px 50px 0px;
  width: calc(90% - 15px);
}

.ttle {
  margin: 5px 0 15px 0;
}

.box {
  margin: 30px 0px;
  padding: 45px 30px;
}

.llll {
  margin-bottom: 15px;
}

.items {
  margin: 15px 0px;
}

.itemsOne {
  margin: 15px 0px;
}

.bottom {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.img {
  width: 24px;
  height: 24px;
  margin: 0px 4px 4px 4px;
}

.bottTitle {
  color: #ff6969;
}

.btn {
  margin-top: 30px;
}
.btnBlu {
  width: 100% !important;
  background-color: #a6d0dd !important;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}

/*Ipad Pro 1024*/
@media (max-width: 1365px) {
}

/*Ipad 768*/
@media (max-width: 1023px) {
  .containerOne {
    width: 100%;
  }
}

/*Mobile 320*/
@media (max-width: 768px) {
}
