.hederContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px;
  margin-top: 150px;
  width: calc(90% - 15px);
}

.title {
  margin: 100px 0 40px 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
}

.itemMap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  z-index: 999;
  width: 50px;
  height: 50px;
}

.boxMap {
  width: 100%;
}

.BowlBox {
  margin: 10px 0px 10px 30%;
}

.border {
  margin-top: 40px;
  margin-bottom: 10px;
  border: 1px solid #162029;
}

/*Laptop 1440*/
@media (max-width: 1900px) {
}

/*Ipad Pro 1024*/
@media (max-width: 1365px) {
  .asda {
    flex-direction: column;
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
}

/*Mobile 320*/
@media (max-width: 768px) {
}
