.Container{
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
}

.Chart{
  position: relative;
}

@media (max-width: 1900px) {
  .Container{
    padding: 50px 10px;
  }
}

@media (max-width: 896px) {
  .Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  .Chart{
    margin-bottom: 50px;
    width: 100%;
    max-width: 100%;
    height: 511px;
    border: 1px solid #111826;
  }
}