.itemWrapper{
  display: flex;
  flex-direction: column;
}

.headerSection{
  display: flex;
  justify-content: space-between;
}

.subTitle{
  font-size: 12px;
  line-height: 17px;
  color: #627EEA;
  opacity: 0.7;
}

.headerSection svg:last-child{
  position: absolute;
  left: 60%;
}

.logoWrapper{
  position: relative;
}

.itemRow{
  display: flex;
  justify-content: space-between;
}

.itemRow p{
  font-size: 12px;
  line-height: 17px;
}

.itemRow p:first-child{
  min-width: 148px;
  color: #627EEA;
  opacity: 0.7;
}