.section{
  margin-top: 40px;
}
.titleRow{
  display: flex;
  justify-content: space-between;
}

.title{
  display: flex;
  align-items: center;
}

.logo{
  z-index: -1;
  position: relative;
  width: 50px;
  height: 50px;
}
.titleText {
  display: flex;
  align-items: center;
}

.titleText p {
  font-size: 22px;
}
.titleTextRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  margin-left: 5px;
}

.prices{
  display: flex;
}

.price{
  white-space: nowrap;
}

.price_change{
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.changePercent{
  display: flex;
  align-items: center;
}

.PositiveNum{
  color: #29765A;
  margin-left: 3px;
}

.NegativeNum{
  color: #E94A4A;
  margin-left: 3px;
}

.starSVG{
  width: 20px;
  height: 20px;
  margin-left: 7px;
  cursor: pointer;
}
.name{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.name:hover{
  text-decoration: underline;
  text-decoration-color: #0500FF;
}
.name p{
  font-size: 16px;
  line-height: 13px;
  color: #0500FF;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 205px;
}

.name p{
  margin-bottom: 8px;
  margin-right: 5px;
}

.displayStats{
  display: flex;
  flex-direction: column;
  width: 202px;
  height: 437px;
  max-width: 20%;
  padding:20px 25px;
  position: relative;

}

.volumeBlock{
  height: 30%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.liquidityBlock{
  height: 30%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.volumeBlock2{
  height: 20%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.transactionBlock{
  height: 20%;
}

.blockP{
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 10px;
}

.displayStats h3{
  margin-bottom: 10px;
  margin-top: 10px;
}

.tableName{
  margin-top:50px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 13px;
}


.displayStats div:nth-child(1) p,.displayStats div:nth-child(2) p{
  width: 100%;
}

.displayStats div h3{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #627EEA;
}

.dataBlockWrapper{
  display: flex;
  justify-content: space-between;
}

.chartWrapper{
  width: 1128px;
  height: 438px;
  max-width: 78%;
  height: inherit;
  border: 1px solid #111826;
}



.goBackWrapper{
  width: 27%;
  align-self: center;
}
.goBackSvg{
  fill:#FF7152;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.goBackText{
  cursor: pointer;
  width: fit-content;
  align-items: center;
  display: flex;
}
.goBackText p {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.goBackText:hover p{
  color:#0500FF
}
.goBackText:hover .goBackSvg{
  fill:#0500FF;
  transform: translateX(-5px);
}

.goBackText p{
  font-size: 15px;
  line-height: 21px;
  color: #FF7152;
  margin-left: 5px;
}

.starSVG{
  width: 30px;
  height: 30px;
}

.starWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 27%;
}

.favCount{
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  background-color: #FF7152;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 12px;
  pointer-events: none;
}

.topSectionWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activeSVG{
  fill:#EAAB4D;
}


@media (max-width: 768px) {
  .dataBlockWrapper{
     flex-direction: column;
     align-items: center;
  }
  .displayStats{
    width: 100%;
    max-width: 100%;
  }
  .dataBlockWrapper{
    align-items:flex-start;
  }
  .liquidityBlock{
    height: 25%;
    padding: 10px;

  }
  .volumeBlock{
    height: 25%; 
    padding: 10px;
  }
  .volumeBlock2{
    height: 25%;
    padding: 10px;
  }
  .transactionBlock{
    padding: 10px;
    height: 25%;
  } 
  .blockP{
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .displayStats h3{
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media (max-width:600px){
  .topSectionWrapper{
    flex-wrap: wrap;
  }
   .goBackWrapper{
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
   }
   .starWrapper{
    width: fit-content;
   }
}

@media (max-width: 460px) {
  .titleRow{
    flex-direction: column;
  }
  .name{
    justify-content: flex-start;
  }
  .buttons{
    margin-bottom: 20px;
  }
}
