.career_head {
  display: flex;
  margin: 100px 0;
  width: 100%;
}

.font__51 {
  /* margin-top: 60px; */
  font-family: 'Lack-Regular' !important;
  font-size: 51px;
  line-height: 66px;
  color: #162029;
}

.item_ttl {
  font-family: 'Lack-Regular' !important;
}

.career_items {
  display: flex;
  flex-wrap: wrap;
}

.career_head h2 {
  width: 50%;
}
.career_description {
  width: 50%;
  max-width: 416px;
  /* padding-top: 33px; */
}
.career_description p {
  line-height: 24px;
  opacity: 0.5;
}

.career__valuesOuter {
  position: relative;
}

.career__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.career_item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 180px;
  margin-bottom: 100px;
}
.career_item img {
  max-width: 120px;
  max-height: 120px;
}
.career_item .item_ttl {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  margin-top: 48px;
  width: max-content;
}
.career_item p {
  opacity: 0.7;
  font-size: 15px;
  line-height: 30px;
  margin-top: 16px;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .careerQualities__opening:first-child {
    width: 50%;
  }
  .careerQualities__opening:last-child {
    width: 50%;
  }
  .careerQualities {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .career_item {
    padding-right: 100px;
    margin-bottom: 70px;
  }
  .career_item img {
    max-width: 100px;
    max-height: 100px;
  }
  .career_item .item_ttl {
    margin-top: 30px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .career_description {
    padding-top: 10px;
  }
  .career_item {
    padding-right: 30px;
    margin-bottom: 70px;
  }
  .career_item img {
    max-width: 70px;
    max-height: 70px;
  }
  .counter-container {
    max-width: 500px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .career__items {
    width: 100%;
  }
  .careerQualities__openings {
    flex-direction: column;
  }
  .careerQualities__opening:first-child {
    width: 100%;
  }
  .careerQualities__opening:last-child {
    width: 100%;
  }
  .career__items {
    flex-direction: column;
    margin-top: 70px;
  }
  .career_item {
    width: 100%;
    align-items: center;
    padding-right: 0px;
  }
  .career_item p {
    text-align: left;
  }
  .counter-num {
    font-size: 22px;
  }
  .career_head {
    margin-top: 50px;
  }
  .career__main-bg {
    height: 100vh;
    object-fit: cover;
  }
  .main-container__description {
    padding: 0px;
  }
  .career_head {
    flex-direction: column;
  }
  .career_head h2,
  .career_description {
    width: 100%;
  }
}
