.career_head {
  display: flex;
  margin: 100px 0 70px 0;
  width: 100%;
}

.font__51 {
  line-height: 66px;
  color: #162029;
}

.item_ttl {
  font-family: 'Lack-Regular' !important;
}

.career_items {
  display: flex;
  flex-wrap: wrap;
}

.career_head h2 {
  width: 50%;
}
.career_description {
  width: 50%;
  max-width: 416px;
  /* padding-top: 33px; */
}
.career_description p {
  line-height: 24px;
  /* opacity: 0.5; */
  color: #162029;
  padding-top: 5px;
}

.career__items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.career_item {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 100px;
}

.career_item .item_ttl {
  color: #162029;
  position: relative;
  font-size: 20px;
  line-height: 30px;
  margin-top: 48px;
  width: max-content;
}
.career_item p {
  font-size: 15px;
  line-height: 30px;
  margin-top: 16px;
}

.mobileSvg {
  width: 84px;
  height: 84px;
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .career_item .item_ttl {
    margin-top: 10px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .career_description {
    padding-top: 10px;
  }
  .career_item {
    /* padding-right: 30px; */
    margin-bottom: 40px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .career__items {
    width: 100%;
    flex-direction: column;
    margin-top: 70px;
  }
  .career_item {
    width: 100%;
    /* align-items: start; */
    /* padding-left: 50px; */
  }
  .career_item p {
    text-align: left;
  }
  .career_head {
    margin-top: 50px;
  }
  .career_head {
    flex-direction: column;
  }
  .career_head h2,
  .career_description {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .mobileSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
  }

  .career_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }

  .career_head {
    margin: 50px 0;
  }
}
