.dashboardMid__sliderContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.dashboardMid__wrapper {
  margin-bottom: 50px;
  border-top: 1px solid #111826;
  width: 100%;
}
.dashboardMid__flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.dashboardMid__sliderContainer div svg:nth-child(1) {
  margin-right: 5px;
}
.dashboardMid__sliderLogo {
  margin-right: 10px !important;
}
.dashboardMid__slider {
  display: flex;
  margin-top: 25px;
  border: 1px solid #0500ff80;
  background-color: #09111f;
  position: relative;
  /* width: 100%; */
}
.dashboardMid__slide {
  padding: 25px;
}
.dashboardMid__slide span {
  color: #b2b5ba;
}
.dashboardMid__slide p:nth-child(2) {
  margin: 0 30px 0 0;
}
.orangeColor {
  color: #ff7152 !important;
}
.dashboardMid__flex button {
  margin: 0 20px;
  display: flex;
  justify-content: center;
}
.miniMenu {
  margin-left: 20px;
  cursor: pointer;
}
.marginZero {
  margin: 0 !important;
}
.sliderHeader__search{
  border: 1px solid rgba(255,255,255,.1);
  height: 30px;
  width: 255px;
  font-size: 13px;
  padding: 0px 16px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  background: transparent;
  border-radius: 4px;
  margin-left: auto;
}
.sliderHeader__search:focus{
  border-color: rgba(5, 0, 255, 1);
}
.sliderHeader__search::placeholder{
  color: rgba(150, 155, 166, 1);
}
.spaceBetween {
  justify-content: space-between;
  display: flex;
}
.itemContainer {
  display: flex;
}
.marginTop {
  margin-top: 40px !important;
}
.sliderModal {
  display: none;
}
.assetsBtn{
  display: flex;
  cursor: pointer;
  margin-right: 34px;
}
.assetsBtn path{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.assetsBtn p{
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.assetsBtn:hover path{
  fill: #FF7152;
}
.assetsBtn p:hover{
  color: #FF7152;
}
.sliderHeader{
  display: flex;
  width: 100%;
  align-items: center;
}
.sliderButtons.dashboardMid__flex{
  margin-top: 0px;
  overflow: hidden;
  max-height: 0px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0;
}
.itemContainer:hover .sliderButtons.dashboardMid__flex{
  max-height: 500px;
  opacity: 1;
}
.dashboardMid__flexLast{
  margin-bottom: 16px;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
}
/*Ipad 768*/
@media (max-width: 1023px) {
}
/*Mobile 320*/
@media (max-width: 767px) {
  .spaceBetween {
    flex-direction: column;
    align-items: center;
  }
  .dashboardMid__flex {
    align-items: inherit;
  }
  .addAssets {
    margin-top: 2px;
  }
  .marginBottom {
    margin-bottom: 15px !important;
  }
  .dashboardMid__flex button {
    width: 80px;
  }
  .miniMenu {
    margin-top: 10px;
  }
}

.icon{
  border:none;
  background: none;
  cursor: pointer;
}

.icons{
  display: flex;
  margin-left: 93%;
  width:7%;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}
