.slider{
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  max-width: 1920px;
}

.sliderTrack{
  display: flex;
  width: fit-content;
  animation: scroll 15s linear infinite;
}

.logoWrapper{
  width: 166px;
  height: 86px;
  padding-left: 40px;
  padding-right: 40px;
}

.logo{
  position: relative;
  width: 86px;
  height: 86px;
}


@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

@media (min-width:1920px) {
  /* .slider{
    max-width: 1520px;
  } */

  
}