.donwnloadBg {
  position: absolute;
  top: 0px;
  right: -50px;
  width: calc(100% + 300px);
  height: 100%;
  object-fit: cover;
  z-index: 1;
  overflow: hidden;
}
.donwnloadBg__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.download__container {
  position: relative;
}
.download__videoButton:hover {
  color: #ff7152;
}
.download__videoButton svg {
  margin-right: 12px;
}
.download__videoButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-top: 40px;
}
.download__button:hover {
  opacity: 0.7;
}
.download__button {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin: 0px 8px;
}
.download__buttonsContainer {
  display: flex;
}
.download__title {
  margin-bottom: 40px;
}
.download__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
.aboutList__itemLink {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  position: relative;
  margin-right: auto;
  margin-top: 20px;
}
.aboutList__itemLink:after {
  content: '';
  left: 0px;
  bottom: -2px;
  background: #0500ff;
  width: 100%;
  height: 1px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  position: absolute;
}
.aboutList__itemLink:hover:after {
  transform: scale(0);
}
.aboutList__itemLink:hover {
  color: #ff7152;
}
.about-list__subtxt {
  font-size: 12px;
  opacity: 0.3;
}
.about-list__button {
  height: 52px;
  background: #ff7152;
  font-size: 16px;
  color: #fff;
  padding: 0px 40px;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.about-list__button:hover {
  background: #0500ff;
}
.tokenomicsList__textTtl {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.tokenomicsList__textTxt {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.tokenomicsList__description {
  width: 100%;
  padding: 40px;
  display: flex;
  background: #020a18;
  font-size: 20px;
  line-height: 30px;
  padding-right: 38%;
  /*margin-top: 100px;*/
  margin-bottom: 100px;
}
.aboutList__titleIso svg {
  position: absolute;
  top: 4px;
  left: 0px;
}
.aboutList__titleIso {
  font-size: 20px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
  margin-top: 30px;
}
.tokenBg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100% + 210px);
  z-index: 1;
}
.tokenomicsList__container {
  position: relative;
  z-index: 2;
}
.tokenomicsList h3 {
  margin-bottom: 100px;
}
.tokenomicsList__itemTitle {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #ff7152;
}
.tokenomicsList__itemText {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
}
.tokenomicsList__part {
  margin-right: 130px;
}
.tokenomicsList__inner {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* h3 span:last-child {
  padding-left: 120px;
} */
.aboutList__item .aboutList__itemText {
  width: 50%;
  padding-right: 120px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.aboutList__item h3 {
  display: flex;
  flex-direction: column;
}
.aboutList__titleContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: -30px;
}
.aboutList__titleContainer.certik {
  margin-top: 0px;
}
.aboutList__item h3 span {
  font-size: inherit;
}
.aboutList__itemSubText {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}
.aboutList__itemSubTtl {
  margin-bottom: 5px;
}
.about-list__itemolorTtl {
  font-size: 15px;
  color: #ff7152;
  line-height: 24px;
  margin-bottom: 5px;
}
.about-list__itemLtlTtl {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.aboutList__itemPart {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}
.about-list__item {
  display: flex;
  flex-direction: column;
}
.aboutList__item {
  display: flex;
}
.aboutList__item h3 {
  width: 50%;
}
.aboutList__itemPart {
  width: 50%;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
  .tokenomicsList__description {
    padding-right: 10%;
  }
}
/*Ipad 1024*/
@media (max-width: 1300px) {
  .download__img {
    height: 30px;
  }
  .aboutList__titleContainer.certik svg {
    width: 70%;
  }
  .aboutList__itemPart {
    padding-right: 60px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .tokenomicsList__description {
    font-size: 16px;
    line-height: 26px;
  }
  .aboutList__titleIso {
    font-size: 14px;
    line-height: 24px;
  }
  .tokenomicsList__part {
    margin-right: 60px;
  }
  /* h3 span:last-child {
    padding-left: 60px;
  } */
  .aboutList__itemPart {
    padding-right: 10px;
  }
  .aboutList__item .aboutList__itemText {
    padding-right: 10px;
  }
}
/*Iphone*/
@media (max-width: 767px) {
  .download__button {
    transform: scale(0.7);
  }
  .download__button:first-child {
    transform-origin: right;
    margin-left: 5px;
  }
  .download__button:last-child {
    transform-origin: left;
  }
  .download__img {
    height: 18px;
  }
  .download__title.font-51 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .donwnloadBg {
    right: -15px;
    width: calc(100% + 30px);
  }
  .tokenomicsList__part {
    margin-right: 20px;
  }
  .tokenomicsList__textTxt {
    margin-bottom: 50px;
  }
  .tokenomicsList__description {
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .aboutList__titleContainer {
    width: 80%;
    margin-bottom: 30px;
  }
  .aboutList__itemPartners {
    flex-direction: column;
  }
  .aboutList__item .aboutList__itemText {
    width: 100%;
  }
  .aboutList__item {
    flex-direction: column;
  }
  .aboutList__itemPart {
    width: 100%;
    padding-right: 20px;
  }
  .aboutList__itemText {
    width: 100%;
  }
}

.protocol__linkTxt::after {
  bottom: -2px;
  height: 1px;
  width: 100%;
  left: 0px;
  background: #0500ff;
  content: '';
  position: absolute;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.protocol__linkTxt {
  position: relative;
  margin-right: 6px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.protocol__link:hover .protocol__linkTxt::after {
  transform: scale(0);
}
.protocol__link:hover .protocol__linkTxt {
  color: #ff7152;
}
.protocol__link {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.protocol__linkMainSvg {
  position: relative;
  z-index: 2;
  margin-right: 30px;
}
.protocol__linkSecSvg {
  position: absolute;
  left: 0px;
  z-index: 1;
  transform: translateX(18px);
}
.bottom__descriptionItem:nth-child(2) {
  padding-left: 100px;
}
.bottom__descriptionWext {
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.bottom__descriptionWext svg {
  margin-right: 10px;
}
.bottom__descriptionTtl {
  font-size: 15px;
  color: #ff7152;
  line-height: 24px;
  margin-bottom: 5px;
}
.bottom__descriptionItem {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottom__descriptionFloor {
  display: flex;
  margin-bottom: 30px;
}
.bottom__description {
  position: relative;
  z-index: 3;
  width: 650px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 50px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.animHead .bottom__description {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.2s;
}
.bottom__descriptionInner {
  height: 100%;
  width: calc(100% + 210px);
  display: flex;
  justify-content: center;
}
.tokenBg {
  width: 100%;
  height: 120%;
}
.tokenBg__outer {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100% - 200px);
  z-index: 1;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.tokenBg__outer:after {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  content: '';
  z-index: 2;
  height: 50%;
  background: rgb(0, 5, 15);
  background: linear-gradient(0deg, rgba(0, 5, 15, 0.23993347338935578) 0%, rgba(0, 5, 15, 1) 100%);
}
.tokenBg__outer:before {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  content: '';
  z-index: 2;
  height: 50%;
  background: rgb(0, 5, 15);
  background: linear-gradient(180deg, rgba(0, 5, 15, 0.23993347338935578) 0%, rgba(0, 5, 15, 1) 100%);
}
.animHead .tokenBg__outer {
  opacity: 1;
  transform: translateY(0px);
}
.container {
  position: relative;
  z-index: 20;
  height: 100%;
}
.mainVideo iframe {
  transform: translateY(-40%);
}
.mainContainer__description p {
  transform: translateY(10px);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.mainContainer__description .frstTxt {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 24px;
  margin-top: auto;
}
.mainContainer__description .scndTxt {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 30px;
  margin-top: 60px;
}
.animHead p {
  transform: translateY(0px);
  opacity: 0.8;
  transition-delay: 0.6s;
}
.mainContainer__description h1 {
  font-size: 100px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-top: 215px;
}
.animHead h1 {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.5s;
}
.mainContainer__description {
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.left {
  width: 50%;
  position: relative;
  z-index: 5;
}
.bottom {
  position: relative;
  padding-top: 230px;
  display: flex;
  width: 100%;
}
.mainContainer__header .left {
  font-size: 20px;
  line-height: 28px;
}
#main {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: #00050f;
  z-index: 2;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
  #main {
    min-height: 800px;
  }
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .bottom__descriptionItem:nth-child(2) {
    padding-left: 40px;
  }
  .bottom__description {
    width: 450px;
  }
  .mainContainer__description {
    padding-left: 25px;
  }
  .mainContainer__description h1 {
    font-size: 50px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .bottom {
    padding-top: 100px;
  }
  .bottom__descriptionWext,
  .bottom__descriptionTtl {
    font-size: 12px;
    line-height: 20px;
  }
  .bottom__descriptionItem {
    width: 45%;
  }
  .bottom__descriptionFloor {
    margin-bottom: 15px;
  }
  .mainContainer__description {
    padding-left: 0px;
  }
  .bottom__description {
    width: 100%;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .mainContainer__description .frstTxt {
    font-size: 12px;
    line-height: 22px;
  }
  .mainContainer__description .scndTxt {
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
  }
  .right {
    padding-bottom: 60px;
    padding-right: 30px;
  }
  .mainVideo__container {
    right: -38%;
    padding-top: 130%;
    width: 130%;
  }
  .mainContainer__header .left {
    font-size: 13px;
    line-height: 22px;
  }
  .mainContainer__description p {
    font-size: 32px;
    line-height: 40px;
  }
  .scroll-down {
    display: none;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .protocol__linkMainSvg {
    margin-right: 25px;
  }
  .protocol__linkTxt {
    font-size: 10px;
  }
  .tokenBg__outer {
    width: 100%;
  }
  .left {
    width: 100%;
  }
  .mainContainer__description {
    flex-direction: column;
  }
  .downloadContainer__mobileInner a {
    margin: 0px 15px;
  }
  .downloadContainer__mobile .ttl {
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    margin-bottom: 25px;
  }
  .mainContainer__description {
    padding: 0px 15px;
    text-align: center;
    bottom: 90px;
  }
  .mainContainer__description h1 {
    margin-top: 115px;
    margin-bottom: 50px;
    text-align: left;
  }
  .bottom__descriptionWext,
  .bottom__descriptionTtl {
    font-size: 10px;
    line-height: 15px;
  }
  .bottom__descriptionFloor {
    margin-bottom: 10px;
  }
  .bottom__descriptionInner {
    width: 100%;
  }
  .bottom__description {
    padding-left: 15px;
  }
  .tokenBg {
    height: 100%;
    object-fit: cover;
  }
  .mainContainer__description {
    padding: 0px;
  }
  #main {
    min-height: 600px;
  }
}

/* DOWNLOAD */

.donwnloadBg {
  position: absolute;
  top: 0px;
  right: -50px;
  width: calc(100% + 300px);
  height: 100%;
  object-fit: cover;
  z-index: 1;
  overflow: hidden;
}
.donwnloadBg__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.download__container {
  position: relative;
}
.download__videoButton:hover {
  color: #ff7152;
}
.download__videoButton svg {
  margin-right: 12px;
}
.download__videoButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin-top: 40px;
}
.download__button:hover {
  opacity: 0.7;
}
.download__button {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  margin: 0px 8px;
}
.download__buttonsContainer {
  display: flex;
}
.download__title {
  margin-bottom: 40px;
}
.download__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
.aboutList__itemLink {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  position: relative;
  margin-right: auto;
  margin-top: 20px;
}
.aboutList__itemLink:after {
  content: '';
  left: 0px;
  bottom: -2px;
  background: #0500ff;
  width: 100%;
  height: 1px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  position: absolute;
}
.aboutList__itemLink:hover:after {
  transform: scale(0);
}
.aboutList__itemLink:hover {
  color: #ff7152;
}
.about-list__subtxt {
  font-size: 12px;
  opacity: 0.3;
}
.about-list__button {
  height: 52px;
  background: #ff7152;
  font-size: 16px;
  color: #fff;
  padding: 0px 40px;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.about-list__button:hover {
  background: #0500ff;
}
.tokenomicsList__textTtl {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.tokenomicsList__textTxt {
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.tokenomicsList__description {
  width: 100%;
  padding: 40px;
  display: flex;
  background: #020a18;
  font-size: 20px;
  line-height: 30px;
  padding-right: 38%;
  /*margin-top: 100px;*/
  margin-bottom: 100px;
}
.aboutList__titleIso svg {
  position: absolute;
  top: 4px;
  left: 0px;
}
.aboutList__titleIso {
  font-size: 20px;
  line-height: 30px;
  padding-left: 30px;
  position: relative;
  margin-top: 30px;
}
.tokenBg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100% + 210px);
  z-index: 1;
}
.tokenomicsList__container {
  position: relative;
  z-index: 2;
}
.tokenomicsList h3 {
  margin-bottom: 100px;
}
.tokenomicsList__itemTitle {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #ff7152;
}
.tokenomicsList__itemText {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
}
.tokenomicsList__part {
  margin-right: 130px;
}
.tokenomicsList__inner {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* h3 span:last-child {
  padding-left: 120px;
} */
.aboutList__item .aboutList__itemText {
  width: 50%;
  padding-right: 120px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.aboutList__item h3 {
  display: flex;
  flex-direction: column;
}
.aboutList__titleContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: -30px;
}
.aboutList__titleContainer.certik {
  margin-top: 0px;
}
.aboutList__item h3 span {
  font-size: inherit;
}
.aboutList__itemSubText {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 30px;
}
.aboutList__itemSubTtl {
  margin-bottom: 5px;
}
.about-list__itemolorTtl {
  font-size: 15px;
  color: #ff7152;
  line-height: 24px;
  margin-bottom: 5px;
}
.aboutList__itemLtlTtl {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.aboutList__itemPart {
  display: flex;
  flex-direction: column;
  padding-right: 120px;
}
.about-list__item {
  display: flex;
  flex-direction: column;
}
.aboutList__item {
  display: flex;
}
.aboutList__item h3 {
  width: 50%;
}
.aboutList__itemPart {
  width: 50%;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
  .tokenomicsList__description {
    padding-right: 10%;
  }
}
/*Ipad 1024*/
@media (max-width: 1300px) {
  .download__img {
    height: 30px;
  }
  .aboutList__titleContainer.certik svg {
    width: 70%;
  }
  .aboutList__itemPart {
    padding-right: 60px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .tokenomicsList__description {
    font-size: 16px;
    line-height: 26px;
  }
  .aboutList__titleIso {
    font-size: 14px;
    line-height: 24px;
  }
  .tokenomicsList__part {
    margin-right: 60px;
  }
  /* h3 span:last-child {
    padding-left: 60px;
  } */
  .aboutList__itemPart {
    padding-right: 10px;
  }
  .aboutList__item .aboutList__itemText {
    padding-right: 10px;
  }
}
/*Iphone*/
@media (max-width: 767px) {
  .download__button {
    transform: scale(0.7);
  }
  .download__button:first-child {
    transform-origin: right;
    margin-left: 5px;
  }
  .download__button:last-child {
    transform-origin: left;
  }
  .download__img {
    height: 18px;
  }
  .download__title.font-51 {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .donwnloadBg {
    right: -15px;
    width: calc(100% + 30px);
  }
  .tokenomicsList__part {
    margin-right: 20px;
  }
  .tokenomicsList__textTxt {
    margin-bottom: 50px;
  }
  .tokenomicsList__description {
    font-size: 14px;
    padding: 15px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .aboutList__titleContainer {
    width: 80%;
    margin-bottom: 30px;
  }
  .aboutList__itemPartners {
    flex-direction: column;
  }
  .aboutList__item .aboutList__itemText {
    width: 100%;
  }
  .aboutList__item {
    flex-direction: column;
  }
  .aboutList__itemPart {
    width: 100%;
    padding-right: 20px;
  }
  .aboutList__itemText {
    width: 100%;
  }
}

/* ABOUT FINANCIAL */

.chartContainer__description.not {
  opacity: 0.4;
}
.takenomicsChart {
  display: flex;
}
.columnChart__footerItem span {
  height: 4px;
  width: 25px;
  border-radius: 10px;
  display: flex;
  margin-right: 30px;
}
.chartContainer__description {
  margin: 15px 0px;
  position: relative;
  padding: 0px 40px;
}
.chartContainer__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.chartContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 30px;
}
.chartContainer__left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  margin-top: 50px;
}
#chart {
  width: 380px;
  position: relative;
  z-index: 3;
}
.chartContainer__inner {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
  transform: scale(1);
}
.chart__img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  transform: scale(1.2);
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.chart__img img {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  -webkit-animation: spin 50s linear infinite;
  -moz-animation: spin 50s linear infinite;
  animation: spin 50s linear infinite;
}
.chart__imgGr {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 2;
}
.chartContainer__description .color {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 2px;
  left: 0px;
  border-radius: 50%;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
  transform: scale(1);
  border: 4px solid;
}
.chartContainer__description .title {
  font-size: 15px;
  white-space: nowrap;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
  transform: translateY(0px);
}
.chartContainer__description:hover .title {
  color: #ff7152;
}
.chartContainer__description .title svg {
  margin-left: 8px;
}
.chartContainer__description .text {
  font-size: 15px;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 1;
  transform: scale(1);
  transform: translateY(0px);
  color: rgba(255, 255, 255, 0.7);
  line-height: 24px;
}
.container {
  display: flex;
  flex-direction: column;
}
.aboutFinancial__headerSubTitle {
  font-size: 20px;
  line-height: 30px;
  color: #ff7152;
}
.aboutFinancial__headerTitle {
  font-size: 20px;
  line-height: 30px;
  margin-top: 60px;
}
/* h3 span {
  font-size: inherit;
}
h3 span:last-child {
  padding-left: 120px;
} */
.aboutFinancial__header {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* h3 {
  width: 50%;
  display: flex;
  flex-direction: column;
} */
.aboutFinancial__headerTextContainer {
  width: 50%;
  padding-right: 300px;
  display: flex;
  flex-direction: column;
}
.aboutFinancial__headerText {
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 20px;
}
/*Laptop 1440*/
@media (max-width: 1900px) {
  .aboutFinancial__headerTextContainer {
    padding-right: 120px;
  }
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .chartContainer__left {
    padding-right: 40px;
  }
  /* h3 span:last-child {
    padding-left: 60px;
  } */
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .chartContainer {
    flex-direction: column;
  }
  /* h3 span:last-child {
    padding-left: 60px;
  } */
  .aboutFinancial__headerTextContainer {
    padding-right: 25px;
  }
  .chartContainer__left {
    padding-right: 0px;
    width: 100%;
    justify-content: center;
  }
  .chartContainer__right {
    margin-left: auto;
    margin-right: auto;
  }
  .chartContainer__description {
    margin: 5px 0px;
  }
}
/*Iphone*/
@media (max-width: 767px) {
  .columnChart__footerItem {
    font-size: 12px;
    margin-right: 0px;
  }
  .columnChart__footerItem span {
    margin-right: 10px;
  }
  .columnChart__footerItem:first-child {
    margin-bottom: 5px;
  }
  .columnChart__footer {
    flex-direction: column;
  }
  .aboutFinancial__header {
    flex-direction: column;
  }
  .aboutFinancial__headerTextContainer {
    width: 100%;
  }
  .chartContainer__right {
    width: 100%;
  }
  .columnChartContainer__inner {
    width: 100%;
  }
}
