/* Tokenomics Head */
.tokenomics_line::after {
  content: '';
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  width: 50px;
  height: 1px;
  display: block;
  background-color: #a6d0dd;
}
.tokenomics_line:hover::after {
  width: 0%;
}
.pt130 {
  padding-top: 130px;
}
.wrap {
  width: 62%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.inner {
  width: 100%;
  padding-bottom: 32px;
}
.orange {
  color: #ff6969;
}
.flex {
  display: flex;
}
.alignItemsCenter {
  align-items: center;
}
.between {
  justify-content: space-between;
}
.textLeft {
  text-align: left;
}
.column {
  flex-direction: column;
}
.width {
  width: 270px;
}
.teaser {
  padding-bottom: 4px;
}
.text {
  display: flex;
  width: 260px;
}
.tokenIcon {
  margin-right: 10px;
}
.space {
  margin-bottom: 56px;
}
.link {
  padding-bottom: 4px;
}
.placeHolder {
  width: 24px;
}
.arrow {
  margin-left: 10px;
}
.overlay {
  z-index: -1;
  margin: 0 10px 0 -8px;
}
.overlay svg path {
  fill: #d0c9bf;
}
.itemWrap {
  margin-bottom: 10px;
}
/* Tokenomics Head */

/* Distribution */
.pt128 {
  padding-top: 128px;
}
.pt128 h2 {
  margin-bottom: 32px;
}
.distribution_teaser {
  padding-bottom: 64px;
}
.textWrap {
  margin-left: 16px;
}
.textWrap p:nth-child(1) {
  margin-bottom: 8px;
}
.distribution_flex {
  display: flex;
  justify-content: flex-start;
  gap: 92px;
}
.distribution_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 24px;
}
@media (max-width: 768px) {
  .distribution_flex {
    flex-direction: column;
  }
  .distribution_grid {
    grid-template-columns: 1fr;
  }
  .distribution_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* Distribution */

/* Schedule */
.schedule_teaser {
  padding-bottom: 8px;
}
.schedule_title {
  margin: 64px 0 32px 0;
}
.schedule_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.schedule_text_wrap {
  padding-bottom: 28px;
}
/* Schedule */

/* Event Details */
.pt64 {
  padding-top: 64px;
}
.left_bar {
  margin-right: 172px;
  width: 100%;
}
.muted_text {
  color: #d0c9bf;
}
.icon_wrap {
  margin: 64px 0 16px 0;
}
.icon_wrap svg {
  margin-right: 16px;
}
.eventDetails_textWrap {
  display: flex;
  row-gap: 32px;
  flex-direction: column;
}
.events_teaser {
  padding-bottom: 8px;
}
/* Event Details */

/* Certik */
.pt80 {
  padding: 80px 0 128px 0;
}
.certik_text {
  padding-top: 32px;
}
.certik_text p:nth-child(1) {
  padding-bottom: 8px;
}
.certik_description {
  padding-bottom: 32px;
}
.certik_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.certik_line::after {
  content: '';
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  width: 202px;
  height: 1px;
  display: block;
  background-color: #a6d0dd;
}
.certik_line:hover::after {
  width: 0%;
}
/* Certik */

/* Download */
.p280 {
  padding: 280px 0;
}
.catena_logo {
  margin: 0 18px;
}
.downloadIcons {
  margin-top: 48px;
  gap: 20px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* Download */
