.itemContainer {
  display: flex;
}

.dashboardMid__slider {
  display: flex;
  margin-top: 25px;
  border: 1px solid #0500ff80;
  background-color: #09111f;
  position: relative;
}

.dashboardMid__sliderLogo {
  margin-right: 10px !important;
}

.dashboardMid__slide {
  padding: 25px;
}

.dashboardMid__slide span {
  color: #b2b5ba;
}

.dashboardMid__slide p:nth-child(2) {
  margin: 0 30px 0 0;
}

.dashboardMid__flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sliderButtons.dashboardMid__flex{
  margin-top: 0px;
  overflow: hidden;
  max-height: 0px;
  transition: .6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  opacity: 0;
}

.itemContainer:hover .sliderButtons.dashboardMid__flex{
  max-height: 500px;
  opacity: 1;
}

.marginZero {
  margin: 0 !important;
}

.dashboardMid__flexLast{
  margin-bottom: 16px;
}

.orangeColor {
  color: #ff7152 !important;
}

.miniMenu {
  margin-left: 20px;
  cursor: pointer;
}

.sliderModal {
  display: none;
}


@media (max-width: 767px) {
  .dashboardMid__flex {
    align-items: inherit;
  }

  .dashboardMid__flex button {
    width: 80px;
  }

  .miniMenu {
    margin-top: 10px;
  }

}
