.voteLengthContainer {
  display: flex;
  position: relative;
  margin: 10px 0 3px 0;
}

.placeHolder {
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.06);
  border-radius: 3px;
}

.voteLength {
  border: 3px solid#FF7152;
  border-radius: 3px;
  position: absolute;
}

.voteNumbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.voteNumbers p{
  font-size: 13px;
  line-height: 18px;
}

.voteNumbers p:first-child{
  color: rgba(255, 255, 255, 0.3);
}

.choice{
  font-size: 15px;
  line-height: 21px;
}