.wrapper {
  border: 1px solid #16202933;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wrapperHeader {
  padding: 20px;
  border-bottom: 1px solid #16202933;
  border-radius: 20px 20px 0 0;
  background: rgba(22, 32, 41, 0.08);
  width: 100%;
}

.wrapperBody {
  width: 100%;
  background: #1620290d;
  padding: 10px 20px;
}

.choice {
  color: rgba(22, 32, 41, 0.6);
  padding: 13px 16px;
  border: 1px solid #16202933;
  background-color: #fff3e5;
  border-radius: 36px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.choice span {
  color: rgba(255, 105, 105, 0.6);
  margin: 0 4px;
  display: flex;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.circle {
  width: 18px;
  height: 18px;
  border: 1px solid #162029;
  background-color: transparent;
  margin-right: 13px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.voted {
  min-height: 80px;
}

.selectedCircle {
  background: #ff6969;
}

.wrapperBody:last-child > div:last-child > span {
  color: #ff6969;
}
