.ConfirmationBox {
  display: flex;
}

/*Ipad Pro 1024*/
@media (max-width: 1365px) {
  .ConfirmationBox {
    display: flex;
    flex-direction: column;
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
}

/*Mobile 320*/
@media (max-width: 768px) {
}
