.footer__joinImg {
    position: absolute;
    width: 100%;
    height: 130%;
    top: -15%;
    left: 0px;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
 }

 .inputContainer {
    position: relative;
    margin-top: 10px;
 }

.footer__join {
    display: flex;
    /* height: 200px; */
    width: 1070px;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}

.footer__joinInner {
    padding-top: 50px;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 3;
    padding-left: 60px;
    padding-right: 60px;
}
























.join_container.container {
    display: none;
}
.home-page ~ .footer__main .join_container.container,
.community-page ~ .footer__main .join_container.container,
.proposal-page ~ .footer__main .join_container.container,
.academy-page ~ .footer__main .join_container.container,
.article-page ~ .footer__main .join_container.container,
.press-page ~ .footer__main .join_container.container,
.api-page ~ .footer__main .join_container.container{
    display: flex;
}


.errorMessage {
    font-size: 13px;
    color: #ff7152;
    position: absolute;
    bottom: -22px;
    left: 0px;
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    opacity: 0;
    pointer-events: none;
}
.inputContainer.error .mInput {
    border-color: #ff7152;
}
.inputContainer.error .errorMessage {
    opacity: 1;
}
.footer__second-link-container {
    display: flex;
    flex-direction: column;
}
.footer__joinDescription {
    font-size: 15px;
    line-height: 25px;
}
.footer__joinTitle span {
    color: #ff7152;
    font-size: inherit;
}
.footer__joinTitle {
    font-size: 30px;
    line-height: 42px;
}
.footer__joinInner > div {
    width: 50%;
}
.footer__joinInner {
    padding-top: 50px;
    display: flex;
    width: 100%;
    position: relative;
    z-index: 3;
    padding-left: 60px;
    padding-right: 60px;
}
.footer__joinImg {
    position: absolute;
    width: 100%;
    height: 130%;
    top: -15%;
    left: 0px;
    object-fit: cover;
    z-index: 1;
}
.footer__join {
    display: flex;
    height: 200px;
    width: 1070px;
    overflow: hidden;
    position: relative;
    margin-bottom: 100px;
}
.footer__join:after {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150%;
    height: 100%;
    content: "";
    z-index: 2;
    background: rgb(0, 5, 15);
    background: linear-gradient(
        90deg,
        rgba(0, 5, 15, 0) 0%,
        rgba(0, 5, 15, 1) 100%
    );
}

.container {
    padding-left: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.footerInner {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 48px;
}

.share a {
    margin-right: 16px;
}
.share a path {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.share a:hover path {
    fill: #ff7152;
}
.subscribe-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.subscribe-container .ttl {
    font-size: 15px;
    margin-right: 30px;
    opacity: 0.6;
}
.button {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 250px;
    top: 0px;
}
.button input {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.button svg {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    cursor: pointer;
}
.button svg path {
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}
.button input:hover ~ svg path {
    fill: #ff7152;
}
.button input:hover ~ svg {
    transform: translateX(5px);
}
/* input {
    width: 288px;
    background: transparent;
    height: 48px;
    padding: 0px 20px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    color: #fff;
} */
/* input::placeholder {
    color: rgba(255, 255, 255, 0.5);
} */
/* input:focus {
    border-color: #ff7152;
} */


/* New Version Styles */


.join_container input {
    width: 288px;
    background: transparent;
    height: 48px;
    padding: 0px 20px;
    font-size: 14px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    color: #fff;
}
.join_container input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.join_container input:focus {
    border-color: #ff7152;
}


/*Laptop 1440*/
@media (max-width: 1900px) {
    .footStep {
        flex-direction: column;
    }
    .subscribe-container {
        flex-direction: column;
        align-items: baseline;
    }
    .ttl {
        margin-bottom: 13px;
    }
    .container {
        padding-left: 250px;
        flex-direction: column;
    }

}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
    .footer__logo img{
        margin-bottom: 10px;
    }
    .footer__support-links a{
        margin-right: 15px;
    }
    .footer__support-links a svg,.footer__support-main svg{
        transform: scale(.8);
        transform-origin: left;
    }
    .footer__up-floor-nav a {
        font-size: 12px;
    }
    .footer__logo {
        margin-right: 20px;
    }
    .footer__up-floor-nav a {
        margin-right: 20px;
    }
    .footer__second-link-container {
        align-items: center;
    }
    /* .footer__logo {
    justify-content: center;
  } */
    .footer__logo img {
        max-width: 120px;
    }
    .footer__last-copy {
        margin-top: 20px;
    }
    /* .share {
    justify-content: center;
  }
  .share a {
    margin: 0px 8px;
  } */
    .footer__join {
        height: 170px;
    }
    .footer__joinInner {
        padding: 30px;
    }
    .footer__joinTitle {
        font-size: 20px;
        line-height: 32px;
    }
    .footer__join {
        width: 100%;
    }
    /* .container,
  .footerInner {
    flex-direction: column;
    align-items: center;
  } */
    .nav {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .nav a {
        margin-right: 0px;
        margin-top: 15px;
    }
    .copyright {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 40px;
    }
    .subscribe-container {
        margin-left: 0px;
    }
    .footer__second-container {
        width: 100%;
    }
    .footer__second-container-column {
        align-items: center;
    }

    /* New Footer Styles */
    .footer__nav-ttl,
    .col_ttl {
        font-size: 14px;
        line-height: 20px;
    }
    .footer__nav-list a {
        font-size: 12px;
        line-height: 16px;
    }
    .footer__nav-list a[data-v-5e68c45a]:not(:last-child) {
        margin-bottom: 8px;
    }
}
/*Ipad 768*/
@media (max-width: 1023px) {
    .footer__support{
        margin-top: 30px;
        flex-direction: column;
    }
    .footer__last-nav a {
        margin: 0px 12px;
    }
    .footer__last-nav {
        margin: 30px 0px;
    }
    .btnUp {
        margin-right: auto;
        margin-top: 30px;
    }
    .footer__last {
        flex-direction: column-reverse;
    }
    .footer__up-floor-nav {
        margin: 30px 0px;
    }
    .share {
        margin-right: auto;
    }
    .footer__up-floor {
        flex-direction: column;
    }
    .footer__join {
        margin-bottom: 50px;
        /*margin-left: -80px;*/
    }
    .footer__join:after {
        width: 50%;
    }
    .subscribe-container {
        margin-top: 15px;
    }
    .footer__joinInner > div {
        width: 100%;
    }
    .footer__joinInner {
        flex-direction: column;
    }
    .footer__main.start-page .container {
        padding: 0px 50px;
    }

    .footerInner {
        flex-direction: column;
        padding-top: 30px;
    }
    .footer__last-copy {
        margin-top: 0;
    }
    .footer_col:first-child,
    .footer_col:nth-child(2),
    .footer_col:nth-child(3) {
        width: 100%;
    }
    .footer_col:nth-child(3) {
        margin-top: 20px;
        align-items: center;
    }
    .footer_nav {
        flex-direction: column;
        margin-top: 30px;
    }
    .footer__nav-box {
        margin-bottom: 15px;
    }
    .footer__nav-box:nth-child(even),
    .footer__nav-box:nth-child(odd) {
        width: 100%;
        padding-right: 0;
    }
    .nav_head {
        cursor: pointer;
    }
}
/*Mobile 320*/
@media (max-width: 767px) {
    .footer__support-links {
        padding-top: 25px;
        overflow: hidden;
    }
    .footer__support-main div{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .footer__support-links a svg, .footer__support-main svg {
        transform: scale(.7);
    }
    .footer__support-links a {
        margin-right: -20px;
    }
    .footer__up-floor-nav a {
        text-align: center;
        font-size: 15px;
        margin-right: 0px;
        margin: 10px 0px;
    }
    .footer__up-floor-nav {
        flex-direction: column;
        display: flex;
    }
    .footer__second-ttl {
        display: flex;
        align-items: center;
    }
    .footer__second-ttl svg {
        display: flex;
        margin-left: 10px;
        transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
    }
    .footer__second-ttl.active svg {
        transform: rotate(180deg);
    }
    .footer__join {
        margin-bottom: 30px;
        margin-left: 15px;
        height: 205px;
    }
    .container {
        padding-left: 0px;
    }
    .copyright {
        margin-bottom: 0px;
    }
    .footer__second-ttl {
        margin-top: 30px;
    }
    .footer__second-container-column {
        width: 100%;
    }
    .footer__second-container {
        flex-direction: column;
    }
    footer .container {
        padding-left: 15px;
    }
    .footerBg {
        width: 100%;
    }
    .footer__joinInner {
        padding: 20px;
    }

    .footer__joinInner > div {
        width: 100%;
    }
    .footer__last-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footer__main.start-page .container {
        padding: 0px 15px;
    }
}