@font-face {
  font-family: 'Noto-Sans';
  src: url('../public/fonts/NotoSans-Regular.ttf') format('truetype');
  /* src: url("../public/fonts/Lack-Regular.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Lack-Regular.svg#Lack-Regular") format("svg"),
    url("../public/fonts/Lack-Regular.ttf") format("truetype"), url("../public/fonts/Lack-Regular.woff") format("woff"),
    url("../public/fonts/Lack-Regular.woff2") format("woff2"); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lack-Regular';
  src: url('../public/fonts/Lack-Regular.ttf') format('truetype');
  /* src: url("../public/fonts/Lack-Regular.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Lack-Regular.svg#Lack-Regular") format("svg"),
    url("../public/fonts/Lack-Regular.ttf") format("truetype"), url("../public/fonts/Lack-Regular.woff") format("woff"),
    url("../public/fonts/Lack-Regular.woff2") format("woff2"); */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto-Sans';
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  outline-color: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ttl {
  font-family: 'Lack-Regular' !important;
  font-family: 'Lack-Regular' !important;
}

html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*padding-bottom: 200vh;*/
  background-color: #fff2e4;
  /*dont use overflow hidden to body*/
}

ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #A6D0DD;
}
.noise-parent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  left: 0px;
  top: 0px;
}
.noise {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.4s infinite;
  opacity: 0.5;
  visibility: visible;
  z-index: 0;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
.circle_btn {
  display: flex;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border: 1px solid #0500ff;
  font-size: 16px;
  border-radius: 50%;
}

.main_btn {
  display: flex;
  height: 42px;
  align-items: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border: 1px solid #ff7152;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  padding: 0px 24px;
}

.main_btn:hover {
  background: #ff7152;
}

.main_btn.blue {
  border-color: #0500ff;
}

.main_btn.blue:hover,
.circle_btn:hover {
  background: #0500ff;
}

.main_btn.blue.filled {
  background: #0500ff;
}

.main_btn.blue.filled:hover {
  background: transparent;
}

.main_btn.disabled {
  border-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.2) !important;
  cursor: not-allowed;
  background: transparent !important;
}

.font-18 {
  font-size: 18px;
}

.font-72 {
  font-size: 72px;
  line-height: 80px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0px 155px;
  margin: 0px auto;
  position: relative;
}

.container_bordered {
  width: 100%;
  max-width: 1920px;
  padding: 0px 40px;
  margin: 0px auto;
  position: relative;
}

.container_bordered-child {
  width: 100%;
  padding: 55px 115px;
  border-radius: 20px;
  border: 1px solid rgba(22, 32, 41, 0.2);
  background: #f3e4d2;
}

.font-20 {
  font-size: 20px;
  line-height: 150%;
}

.font-40 {
  font-size: 40px;
  line-height: 120%;
}

.font-90 {
  font-size: 90px;
  line-height: 120%;
}

.pT-180 {
  padding-top: 180px;
}

.text ul li {
  position: relative;
  display: flex;
  padding-left: 20px;
  margin-top: 15px;
}

.text ul li:after {
  content: '';
  position: absolute;
  top: 9px;
  background-color: #a6d0dd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #162029;
  left: 0px;
}

/* .text ol {
  list-style-type: none;
  counter-reset: custom-counter;
}

.text ol li:before {
  content: counter(custom-counter) '.';
  counter-increment: custom-counter;
  padding-right: 10px;
  color: #a6d0dd;
  font-weight: 400;
  -webkit-text-stroke: 1px #162029;
   text-stroke: 1px #162029;
 } */
.text ol {
  list-style-type: none;
  padding-left: 0;
}

.text ol li {
  position: relative;
  padding-right: 11px;
  -webkit-text-stroke: 1px #162029;
  color: #a6d0dd;
}

.text ol li::after {
  content: '';
  position: absolute;
  top: 32px;
  background-color: #a6d0dd;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: 1px solid #162029;
}

.custum-text h1,
.custum-text h2,
.custum-text h3,
.custum-text h4,
.custum-text h5,
.custum-text h6 {
  font-family: 'Lack-Regular' !important;
}

.custum-text h1 {
  font-size: 100px;
  line-height: 110px;
  margin-bottom: 60px;
}

.custum-text h2 {
  font-size: 51px;
  line-height: 66px;
  margin-bottom: 40px;
}

.custum-text h4 {
  font-size: 30px;
  line-height: 44px;
  margin-bottom: 40px;
}

.custum-text p {
  font-size: 22px;
  line-height: 34px;
  color: #162029;
  margin-bottom: 40px;
}

.custum-text span {
  display: flex;
}

.custum-text img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin: 60px 0;
  height: auto;
}

.custum-text hr {
  margin-bottom: 40px;
}

.custum-text button {
  background-color: #fff;
  color: #00050f;
  padding: 4px 10px;
  text-align: center;
}

@media (max-width: 1300px) {
  .custum-text h1 {
    font-size: 60px;
    line-height: 90px;
    margin-bottom: 40px;
  }

  .custum-text h2 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  .custum-text h4,
  .custum-text hr {
    margin-bottom: 30px;
  }

  .custum-text img {
    margin: 40px 0;
  }

  .custum-text p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.custum-text .copy-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(22, 32, 41, 0.5);
  flex-wrap: wrap;
}

.custum-text .copy-link .year {
  color: rgba(22, 32, 41, 0.5);
}

.custum-text .copy-link .dot {
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: rgba(22, 32, 41, 0.5);
}

.custum-text .copy-link button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(22, 32, 41, 0.5);
  gap: 10px;
  background-color: transparent;
  margin-left: 30px;
}

form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.col-xs-6 {
  width: 50%;
  float: left;
}

.col-xs-3 {
  width: 25%;
  float: left;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}
.tech-second-slider .swiper{
  height: 100%;
}
/* IE 10+ */
/*Laptop 1440*/
@media (max-width: 1900px) {
  .pT-180 {
    padding-top: 100px;
  }
  .container_bordered {
    padding: 0px 10px;
  }

  .container_bordered-child {
    width: 100%;
    padding: 35px 25px;
  }

  .font-72 {
    font-size: 56px;
    line-height: 64px;
  }

  .container {
    padding: 0px 40px;
  }
}

/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .font-90 {
    font-size: 50px;
  }

  .main_btn {
    height: 35px;
    padding: 0px 15px;
    font-size: 12px;
  }
  .container {
    padding: 0px 25px;
  }

  .frameworks-container__frameworks-tab img {
    transform: scale(0.7);
  }
}

/*Ipad 768*/
@media (max-width: 1023px) {
  .font-40 {
    font-size: 35px;
  }
  .techno-tabs__item h3 svg {
    position: relative;
    left: 0px;
    margin-right: 15px;
  }

  .pT-160 {
    padding-top: 50px;
  }

  .pB-160 {
    padding-bottom: 50px;
  }

  .font-51 {
    font-size: 20px;
    line-height: 40px;
  }

  .container {
    padding: 0px 25px;
  }
}

/*Mobile 320*/
@media (max-width: 767px) {
  .font-40 {
    font-size: 25px;
  }
  .font-20 {
    font-size: 16px;
  }
  .pT-180 {
    padding-top: 80px;
  }
  .text-editor h2,
  .text-editor h3,
  .text-editor h4 {
    font-size: 20px;
    line-height: 30px;
  }

  .text-editor p {
    font-size: 15px;
    line-height: 24px;
  }

  .frameworks-container__frameworks-tabs {
    align-items: center;
  }

  .frameworks-container__frameworks-tab {
    height: auto;
    width: 33.3333%;
    padding-left: 0px !important;
    text-align: center;
    padding: 15px;
  }

  .frameworks-container__frameworks-tab img {
    height: 40px;
    width: 100%;
    object-fit: contain;
  }

  .container {
    padding: 0px 15px;
  }

  .feedback-form .el-form {
    width: 100%;
  }
}

h3 {
  font-weight: 400;
  font-weight: bold;
}

@media (max-width: 767px) {
  .font-90 {
    font-size: 36px;
  }
  .custum-text h1 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  .custum-text h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }

  .custum-text h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .custum-text img {
    margin: 30px 0;
  }

  .custum-text p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .custum-text hr {
    margin-bottom: 20px;
  }
}
