@font-face {
  font-family: 'Noto-Sans';
  src: url('../public/fonts/NotoSans-Regular.ttf') format('truetype');
  /* src: url("../public/fonts/Lack-Regular.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/Lack-Regular.svg#Lack-Regular") format("svg"),
    url("../public/fonts/Lack-Regular.ttf") format("truetype"), url("../public/fonts/Lack-Regular.woff") format("woff"),
    url("../public/fonts/Lack-Regular.woff2") format("woff2"); */
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto-Sans';
  font-size: 16px;
  /* line-height: 24px; */
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  outline-color: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /*padding-bottom: 200vh;*/
  background: rgba(240, 224, 206, 1); /*dont use overflow hidden to body*/
}
ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
}

h3 {
  font-size: 20px;
}
input,
textarea {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
/* width */
*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #0500ff;
}

h1 {
  font-size: 90px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-weight: bold;
}
.circle_btn {
  display: flex;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border: 1px solid #0500ff;
  font-size: 16px;
  border-radius: 50%;
}
.main_btn {
  display: flex;
  height: 42px;
  align-items: center;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  border: 1px solid #ff7152;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  padding: 0px 24px;
}
.main_btn:hover {
  background: #ff7152;
}
.main_btn.blue {
  border-color: #0500ff;
}
.main_btn.blue:hover,
.circle_btn:hover {
  background: #0500ff;
}
.main_btn.blue.filled {
  background: #0500ff;
}
.main_btn.blue.filled:hover {
  background: transparent;
}
.main_btn.disabled {
  border-color: rgba(255, 255, 255, 0.2) !important;
  color: rgba(255, 255, 255, 0.2) !important;
  cursor: not-allowed;
  background: transparent !important;
}
.font-18 {
  font-size: 18px;
}
.font-72 {
  font-size: 72px;
  line-height: 80px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0px 200px;
  margin: 0px auto;
  position: relative;
  background-color: #fff2e4;
}
.font-20 {
  font-size: 20px;
  line-height: 30px;
}
.font-51 {
  font-size: 40px;
  line-height: 66px;
  font-weight: bold;
}
.pT-160 {
  padding-top: 160px;
}
.pB-160 {
  padding-bottom: 160px;
}

form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}
.top-margin-10 {
  margin-top: 10px;
}
.top-margin-15 {
  margin-top: 15px;
}
.top-margin-20 {
  margin-top: 20px;
}
.top-margin-25 {
  margin-top: 25px;
}
.top-margin-30 {
  margin-top: 30px;
}
.top-margin-35 {
  margin-top: 35px;
}
.top-margin-40 {
  margin-top: 40px;
}
.top-margin-40 {
  margin-top: 45px;
}
.top-margin-50 {
  margin-top: 50px;
}
.right-margin-10 {
  margin-right: 10px;
}
.right-margin-15 {
  margin-right: 15px;
}
.right-margin-20 {
  margin-right: 20px;
}
.right-margin-25 {
  margin-right: 25px;
}
.right-margin-30 {
  margin-right: 30px;
}
.right-margin-35 {
  margin-right: 35px;
}
.right-margin-40 {
  margin-right: 40px;
}
.right-margin-40 {
  margin-right: 45px;
}
.right-margin-50 {
  margin-right: 50px;
}
.bottom-margin-10 {
  margin-bottom: 10px;
}
.bottom-margin-15 {
  margin-bottom: 15px;
}
.bottom-margin-20 {
  margin-bottom: 20px;
}
.bottom-margin-25 {
  margin-bottom: 25px;
}
.bottom-margin-30 {
  margin-bottom: 30px;
}
.bottom-margin-35 {
  margin-bottom: 35px;
}
.bottom-margin-40 {
  margin-bottom: 40px;
}
.bottom-margin-40 {
  margin-bottom: 45px;
}
.bottom-margin-50 {
  margin-bottom: 50px;
}
.left-margin-10 {
  margin-left: 10px;
}
.left-margin-15 {
  margin-left: 15px;
}
.left-margin-20 {
  margin-left: 20px;
}
.left-margin-25 {
  margin-left: 25px;
}
.left-margin-30 {
  margin-left: 30px;
}
.left-margin-35 {
  margin-left: 35px;
}
.left-margin-40 {
  margin-left: 40px;
}
.left-margin-40 {
  margin-left: 45px;
}
.left-margin-50 {
  margin-left: 50px;
}
img {
  max-width: 100%;
  height: auto;
}
.no-padd {
  padding: 0px !important;
}
.no-padd-bottom {
  padding-bottom: 0px !important;
}
.no-padd-top {
  padding-top: 0px !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.no-margin-top {
  margin-top: 0px !important;
}
.col-xs-6 {
  width: 50%;
  float: left;
}
.col-xs-3 {
  width: 25%;
  float: left;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
/*Laptop 1440*/
@media (max-width: 1900px) {
  .font-72 {
    font-size: 56px;
    line-height: 64px;
  }
  .container {
    padding: 0px 40px;
  }
}
/*Ipad Pro 1024*/
@media (max-width: 1300px) {
  .main_btn {
    height: 35px;
    padding: 0px 15px;
    font-size: 12px;
    .h3 {
      font-weight: bold;
    }
  }
  .frameworks-container__frameworks-tab img {
    transform: scale(0.7);
  }
  .container {
    padding: 0px 25px;
  }

  .font-51 {
    font-size: 20px;
    line-height: 50px;
  }
  .pT-160 {
    padding-top: 100px;
    .h3 {
      font-weight: bold;
    }
  }
  .pB-160 {
    padding-bottom: 100px;
  }
}
/*Ipad 768*/
@media (max-width: 1023px) {
  .techno-tabs__item h3 svg {
    position: relative;
    left: 0px;
    margin-right: 15px;
  }
  .pT-160 {
    padding-top: 50px;
  }
  .pB-160 {
    padding-bottom: 50px;
  }
  .font-51 {
    font-size: 20px;
    line-height: 40px;
  }
  .container {
    padding: 0px 25px;
  }
}
/*Mobile 320*/
@media (max-width: 767px) {
  .text-editor h2,
  .text-editor h3,
  .text-editor h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-editor p {
    font-size: 15px;
    line-height: 24px;
  }
  .frameworks-container__frameworks-tabs {
    align-items: center;
  }
  .frameworks-container__frameworks-tab {
    height: auto;
    width: 33.3333%;
    padding-left: 0px !important;
    text-align: center;
    padding: 15px;
  }
  .frameworks-container__frameworks-tab img {
    height: 40px;
    width: 100%;
    object-fit: contain;
  }
  .container {
    padding: 0px 15px;
  }

  .feedback-form .el-form {
    width: 100%;
  }
}

h3 {
  font-weight: bold;
}
