.slider {
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 89px;
  margin-top: 233px;
  max-width: 1920px;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  width: fit-content;
  animation: scroll 10s linear infinite;
}

.sliderTrack svg {
  width: 476px;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1665px) {
  .slider {
    margin-top: 150px;
    margin-bottom: 70px;
  }
}
@media (max-width: 1023px) {
  .slider {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .slider {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}
