.details {
  border: 1px solid #16202933;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #16202933;
  border-radius: 20px 20px 0 0;
  background: rgba(22, 32, 41, 0.08);
  width: 100%;
}
.detailsContent,
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detailsContent p:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.detailsBody {
  width: 100%;
  background: #1620290d;
  padding: 10px 20px;
}
.typeDetails,
.date,
.detailsContent {
  padding: 10px 0;
}
