.bodyMarginTop {
  margin-top: 100px;
}

@media (max-width: 1023px) {
  .half{
    margin-top:14px;
  }
}
.buttonSection{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.balanceLeft p{
  font-size: 12px;
  text-align: left;
  color: #969ba6;
  text-transform: capitalize;
  line-height: 16px;
}
.balanceLeft h3{
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap ;
  overflow: hidden;
}
.balanceRight p{
  font-size: 12px;
  text-align: left;
  color: #969ba6;
  text-transform: capitalize;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.balanceRight h3{
  margin-top: 10px;
}

@media (max-width: 767px) {
  .buttonSection{
    flex-wrap: wrap;
  }
  .balanceLeft{
   width: 65%;
  }
  .balanceRight{
    width: 35%;
   }
}